In [1]:
from sqlalchemy import create_engine, Column, Integer, String, Date, DateTime, Float, BigInteger, Text
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
engine = create_engine("sqlite://", echo=True)
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()

/var/folders/hq/659b4zd16vscxjxb3lxdr18c0000gp/T/ipykernel_64197/1111253954.py:7: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [2]:
class Person(Base):
    __tablename__ = 'PERSON'
    person_id = Column(Integer, primary_key=True, nullable=False)
    gender_concept_id = Column(Integer, nullable=False)
    year_of_birth = Column(Integer, nullable=False)
    month_of_birth = Column(Integer)
    day_of_birth = Column(Integer)
    birth_datetime = Column(DateTime)
    race_concept_id = Column(Integer, nullable=False)
    ethnicity_concept_id = Column(Integer, nullable=False)
    location_id = Column(Integer)
    provider_id = Column(Integer)
    care_site_id = Column(Integer)
    person_source_value = Column(String(50))
    gender_source_value = Column(String(50))
    gender_source_concept_id = Column(Integer)
    race_source_value = Column(String(50))
    race_source_concept_id = Column(Integer)
    ethnicity_source_value = Column(String(50))
    ethnicity_source_concept_id = Column(Integer)

class ObservationPeriod(Base):
    __tablename__ = 'OBSERVATION_PERIOD'
    observation_period_id = Column(Integer, primary_key=True, nullable=False)
    person_id = Column(Integer, nullable=False)
    observation_period_start_date = Column(Date, nullable=False)
    observation_period_end_date = Column(Date, nullable=False)
    period_type_concept_id = Column(Integer, nullable=False)

# Add more class definitions for other tables following the same pattern

# Create the tables in the database
Base.metadata.create_all(engine)

2024-04-15 16:40:46,355 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 16:40:46,357 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("PERSON")
2024-04-15 16:40:46,358 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-15 16:40:46,358 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("PERSON")
2024-04-15 16:40:46,359 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-15 16:40:46,359 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("OBSERVATION_PERIOD")
2024-04-15 16:40:46,360 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-15 16:40:46,360 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("OBSERVATION_PERIOD")
2024-04-15 16:40:46,361 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-15 16:40:46,362 INFO sqlalchemy.engine.Engine
CREATE TABLE "PERSON" (
	person_id INTEGER NOT NULL,
	gender_concept_id INTEGER NOT NULL,
	year_of_birth INTEGER NOT NULL,
	month_of_birth INTEGER,
	day_of_birth INTEGER,
	birth_datetime DATETIME,
	race_concept_id INTEGER NOT NULL,
	ethnicity_concept_id INTEGER NOT NULL,
	location_id INTEGER,
	provider_id INTEGER,
	care_site_id INTEGER,
	person_source_value VARCHAR(50),
	gender_source_value VARCHAR(50),
	gender_source_concept_id INTEGER,
	race_source_value VARCHAR(50),
	race_source_concept_id INTEGER,
	ethnicity_source_value VARCHAR(50),
	ethnicity_source_concept_id INTEGER,
	PRIMARY KEY (person_id)
)


2024-04-15 16:40:46,363 INFO sqlalchemy.engine.Engine [no key 0.00074s] ()
2024-04-15 16:40:46,364 INFO sqlalchemy.engine.Engine
CREATE TABLE "OBSERVATION_PERIOD" (
	observation_period_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	observation_period_start_date DATE NOT NULL,
	observation_period_end_date DATE NOT NULL,
	period_type_concept_id INTEGER NOT NULL,
	PRIMARY KEY (observation_period_id)
)


2024-04-15 16:40:46,364 INFO sqlalchemy.engine.Engine [no key 0.00049s] ()
2024-04-15 16:40:46,365 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
from sqlalchemy import create_engine, text

# Connection details - replace with your actual details
DATABASE = 'test'  # The name of your MySQL database
USERNAME = 'root'  # Your MySQL database username
PASSWORD = 'TSUtigers123'  # Your MySQL database password
SERVER = 'localhost'  # The hostname or IP address of your MySQL server

# SQLAlchemy connection string for MySQL using mysqlconnector
connection_string = f'mysql+mysqlconnector://{USERNAME}:{PASSWORD}@{SERVER}/{DATABASE}'

# Creating the engine for MySQL
engine = create_engine(connection_string, echo=True)

# Path to your SQL file
sql_file_path = './OMOPCDM_sql_server_5.4_ddl.sql'  # Make sure the SQL commands are compatible with MySQL

# Open, read, and prepare the SQL file
with open(sql_file_path, 'r') as sql_file:
    sql_commands = sql_file.read()

    # Since you're working with MySQL, ensure SQL commands in your file are compatible with MySQL
    # Adjust any placeholder replacements as necessary, depending on your SQL file's content

# Execute the SQL commands on MySQL
with engine.begin() as conn:
    # Assuming your SQL commands are separated by semicolons, execute them individually
    # This approach might need adjustments based on the actual content of your SQL file
    for command in sql_commands.split(';'):
        if command.strip():  # Avoid executing empty commands
            conn.execute(text(command))

2024-04-15 16:42:02,983 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-15 16:42:02,983 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:42:02,985 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-15 16:42:02,985 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:42:02,986 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-15 16:42:02,986 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:42:02,987 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 16:42:02,988 INFO sqlalchemy.engine.Engine --sql server CDM DDL Specification for OMOP Common Data Model 5.4

--HINT DISTRIBUTE ON KEY (person_id)
CREATE TABLE @cdmDatabaseSchema.PERSON (
			person_id integer NOT NULL,
			gender_concept_id integer NOT NULL,
			year_of_birth integer NOT NULL,
			month_of_birth integer NULL,
			day_of_birth integer NULL,
			birth_datetime datetime NULL,
			race_concept_id integer NOT NULL,
			ethnicity_concept_id integer NOT NULL,
			location_id integer NULL,
			provider_id integer NULL,
			care_site_id integer NULL,
			person_source_value varchar(50) NULL,
			gender_source_value varchar(50) NULL,
			gender_source_concept_id integer NULL,
			race_source_value varchar(50) NULL,
			race_source_concept_id integer NULL,
			ethnicity_source_value varchar(50) NULL,
			ethnicity_source_concept_id integer NULL )
2024-04-15 16:42:02,988 INFO sqlalchemy.engine.Engine [generated in 0.00040s] {}
2024-04-15 16:42:02,989 INFO sqlalchemy.engine.Engine ROLLBACK

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '--sql server CDM DDL Specification for OMOP Common Data Model 5.4

--HINT DISTRI' at line 1
[SQL: --sql server CDM DDL Specification for OMOP Common Data Model 5.4

--HINT DISTRIBUTE ON KEY (person_id)
CREATE TABLE @cdmDatabaseSchema.PERSON (
			person_id integer NOT NULL,
			gender_concept_id integer NOT NULL,
			year_of_birth integer NOT NULL,
			month_of_birth integer NULL,
			day_of_birth integer NULL,
			birth_datetime datetime NULL,
			race_concept_id integer NOT NULL,
			ethnicity_concept_id integer NOT NULL,
			location_id integer NULL,
			provider_id integer NULL,
			care_site_id integer NULL,
			person_source_value varchar(50) NULL,
			gender_source_value varchar(50) NULL,
			gender_source_concept_id integer NULL,
			race_source_value varchar(50) NULL,
			race_source_concept_id integer NULL,
			ethnicity_source_value varchar(50) NULL,
			ethnicity_source_concept_id integer NULL )]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [7]:
from sqlalchemy import create_engine, text
import re

# Connection details - replace with your actual details
DATABASE = 'test'
USERNAME = 'root'
PASSWORD = 'TSUtigers123'
SERVER = 'localhost'

# SQLAlchemy connection string for MySQL using mysqlconnector
connection_string = f'mysql+mysqlconnector://{USERNAME}:{PASSWORD}@{SERVER}/{DATABASE}'
engine = create_engine(connection_string, echo=True)

# Path to your SQL file
sql_file_path = './OMOPCDM_sql_server_5.4_ddl.sql'

# Read and prepare the SQL file
with open(sql_file_path, 'r') as sql_file:
    sql_commands = sql_file.read()

# Optional: Remove multiline comments
sql_commands = re.sub(r'/\*.*?\*/', '', sql_commands, flags=re.DOTALL)

# Optional: Remove single-line comments
sql_commands = re.sub(r'--.*$', '', sql_commands, flags=re.MULTILINE)

# Replace placeholder with an empty string or appropriate schema name if needed
sql_commands = sql_commands.replace('@cdmDatabaseSchema.', '')

# Execute the SQL commands on MySQL
with engine.begin() as conn:
    for command in sql_commands.split(';'):
        command = command.strip()
        if command:  # Check if command is not empty
            try:
                conn.execute(text(command))
            except Exception as e:
                print(f"An error occurred executing SQL command:\n{command}\nError: {e}")

print("All commands processed.")

2024-04-15 16:45:34,648 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-15 16:45:34,649 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:45:34,651 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-15 16:45:34,652 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:45:34,653 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-15 16:45:34,653 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:45:34,654 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 16:45:34,655 INFO sqlalchemy.engine.Engine CREATE TABLE PERSON (
			person_id integer NOT NULL,
			gender_concept_id integer NOT NULL,
			year_of_birth integer NOT NULL,
			month_of_birth integer NULL,
			day_of_birth integer NULL,
			birth_datetime datetime NULL,
			race_concept_id integer NOT NULL,
			ethnicity_concept_id integer NOT NULL,
			location_id integer NULL,
			provider_id integer NULL,
			care_site_id integer NULL,
			person_source_value varchar(50) NULL,
			gender_source_value varchar(50) NULL,
			gender_source_concept_id integer NULL,
			race_source_value varchar(50) NULL,
			race_source_concept_id integer NULL,
			ethnicity_source_value varchar(50) NULL,
			ethnicity_source_concept_id integer NULL )
2024-04-15 16:45:34,656 INFO sqlalchemy.engine.Engine [generated in 0.00050s] {}
An error occurred executing SQL command:
CREATE TABLE PERSON (
			person_id integer NOT NULL,
			gender_concept_id integer NOT NULL,
			year_of_birth integer NOT NULL,
			month_of_birth integer NULL,
			day_of_birth integer NULL,
			birth_datetime datetime NULL,
			race_concept_id integer NOT NULL,
			ethnicity_concept_id integer NOT NULL,
			location_id integer NULL,
			provider_id integer NULL,
			care_site_id integer NULL,
			person_source_value varchar(50) NULL,
			gender_source_value varchar(50) NULL,
			gender_source_concept_id integer NULL,
			race_source_value varchar(50) NULL,
			race_source_concept_id integer NULL,
			ethnicity_source_value varchar(50) NULL,
			ethnicity_source_concept_id integer NULL )
Error: (mysql.connector.errors.ProgrammingError) 1050 (42S01): Table 'person' already exists
[SQL: CREATE TABLE PERSON (
			person_id integer NOT NULL,
			gender_concept_id integer NOT NULL,
			year_of_birth integer NOT NULL,
			month_of_birth integer NULL,
			day_of_birth integer NULL,
			birth_datetime datetime NULL,
			race_concept_id integer NOT NULL,
			ethnicity_concept_id integer NOT NULL,
			location_id integer NULL,
			provider_id integer NULL,
			care_site_id integer NULL,
			person_source_value varchar(50) NULL,
			gender_source_value varchar(50) NULL,
			gender_source_concept_id integer NULL,
			race_source_value varchar(50) NULL,
			race_source_concept_id integer NULL,
			ethnicity_source_value varchar(50) NULL,
			ethnicity_source_concept_id integer NULL )]
(Background on this error at: https://sqlalche.me/e/20/f405)
2024-04-15 16:45:34,671 INFO sqlalchemy.engine.Engine CREATE TABLE OBSERVATION_PERIOD (
			observation_period_id integer NOT NULL,
			person_id integer NOT NULL,
			observation_period_start_date date NOT NULL,
			observation_period_end_date date NOT NULL,
			period_type_concept_id integer NOT NULL )
2024-04-15 16:45:34,672 INFO sqlalchemy.engine.Engine [generated in 0.00051s] {}
An error occurred executing SQL command:
CREATE TABLE OBSERVATION_PERIOD (
			observation_period_id integer NOT NULL,
			person_id integer NOT NULL,
			observation_period_start_date date NOT NULL,
			observation_period_end_date date NOT NULL,
			period_type_concept_id integer NOT NULL )
Error: (mysql.connector.errors.ProgrammingError) 1050 (42S01): Table 'observation_period' already exists
[SQL: CREATE TABLE OBSERVATION_PERIOD (
			observation_period_id integer NOT NULL,
			person_id integer NOT NULL,
			observation_period_start_date date NOT NULL,
			observation_period_end_date date NOT NULL,
			period_type_concept_id integer NOT NULL )]
(Background on this error at: https://sqlalche.me/e/20/f405)
2024-04-15 16:45:34,675 INFO sqlalchemy.engine.Engine CREATE TABLE VISIT_OCCURRENCE (
			visit_occurrence_id integer NOT NULL,
			person_id integer NOT NULL,
			visit_concept_id integer NOT NULL,
			visit_start_date date NOT NULL,
			visit_start_datetime datetime NULL,
			visit_end_date date NOT NULL,
			visit_end_datetime datetime NULL,
			visit_type_concept_id Integer NOT NULL,
			provider_id integer NULL,
			care_site_id integer NULL,
			visit_source_value varchar(50) NULL,
			visit_source_concept_id integer NULL,
			admitted_from_concept_id integer NULL,
			admitted_from_source_value varchar(50) NULL,
			discharged_to_concept_id integer NULL,
			discharged_to_source_value varchar(50) NULL,
			preceding_visit_occurrence_id integer NULL )
2024-04-15 16:45:34,675 INFO sqlalchemy.engine.Engine [generated in 0.00052s] {}
An error occurred executing SQL command:
CREATE TABLE VISIT_OCCURRENCE (
			visit_occurrence_id integer NOT NULL,
			person_id integer NOT NULL,
			visit_concept_id integer NOT NULL,
			visit_start_date date NOT NULL,
			visit_start_datetime datetime NULL,
			visit_end_date date NOT NULL,
			visit_end_datetime datetime NULL,
			visit_type_concept_id Integer NOT NULL,
			provider_id integer NULL,
			care_site_id integer NULL,
			visit_source_value varchar(50) NULL,
			visit_source_concept_id integer NULL,
			admitted_from_concept_id integer NULL,
			admitted_from_source_value varchar(50) NULL,
			discharged_to_concept_id integer NULL,
			discharged_to_source_value varchar(50) NULL,
			preceding_visit_occurrence_id integer NULL )
Error: (mysql.connector.errors.ProgrammingError) 1050 (42S01): Table 'visit_occurrence' already exists
[SQL: CREATE TABLE VISIT_OCCURRENCE (
			visit_occurrence_id integer NOT NULL,
			person_id integer NOT NULL,
			visit_concept_id integer NOT NULL,
			visit_start_date date NOT NULL,
			visit_start_datetime datetime NULL,
			visit_end_date date NOT NULL,
			visit_end_datetime datetime NULL,
			visit_type_concept_id Integer NOT NULL,
			provider_id integer NULL,
			care_site_id integer NULL,
			visit_source_value varchar(50) NULL,
			visit_source_concept_id integer NULL,
			admitted_from_concept_id integer NULL,
			admitted_from_source_value varchar(50) NULL,
			discharged_to_concept_id integer NULL,
			discharged_to_source_value varchar(50) NULL,
			preceding_visit_occurrence_id integer NULL )]
(Background on this error at: https://sqlalche.me/e/20/f405)
2024-04-15 16:45:34,679 INFO sqlalchemy.engine.Engine CREATE TABLE VISIT_DETAIL (
			visit_detail_id integer NOT NULL,
			person_id integer NOT NULL,
			visit_detail_concept_id integer NOT NULL,
			visit_detail_start_date date NOT NULL,
			visit_detail_start_datetime datetime NULL,
			visit_detail_end_date date NOT NULL,
			visit_detail_end_datetime datetime NULL,
			visit_detail_type_concept_id integer NOT NULL,
			provider_id integer NULL,
			care_site_id integer NULL,
			visit_detail_source_value varchar(50) NULL,
			visit_detail_source_concept_id Integer NULL,
			admitted_from_concept_id Integer NULL,
			admitted_from_source_value varchar(50) NULL,
			discharged_to_source_value varchar(50) NULL,
			discharged_to_concept_id integer NULL,
			preceding_visit_detail_id integer NULL,
			parent_visit_detail_id integer NULL,
			visit_occurrence_id integer NOT NULL )
2024-04-15 16:45:34,679 INFO sqlalchemy.engine.Engine [generated in 0.00049s] {}
An error occurred executing SQL command:
CREATE TABLE VISIT_DETAIL (
			visit_detail_id integer NOT NULL,
			person_id integer NOT NULL,
			visit_detail_concept_id integer NOT NULL,
			visit_detail_start_date date NOT NULL,
			visit_detail_start_datetime datetime NULL,
			visit_detail_end_date date NOT NULL,
			visit_detail_end_datetime datetime NULL,
			visit_detail_type_concept_id integer NOT NULL,
			provider_id integer NULL,
			care_site_id integer NULL,
			visit_detail_source_value varchar(50) NULL,
			visit_detail_source_concept_id Integer NULL,
			admitted_from_concept_id Integer NULL,
			admitted_from_source_value varchar(50) NULL,
			discharged_to_source_value varchar(50) NULL,
			discharged_to_concept_id integer NULL,
			preceding_visit_detail_id integer NULL,
			parent_visit_detail_id integer NULL,
			visit_occurrence_id integer NOT NULL )
Error: (mysql.connector.errors.ProgrammingError) 1050 (42S01): Table 'visit_detail' already exists
[SQL: CREATE TABLE VISIT_DETAIL (
			visit_detail_id integer NOT NULL,
			person_id integer NOT NULL,
			visit_detail_concept_id integer NOT NULL,
			visit_detail_start_date date NOT NULL,
			visit_detail_start_datetime datetime NULL,
			visit_detail_end_date date NOT NULL,
			visit_detail_end_datetime datetime NULL,
			visit_detail_type_concept_id integer NOT NULL,
			provider_id integer NULL,
			care_site_id integer NULL,
			visit_detail_source_value varchar(50) NULL,
			visit_detail_source_concept_id Integer NULL,
			admitted_from_concept_id Integer NULL,
			admitted_from_source_value varchar(50) NULL,
			discharged_to_source_value varchar(50) NULL,
			discharged_to_concept_id integer NULL,
			preceding_visit_detail_id integer NULL,
			parent_visit_detail_id integer NULL,
			visit_occurrence_id integer NOT NULL )]
(Background on this error at: https://sqlalche.me/e/20/f405)
2024-04-15 16:45:34,682 INFO sqlalchemy.engine.Engine CREATE TABLE CONDITION_OCCURRENCE (
			condition_occurrence_id integer NOT NULL,
			person_id integer NOT NULL,
			condition_concept_id integer NOT NULL,
			condition_start_date date NOT NULL,
			condition_start_datetime datetime NULL,
			condition_end_date date NULL,
			condition_end_datetime datetime NULL,
			condition_type_concept_id integer NOT NULL,
			condition_status_concept_id integer NULL,
			stop_reason varchar(20) NULL,
			provider_id integer NULL,
			visit_occurrence_id integer NULL,
			visit_detail_id integer NULL,
			condition_source_value varchar(50) NULL,
			condition_source_concept_id integer NULL,
			condition_status_source_value varchar(50) NULL )
2024-04-15 16:45:34,682 INFO sqlalchemy.engine.Engine [generated in 0.00033s] {}
An error occurred executing SQL command:
CREATE TABLE CONDITION_OCCURRENCE (
			condition_occurrence_id integer NOT NULL,
			person_id integer NOT NULL,
			condition_concept_id integer NOT NULL,
			condition_start_date date NOT NULL,
			condition_start_datetime datetime NULL,
			condition_end_date date NULL,
			condition_end_datetime datetime NULL,
			condition_type_concept_id integer NOT NULL,
			condition_status_concept_id integer NULL,
			stop_reason varchar(20) NULL,
			provider_id integer NULL,
			visit_occurrence_id integer NULL,
			visit_detail_id integer NULL,
			condition_source_value varchar(50) NULL,
			condition_source_concept_id integer NULL,
			condition_status_source_value varchar(50) NULL )
Error: (mysql.connector.errors.ProgrammingError) 1050 (42S01): Table 'condition_occurrence' already exists
[SQL: CREATE TABLE CONDITION_OCCURRENCE (
			condition_occurrence_id integer NOT NULL,
			person_id integer NOT NULL,
			condition_concept_id integer NOT NULL,
			condition_start_date date NOT NULL,
			condition_start_datetime datetime NULL,
			condition_end_date date NULL,
			condition_end_datetime datetime NULL,
			condition_type_concept_id integer NOT NULL,
			condition_status_concept_id integer NULL,
			stop_reason varchar(20) NULL,
			provider_id integer NULL,
			visit_occurrence_id integer NULL,
			visit_detail_id integer NULL,
			condition_source_value varchar(50) NULL,
			condition_source_concept_id integer NULL,
			condition_status_source_value varchar(50) NULL )]
(Background on this error at: https://sqlalche.me/e/20/f405)
2024-04-15 16:45:34,684 INFO sqlalchemy.engine.Engine CREATE TABLE DRUG_EXPOSURE (
			drug_exposure_id integer NOT NULL,
			person_id integer NOT NULL,
			drug_concept_id integer NOT NULL,
			drug_exposure_start_date date NOT NULL,
			drug_exposure_start_datetime datetime NULL,
			drug_exposure_end_date date NOT NULL,
			drug_exposure_end_datetime datetime NULL,
			verbatim_end_date date NULL,
			drug_type_concept_id integer NOT NULL,
			stop_reason varchar(20) NULL,
			refills integer NULL,
			quantity float NULL,
			days_supply integer NULL,
			sig varchar(255) NULL,
			route_concept_id integer NULL,
			lot_number varchar(50) NULL,
			provider_id integer NULL,
			visit_occurrence_id integer NULL,
			visit_detail_id integer NULL,
			drug_source_value varchar(50) NULL,
			drug_source_concept_id integer NULL,
			route_source_value varchar(50) NULL,
			dose_unit_source_value varchar(50) NULL )
2024-04-15 16:45:34,685 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {}
An error occurred executing SQL command:
CREATE TABLE DRUG_EXPOSURE (
			drug_exposure_id integer NOT NULL,
			person_id integer NOT NULL,
			drug_concept_id integer NOT NULL,
			drug_exposure_start_date date NOT NULL,
			drug_exposure_start_datetime datetime NULL,
			drug_exposure_end_date date NOT NULL,
			drug_exposure_end_datetime datetime NULL,
			verbatim_end_date date NULL,
			drug_type_concept_id integer NOT NULL,
			stop_reason varchar(20) NULL,
			refills integer NULL,
			quantity float NULL,
			days_supply integer NULL,
			sig varchar(255) NULL,
			route_concept_id integer NULL,
			lot_number varchar(50) NULL,
			provider_id integer NULL,
			visit_occurrence_id integer NULL,
			visit_detail_id integer NULL,
			drug_source_value varchar(50) NULL,
			drug_source_concept_id integer NULL,
			route_source_value varchar(50) NULL,
			dose_unit_source_value varchar(50) NULL )
Error: (mysql.connector.errors.ProgrammingError) 1050 (42S01): Table 'drug_exposure' already exists
[SQL: CREATE TABLE DRUG_EXPOSURE (
			drug_exposure_id integer NOT NULL,
			person_id integer NOT NULL,
			drug_concept_id integer NOT NULL,
			drug_exposure_start_date date NOT NULL,
			drug_exposure_start_datetime datetime NULL,
			drug_exposure_end_date date NOT NULL,
			drug_exposure_end_datetime datetime NULL,
			verbatim_end_date date NULL,
			drug_type_concept_id integer NOT NULL,
			stop_reason varchar(20) NULL,
			refills integer NULL,
			quantity float NULL,
			days_supply integer NULL,
			sig varchar(255) NULL,
			route_concept_id integer NULL,
			lot_number varchar(50) NULL,
			provider_id integer NULL,
			visit_occurrence_id integer NULL,
			visit_detail_id integer NULL,
			drug_source_value varchar(50) NULL,
			drug_source_concept_id integer NULL,
			route_source_value varchar(50) NULL,
			dose_unit_source_value varchar(50) NULL )]
(Background on this error at: https://sqlalche.me/e/20/f405)
2024-04-15 16:45:34,688 INFO sqlalchemy.engine.Engine CREATE TABLE PROCEDURE_OCCURRENCE (
			procedure_occurrence_id integer NOT NULL,
			person_id integer NOT NULL,
			procedure_concept_id integer NOT NULL,
			procedure_date date NOT NULL,
			procedure_datetime datetime NULL,
			procedure_end_date date NULL,
			procedure_end_datetime datetime NULL,
			procedure_type_concept_id integer NOT NULL,
			modifier_concept_id integer NULL,
			quantity integer NULL,
			provider_id integer NULL,
			visit_occurrence_id integer NULL,
			visit_detail_id integer NULL,
			procedure_source_value varchar(50) NULL,
			procedure_source_concept_id integer NULL,
			modifier_source_value varchar(50) NULL )
2024-04-15 16:45:34,688 INFO sqlalchemy.engine.Engine [generated in 0.00044s] {}
An error occurred executing SQL command:
CREATE TABLE PROCEDURE_OCCURRENCE (
			procedure_occurrence_id integer NOT NULL,
			person_id integer NOT NULL,
			procedure_concept_id integer NOT NULL,
			procedure_date date NOT NULL,
			procedure_datetime datetime NULL,
			procedure_end_date date NULL,
			procedure_end_datetime datetime NULL,
			procedure_type_concept_id integer NOT NULL,
			modifier_concept_id integer NULL,
			quantity integer NULL,
			provider_id integer NULL,
			visit_occurrence_id integer NULL,
			visit_detail_id integer NULL,
			procedure_source_value varchar(50) NULL,
			procedure_source_concept_id integer NULL,
			modifier_source_value varchar(50) NULL )
Error: (mysql.connector.errors.ProgrammingError) 1050 (42S01): Table 'procedure_occurrence' already exists
[SQL: CREATE TABLE PROCEDURE_OCCURRENCE (
			procedure_occurrence_id integer NOT NULL,
			person_id integer NOT NULL,
			procedure_concept_id integer NOT NULL,
			procedure_date date NOT NULL,
			procedure_datetime datetime NULL,
			procedure_end_date date NULL,
			procedure_end_datetime datetime NULL,
			procedure_type_concept_id integer NOT NULL,
			modifier_concept_id integer NULL,
			quantity integer NULL,
			provider_id integer NULL,
			visit_occurrence_id integer NULL,
			visit_detail_id integer NULL,
			procedure_source_value varchar(50) NULL,
			procedure_source_concept_id integer NULL,
			modifier_source_value varchar(50) NULL )]
(Background on this error at: https://sqlalche.me/e/20/f405)
2024-04-15 16:45:34,691 INFO sqlalchemy.engine.Engine CREATE TABLE DEVICE_EXPOSURE (
			device_exposure_id integer NOT NULL,
			person_id integer NOT NULL,
			device_concept_id integer NOT NULL,
			device_exposure_start_date date NOT NULL,
			device_exposure_start_datetime datetime NULL,
			device_exposure_end_date date NULL,
			device_exposure_end_datetime datetime NULL,
			device_type_concept_id integer NOT NULL,
			unique_device_id varchar(255) NULL,
			production_id varchar(255) NULL,
			quantity integer NULL,
			provider_id integer NULL,
			visit_occurrence_id integer NULL,
			visit_detail_id integer NULL,
			device_source_value varchar(50) NULL,
			device_source_concept_id integer NULL,
			unit_concept_id integer NULL,
			unit_source_value varchar(50) NULL,
			unit_source_concept_id integer NULL )
2024-04-15 16:45:34,691 INFO sqlalchemy.engine.Engine [generated in 0.00048s] {}
An error occurred executing SQL command:
CREATE TABLE DEVICE_EXPOSURE (
			device_exposure_id integer NOT NULL,
			person_id integer NOT NULL,
			device_concept_id integer NOT NULL,
			device_exposure_start_date date NOT NULL,
			device_exposure_start_datetime datetime NULL,
			device_exposure_end_date date NULL,
			device_exposure_end_datetime datetime NULL,
			device_type_concept_id integer NOT NULL,
			unique_device_id varchar(255) NULL,
			production_id varchar(255) NULL,
			quantity integer NULL,
			provider_id integer NULL,
			visit_occurrence_id integer NULL,
			visit_detail_id integer NULL,
			device_source_value varchar(50) NULL,
			device_source_concept_id integer NULL,
			unit_concept_id integer NULL,
			unit_source_value varchar(50) NULL,
			unit_source_concept_id integer NULL )
Error: (mysql.connector.errors.ProgrammingError) 1050 (42S01): Table 'device_exposure' already exists
[SQL: CREATE TABLE DEVICE_EXPOSURE (
			device_exposure_id integer NOT NULL,
			person_id integer NOT NULL,
			device_concept_id integer NOT NULL,
			device_exposure_start_date date NOT NULL,
			device_exposure_start_datetime datetime NULL,
			device_exposure_end_date date NULL,
			device_exposure_end_datetime datetime NULL,
			device_type_concept_id integer NOT NULL,
			unique_device_id varchar(255) NULL,
			production_id varchar(255) NULL,
			quantity integer NULL,
			provider_id integer NULL,
			visit_occurrence_id integer NULL,
			visit_detail_id integer NULL,
			device_source_value varchar(50) NULL,
			device_source_concept_id integer NULL,
			unit_concept_id integer NULL,
			unit_source_value varchar(50) NULL,
			unit_source_concept_id integer NULL )]
(Background on this error at: https://sqlalche.me/e/20/f405)
2024-04-15 16:45:34,694 INFO sqlalchemy.engine.Engine CREATE TABLE MEASUREMENT (
			measurement_id integer NOT NULL,
			person_id integer NOT NULL,
			measurement_concept_id integer NOT NULL,
			measurement_date date NOT NULL,
			measurement_datetime datetime NULL,
			measurement_time varchar(10) NULL,
			measurement_type_concept_id integer NOT NULL,
			operator_concept_id integer NULL,
			value_as_number float NULL,
			value_as_concept_id integer NULL,
			unit_concept_id integer NULL,
			range_low float NULL,
			range_high float NULL,
			provider_id integer NULL,

In [3]:
from sqlalchemy import create_engine, text

DATABASE = 'test'
USERNAME = 'root'
PASSWORD = 'TSUtigers123'
SERVER = 'localhost'

# Assuming USERNAME, PASSWORD, SERVER, and DATABASE variables are defined above this line
connection_string = f'mysql+mysqlconnector://{USERNAME}:{PASSWORD}@{SERVER}/{DATABASE}'
engine = create_engine(connection_string, echo=True)

# Path to your SQL file
sql_file_path = './OMOPCDM_sql_server_5.4_ddl.sql'

# Initialize an empty list to hold executable lines
executable_lines = []

with open(sql_file_path, 'r') as sql_file:
    for line in sql_file:
        # Remove the placeholder from each line if it exists
        line = line.replace('@cdmDatabaseSchema.', '')

        # Filter out lines that are comments or empty
        if not line.strip().startswith('--') and line.strip():
            executable_lines.append(line)

# Combine filtered and placeholder-removed lines back into commands, split by semicolon
commands = "".join(executable_lines).split(';')

# Execute commands
with engine.begin() as conn:
    for command in commands:
        command = command.strip()  # Avoid executing empty commands
        if command:  # Check if command is not empty
            conn.execute(text(command))

2024-04-15 16:47:55,499 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-15 16:47:55,500 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:47:55,501 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-15 16:47:55,501 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:47:55,502 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-15 16:47:55,502 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:47:55,503 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 16:47:55,504 INFO sqlalchemy.engine.Engine CREATE TABLE PERSON (
			person_id integer NOT NULL,
			gender_concept_id integer NOT NULL,
			year_of_birth integer NOT NULL,
			month_of_birth integer NULL,
			day_of_birth integer NULL,
			birth_datetime datetime NULL,
			race_concept_id integer NOT NULL,
			ethnicity_concept_id integer NOT NULL,
			location_id integer NULL,
			provider_id integer NULL,
			care_site_id integer NULL,
			person_source_value varchar(50) NULL,
			gender_source_value varchar(50) NULL,
			gender_source_concept_id integer NULL,
			race_source_value varchar(50) NULL,
			race_source_concept_id integer NULL,
			ethnicity_source_value varchar(50) NULL,
			ethnicity_source_concept_id integer NULL )
2024-04-15 16:47:55,504 INFO sqlalchemy.engine.Engine [generated in 0.00034s] {}
2024-04-15 16:47:55,506 INFO sqlalchemy.engine.Engine ROLLBACK

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1050 (42S01): Table 'person' already exists
[SQL: CREATE TABLE PERSON (
			person_id integer NOT NULL,
			gender_concept_id integer NOT NULL,
			year_of_birth integer NOT NULL,
			month_of_birth integer NULL,
			day_of_birth integer NULL,
			birth_datetime datetime NULL,
			race_concept_id integer NOT NULL,
			ethnicity_concept_id integer NOT NULL,
			location_id integer NULL,
			provider_id integer NULL,
			care_site_id integer NULL,
			person_source_value varchar(50) NULL,
			gender_source_value varchar(50) NULL,
			gender_source_concept_id integer NULL,
			race_source_value varchar(50) NULL,
			race_source_concept_id integer NULL,
			ethnicity_source_value varchar(50) NULL,
			ethnicity_source_concept_id integer NULL )]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [4]:
sql_file_path = './OMOPCDM_sql_server_5.4_primary_keys.sql'

# Read SQL commands from the file and replace the placeholder
with open(sql_file_path, 'r') as file:
    sql_commands = file.read().replace('@cdmDatabaseSchema.', '')

# Split the modified SQL commands into individual commands
# Assuming each command ends with a ';' and possibly a newline for readability
commands = sql_commands.split(';\n')

# Execute each command
with engine.begin() as connection:
    for command in commands:
        command = command.strip()  # Clean whitespace
        if command:  # Check if command is not empty
            connection.execute(text(command))

2024-04-15 16:48:03,522 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 16:48:03,524 INFO sqlalchemy.engine.Engine ALTER TABLE PERSON ADD CONSTRAINT xpk_PERSON PRIMARY KEY NONCLUSTERED (person_id)
2024-04-15 16:48:03,524 INFO sqlalchemy.engine.Engine [generated in 0.00085s] {}
2024-04-15 16:48:03,538 INFO sqlalchemy.engine.Engine ROLLBACK

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1068 (42000): Multiple primary key defined
[SQL: ALTER TABLE PERSON ADD CONSTRAINT xpk_PERSON PRIMARY KEY NONCLUSTERED (person_id)]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [5]:
from sqlalchemy.engine.reflection import Inspector

inspector = Inspector.from_engine(engine)

# Retrieve and print all table names using the Inspector
table_names = inspector.get_table_names()
print("Tables in the database:")
for table_name in table_names:
    print(table_name)

2024-04-15 16:48:17,243 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 16:48:17,244 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `test`
2024-04-15 16:48:17,245 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:17,273 INFO sqlalchemy.engine.Engine ROLLBACK
Tables in the database:
CARE_SITE
CDM_SOURCE
COHORT
COHORT_DEFINITION
concept
concept_ancestor
CONCEPT_CLASS
concept_relationship
CONCEPT_SYNONYM
condition_era
condition_occurrence
cost
DEATH
device_exposure
DOMAIN
dose_era
drug_era
drug_exposure
drug_strength
EPISODE
EPISODE_EVENT
fact_relationship
LOCATION
measurement
METADATA
note
note_nlp
observation
OBSERVATION_PERIOD
PAYER_PLAN_PERIOD
person
procedure_occurrence
PROVIDER
RELATIONSHIP
source_to_concept_map
specimen
visit_detail
visit_occurrence
VOCABULARY

/var/folders/hq/659b4zd16vscxjxb3lxdr18c0000gp/T/ipykernel_64197/1350057838.py:3: SADeprecationWarning: The from_engine() method on Inspector is deprecated and will be removed in a future release.  Please use the sqlalchemy.inspect() function on an Engine or Connection in order to acquire an Inspector. (deprecated since: 1.4)
  inspector = Inspector.from_engine(engine)

In [6]:
from sqlalchemy import create_engine, text, MetaData
from sqlalchemy.schema import CreateTable
from sqlalchemy.engine.reflection import Inspector

# Assuming USERNAME, PASSWORD, SERVER, and DATABASE variables are defined above this line
connection_string = f'mysql+mysqlconnector://{USERNAME}:{PASSWORD}@{SERVER}/{DATABASE}'
engine = create_engine(connection_string, echo=True)

# Your existing code to execute SQL commands from a file...

# Now, let's print the DDL for each table
inspector = Inspector.from_engine(engine)

# Reflect the database schema into a new MetaData instance
metadata = MetaData()
metadata.reflect(bind=engine)

print("DDL for tables in the database:")
for table_name in inspector.get_table_names():
    # Using the reflected metadata to get the table object
    table = metadata.tables[table_name]
    # Generating the CREATE TABLE statement for the table
    ddl = CreateTable(table).compile(engine).string
    print(f"\nDDL for {table_name}:\n{ddl}")

2024-04-15 16:48:23,188 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-15 16:48:23,189 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,190 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-15 16:48:23,191 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,191 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-15 16:48:23,192 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,194 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 16:48:23,194 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `test`
2024-04-15 16:48:23,194 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,209 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CARE_SITE`
2024-04-15 16:48:23,210 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,213 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CDM_SOURCE`
2024-04-15 16:48:23,214 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,217 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `COHORT`
2024-04-15 16:48:23,217 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,219 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `COHORT_DEFINITION`
2024-04-15 16:48:23,220 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,222 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `concept`
2024-04-15 16:48:23,223 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,225 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `concept_ancestor`
2024-04-15 16:48:23,226 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,227 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CONCEPT_CLASS`
2024-04-15 16:48:23,228 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,230 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `concept_relationship`
2024-04-15 16:48:23,231 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,234 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CONCEPT_SYNONYM`
2024-04-15 16:48:23,235 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,237 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `condition_era`
2024-04-15 16:48:23,238 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,240 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `condition_occurrence`
2024-04-15 16:48:23,241 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,242 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `cost`
2024-04-15 16:48:23,243 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,247 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `DEATH`
2024-04-15 16:48:23,247 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,249 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `device_exposure`
2024-04-15 16:48:23,249 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,251 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `DOMAIN`
2024-04-15 16:48:23,251 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,252 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `dose_era`
2024-04-15 16:48:23,252 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,253 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `drug_era`
2024-04-15 16:48:23,253 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,255 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `drug_exposure`
2024-04-15 16:48:23,255 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,256 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `drug_strength`
2024-04-15 16:48:23,256 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,257 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `EPISODE`
2024-04-15 16:48:23,257 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,259 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `EPISODE_EVENT`
2024-04-15 16:48:23,263 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,278 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `fact_relationship`
2024-04-15 16:48:23,289 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,294 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `LOCATION`
2024-04-15 16:48:23,295 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,298 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `measurement`
2024-04-15 16:48:23,299 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,304 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `METADATA`
2024-04-15 16:48:23,307 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,310 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `note`
2024-04-15 16:48:23,311 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,314 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `note_nlp`
2024-04-15 16:48:23,315 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,317 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `observation`
2024-04-15 16:48:23,317 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,319 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `OBSERVATION_PERIOD`
2024-04-15 16:48:23,320 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,321 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `PAYER_PLAN_PERIOD`
2024-04-15 16:48:23,321 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,323 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `person`
2024-04-15 16:48:23,323 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,325 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `procedure_occurrence`
2024-04-15 16:48:23,325 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,326 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `PROVIDER`
2024-04-15 16:48:23,326 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,328 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `RELATIONSHIP`
2024-04-15 16:48:23,328 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,330 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `source_to_concept_map`
2024-04-15 16:48:23,330 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,331 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `specimen`
2024-04-15 16:48:23,331 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,333 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `visit_detail`
2024-04-15 16:48:23,333 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,334 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `visit_occurrence`
2024-04-15 16:48:23,335 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,336 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `VOCABULARY`
2024-04-15 16:48:23,336 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,354 INFO sqlalchemy.engine.Engine ROLLBACK
DDL for tables in the database:
2024-04-15 16:48:23,355 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 16:48:23,355 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `test`
2024-04-15 16:48:23,356 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 16:48:23,358 INFO sqlalchemy.engine.Engine ROLLBACK

DDL for CARE_SITE:

CREATE TABLE `CARE_SITE` (
	care_site_id INTEGER NOT NULL,
	care_site_name VARCHAR(255),
	place_of_service_concept_id INTEGER,
	location_id INTEGER,
	care_site_source_value VARCHAR(50),
	place_of_service_source_value VARCHAR(50),
	PRIMARY KEY (care_site_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for CDM_SOURCE:

CREATE TABLE `CDM_SOURCE` (
	cdm_source_name VARCHAR(255) NOT NULL,
	cdm_source_abbreviation VARCHAR(25) NOT NULL,
	cdm_holder VARCHAR(255) NOT NULL,
	source_description VARCHAR(255),
	source_documentation_reference VARCHAR(255),
	cdm_etl_reference VARCHAR(255),
	source_release_date DATE NOT NULL,
	cdm_release_date DATE NOT NULL,
	cdm_version VARCHAR(10),
	cdm_version_concept_id INTEGER NOT NULL,
	vocabulary_version VARCHAR(20) NOT NULL
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for COHORT:

CREATE TABLE `COHORT` (
	cohort_definition_id INTEGER NOT NULL,
	subject_id INTEGER NOT NULL,
	cohort_start_date DATE NOT NULL,
	cohort_end_date DATE NOT NULL
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for COHORT_DEFINITION:

CREATE TABLE `COHORT_DEFINITION` (
	cohort_definition_id INTEGER NOT NULL,
	cohort_definition_name VARCHAR(255) NOT NULL,
	cohort_definition_description VARCHAR(255),
	definition_type_concept_id INTEGER NOT NULL,
	cohort_definition_syntax VARCHAR(255),
	subject_concept_id INTEGER NOT NULL,
	cohort_initiation_date DATE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for concept:

CREATE TABLE concept (
	concept_id INTEGER NOT NULL,
	concept_name VARCHAR(255) NOT NULL,
	domain_id VARCHAR(20) NOT NULL,
	vocabulary_id VARCHAR(20) NOT NULL,
	concept_class_id VARCHAR(20) NOT NULL,
	standard_concept VARCHAR(1),
	concept_code VARCHAR(50) NOT NULL,
	valid_start_date DATE NOT NULL,
	valid_end_date DATE NOT NULL,
	invalid_reason VARCHAR(1),
	PRIMARY KEY (concept_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for concept_ancestor:

CREATE TABLE concept_ancestor (
	ancestor_concept_id INTEGER NOT NULL,
	descendant_concept_id INTEGER NOT NULL,
	min_levels_of_separation INTEGER NOT NULL,
	max_levels_of_separation INTEGER NOT NULL
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for CONCEPT_CLASS:

CREATE TABLE `CONCEPT_CLASS` (
	concept_class_id VARCHAR(20) NOT NULL,
	concept_class_name VARCHAR(255) NOT NULL,
	concept_class_concept_id INTEGER NOT NULL,
	PRIMARY KEY (concept_class_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for concept_relationship:

CREATE TABLE concept_relationship (
	concept_id_1 INTEGER NOT NULL,
	concept_id_2 INTEGER NOT NULL,
	relationship_id VARCHAR(20) NOT NULL,
	valid_start_date DATE NOT NULL,
	valid_end_date DATE NOT NULL,
	invalid_reason VARCHAR(1)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for CONCEPT_SYNONYM:

CREATE TABLE `CONCEPT_SYNONYM` (
	concept_id INTEGER NOT NULL,
	concept_synonym_name VARCHAR(1000) NOT NULL,
	language_concept_id INTEGER NOT NULL
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for condition_era:

CREATE TABLE condition_era (
	condition_era_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	condition_concept_id INTEGER NOT NULL,
	condition_era_start_date DATETIME NOT NULL,
	condition_era_end_date DATETIME NOT NULL,
	condition_occurrence_count INTEGER,
	PRIMARY KEY (condition_era_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for condition_occurrence:

CREATE TABLE condition_occurrence (
	condition_occurrence_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	condition_concept_id INTEGER NOT NULL,
	condition_start_date DATE NOT NULL,
	condition_start_datetime DATETIME,
	condition_end_date DATE,
	condition_end_datetime DATETIME,
	condition_type_concept_id INTEGER NOT NULL,
	condition_status_concept_id INTEGER,
	stop_reason VARCHAR(20),
	provider_id INTEGER,
	visit_occurrence_id INTEGER,
	visit_detail_id INTEGER,
	condition_source_value VARCHAR(50),
	condition_source_concept_id INTEGER,
	condition_status_source_value VARCHAR(50),
	PRIMARY KEY (condition_occurrence_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for cost:

CREATE TABLE cost (
	cost_id INTEGER NOT NULL,
	cost_event_id INTEGER NOT NULL,
	cost_domain_id VARCHAR(20) NOT NULL,
	cost_type_concept_id INTEGER NOT NULL,
	currency_concept_id INTEGER,
	total_charge FLOAT,
	total_cost FLOAT,
	total_paid FLOAT,
	paid_by_payer FLOAT,
	paid_by_patient FLOAT,
	paid_patient_copay FLOAT,
	paid_patient_coinsurance FLOAT,
	paid_patient_deductible FLOAT,
	paid_by_primary FLOAT,
	paid_ingredient_cost FLOAT,
	paid_dispensing_fee FLOAT,
	payer_plan_period_id INTEGER,
	amount_allowed FLOAT,
	revenue_code_concept_id INTEGER,
	revenue_code_source_value VARCHAR(50),
	drg_concept_id INTEGER,
	drg_source_value VARCHAR(3),
	PRIMARY KEY (cost_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for DEATH:

CREATE TABLE `DEATH` (
	person_id INTEGER NOT NULL,
	death_date DATE NOT NULL,
	death_datetime DATETIME,
	death_type_concept_id INTEGER,
	cause_concept_id INTEGER,
	cause_source_value VARCHAR(50),
	cause_source_concept_id INTEGER
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for device_exposure:

CREATE TABLE device_exposure (
	device_exposure_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	device_concept_id INTEGER NOT NULL,
	device_exposure_start_date DATE NOT NULL,
	device_exposure_start_datetime DATETIME,
	device_exposure_end_date DATE,
	device_exposure_end_datetime DATETIME,
	device_type_concept_id INTEGER NOT NULL,
	unique_device_id VARCHAR(255),
	production_id VARCHAR(255),
	quantity INTEGER,
	provider_id INTEGER,
	visit_occurrence_id INTEGER,
	visit_detail_id INTEGER,
	device_source_value VARCHAR(50),
	device_source_concept_id INTEGER,
	unit_concept_id INTEGER,
	unit_source_value VARCHAR(50),
	unit_source_concept_id INTEGER,
	PRIMARY KEY (device_exposure_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for DOMAIN:

CREATE TABLE `DOMAIN` (
	domain_id VARCHAR(20) NOT NULL,
	domain_name VARCHAR(255) NOT NULL,
	domain_concept_id INTEGER NOT NULL,
	PRIMARY KEY (domain_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for dose_era:

CREATE TABLE dose_era (
	dose_era_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	drug_concept_id INTEGER NOT NULL,
	unit_concept_id INTEGER NOT NULL,
	dose_value FLOAT NOT NULL,
	dose_era_start_date DATETIME NOT NULL,
	dose_era_end_date DATETIME NOT NULL,
	PRIMARY KEY (dose_era_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for drug_era:

CREATE TABLE drug_era (
	drug_era_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	drug_concept_id INTEGER NOT NULL,
	drug_era_start_date DATETIME NOT NULL,
	drug_era_end_date DATETIME NOT NULL,
	drug_exposure_count INTEGER,
	gap_days INTEGER,
	PRIMARY KEY (drug_era_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for drug_exposure:

CREATE TABLE drug_exposure (
	drug_exposure_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	drug_concept_id INTEGER NOT NULL,
	drug_exposure_start_date DATE NOT NULL,
	drug_exposure_start_datetime DATETIME,
	drug_exposure_end_date DATE NOT NULL,
	drug_exposure_end_datetime DATETIME,
	verbatim_end_date DATE,
	drug_type_concept_id INTEGER NOT NULL,
	stop_reason VARCHAR(20),
	refills INTEGER,
	quantity FLOAT,
	days_supply INTEGER,
	sig VARCHAR(255),
	route_concept_id INTEGER,
	lot_number VARCHAR(50),
	provider_id INTEGER,
	visit_occurrence_id INTEGER,
	visit_detail_id INTEGER,
	drug_source_value VARCHAR(50),
	drug_source_concept_id INTEGER,
	route_source_value VARCHAR(50),
	dose_unit_source_value VARCHAR(50),
	PRIMARY KEY (drug_exposure_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for drug_strength:

CREATE TABLE drug_strength (
	drug_concept_id INTEGER NOT NULL,
	ingredient_concept_id INTEGER NOT NULL,
	amount_value FLOAT,
	amount_unit_concept_id INTEGER,
	numerator_value FLOAT,
	numerator_unit_concept_id INTEGER,
	denominator_value FLOAT,
	denominator_unit_concept_id INTEGER,
	box_size INTEGER,
	valid_start_date DATE NOT NULL,
	valid_end_date DATE NOT NULL,
	invalid_reason VARCHAR(1)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for EPISODE:

CREATE TABLE `EPISODE` (
	episode_id BIGINT NOT NULL,
	person_id BIGINT NOT NULL,
	episode_concept_id INTEGER NOT NULL,
	episode_start_date DATE NOT NULL,
	episode_start_datetime DATETIME,
	episode_end_date DATE,
	episode_end_datetime DATETIME,
	episode_parent_id BIGINT,
	episode_number INTEGER,
	episode_object_concept_id INTEGER NOT NULL,
	episode_type_concept_id INTEGER NOT NULL,
	episode_source_value VARCHAR(50),
	episode_source_concept_id INTEGER,
	PRIMARY KEY (episode_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for EPISODE_EVENT:

CREATE TABLE `EPISODE_EVENT` (
	episode_id BIGINT NOT NULL,
	event_id BIGINT NOT NULL,
	episode_event_field_concept_id INTEGER NOT NULL
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for fact_relationship:

CREATE TABLE fact_relationship (
	domain_concept_id_1 INTEGER NOT NULL,
	fact_id_1 INTEGER NOT NULL,
	domain_concept_id_2 INTEGER NOT NULL,
	fact_id_2 INTEGER NOT NULL,
	relationship_concept_id INTEGER NOT NULL
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for LOCATION:

CREATE TABLE `LOCATION` (
	location_id INTEGER NOT NULL,
	address_1 VARCHAR(50),
	address_2 VARCHAR(50),
	city VARCHAR(50),
	state VARCHAR(2),
	zip VARCHAR(9),
	county VARCHAR(20),
	location_source_value VARCHAR(50),
	country_concept_id INTEGER,
	country_source_value VARCHAR(80),
	latitude FLOAT,
	longitude FLOAT,
	PRIMARY KEY (location_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for measurement:

CREATE TABLE measurement (
	measurement_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	measurement_concept_id INTEGER NOT NULL,
	measurement_date DATE NOT NULL,
	measurement_datetime DATETIME,
	measurement_time VARCHAR(10),
	measurement_type_concept_id INTEGER NOT NULL,
	operator_concept_id INTEGER,
	value_as_number FLOAT,
	value_as_concept_id INTEGER,
	unit_concept_id INTEGER,
	range_low FLOAT,
	range_high FLOAT,
	provider_id INTEGER,
	visit_occurrence_id INTEGER,
	visit_detail_id INTEGER,
	measurement_source_value VARCHAR(50),
	measurement_source_concept_id INTEGER,
	unit_source_value VARCHAR(50),
	unit_source_concept_id INTEGER,
	value_source_value VARCHAR(50),
	measurement_event_id BIGINT,
	meas_event_field_concept_id INTEGER,
	PRIMARY KEY (measurement_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for METADATA:

CREATE TABLE `METADATA` (
	metadata_id INTEGER NOT NULL,
	metadata_concept_id INTEGER NOT NULL,
	metadata_type_concept_id INTEGER NOT NULL,
	name VARCHAR(250) NOT NULL,
	value_as_string VARCHAR(250),
	value_as_concept_id INTEGER,
	value_as_number FLOAT,
	metadata_date DATE,
	metadata_datetime DATETIME,
	PRIMARY KEY (metadata_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for note:

CREATE TABLE note (
	note_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	note_date DATE NOT NULL,
	note_datetime DATETIME,
	note_type_concept_id INTEGER NOT NULL,
	note_class_concept_id INTEGER NOT NULL,
	note_title VARCHAR(250),
	note_text VARCHAR(255) NOT NULL,
	encoding_concept_id INTEGER NOT NULL,
	language_concept_id INTEGER NOT NULL,
	provider_id INTEGER,
	visit_occurrence_id INTEGER,
	visit_detail_id INTEGER,
	note_source_value VARCHAR(50),
	note_event_id BIGINT,
	note_event_field_concept_id INTEGER,
	PRIMARY KEY (note_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for note_nlp:

CREATE TABLE note_nlp (
	note_nlp_id INTEGER NOT NULL,
	note_id INTEGER NOT NULL,
	section_concept_id INTEGER,
	snippet VARCHAR(250),
	offset VARCHAR(50),
	lexical_variant VARCHAR(250) NOT NULL,
	note_nlp_concept_id INTEGER,
	note_nlp_source_concept_id INTEGER,
	nlp_system VARCHAR(250),
	nlp_date DATE NOT NULL,
	nlp_datetime DATETIME,
	term_exists VARCHAR(1),
	term_temporal VARCHAR(50),
	term_modifiers VARCHAR(2000),
	PRIMARY KEY (note_nlp_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for observation:

CREATE TABLE observation (
	observation_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	observation_concept_id INTEGER NOT NULL,
	observation_date DATE NOT NULL,
	observation_datetime DATETIME,
	observation_type_concept_id INTEGER NOT NULL,
	value_as_number FLOAT,
	value_as_string VARCHAR(60),
	value_as_concept_id INTEGER,
	qualifier_concept_id INTEGER,
	unit_concept_id INTEGER,
	provider_id INTEGER,
	visit_occurrence_id INTEGER,
	visit_detail_id INTEGER,
	observation_source_value VARCHAR(50),
	observation_source_concept_id INTEGER,

/var/folders/hq/659b4zd16vscxjxb3lxdr18c0000gp/T/ipykernel_64197/3633835634.py:12: SADeprecationWarning: The from_engine() method on Inspector is deprecated and will be removed in a future release.  Please use the sqlalchemy.inspect() function on an Engine or Connection in order to acquire an Inspector. (deprecated since: 1.4)
  inspector = Inspector.from_engine(engine)

In [41]:
import re

# Path to your SQL file containing CREATE INDEX statements
sql_file_path = './OMOPCDM_sql_server_5.4_indices.sql'

# Read SQL commands from the file and replace the placeholder
with open(sql_file_path, 'r') as file:
    # Read the entire file content
    sql_commands = file.read()
# Remove multiline comments
sql_commands = re.sub(r'/\*.*?\*/', '', sql_commands, flags=re.DOTALL)

# Replace the placeholder
sql_commands = sql_commands.replace('@cdmDatabaseSchema.', '')

# Split the modified SQL commands into individual commands
commands = sql_commands.split(';')

# Filter out empty commands and commands that are commented out
filtered_commands = []
for command in commands:
    # Trim whitespace and remove single-line comments
    stripped_command = command.strip()
    if stripped_command and not stripped_command.startswith('--'):
        filtered_commands.append(stripped_command)

# Execute each filtered command
with engine.begin() as connection:
    for command in filtered_commands:
        try:
            connection.execute(text(command))
        except Exception as e:
            print(f"An error occurred: {e}")
            print(f"While executing: {command}\n")

print("Index creation commands executed successfully.")

2024-04-06 13:35:19,962 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 13:35:19,990 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_person_id ON person (person_id ASC)
2024-04-06 13:35:19,991 INFO sqlalchemy.engine.Engine [generated in 0.02406s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_person_id ON person (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_person_id ON person (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_person_id ON person (person_id ASC)

2024-04-06 13:35:19,998 INFO sqlalchemy.engine.Engine CREATE INDEX idx_gender ON person (gender_concept_id ASC)
2024-04-06 13:35:19,999 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {}
2024-04-06 13:35:20,035 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_observation_period_id_1 ON observation_period (person_id ASC)
2024-04-06 13:35:20,035 INFO sqlalchemy.engine.Engine [generated in 0.00058s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_observation_period_id_1 ON observation_period (person_id ASC' at line 1
[SQL: CREATE CLUSTERED INDEX idx_observation_period_id_1 ON observation_period (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_observation_period_id_1 ON observation_period (person_id ASC)

2024-04-06 13:35:20,036 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_visit_person_id_1 ON visit_occurrence (person_id ASC)
2024-04-06 13:35:20,036 INFO sqlalchemy.engine.Engine [generated in 0.00039s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_visit_person_id_1 ON visit_occurrence (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_visit_person_id_1 ON visit_occurrence (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_visit_person_id_1 ON visit_occurrence (person_id ASC)

2024-04-06 13:35:20,037 INFO sqlalchemy.engine.Engine CREATE INDEX idx_visit_concept_id_1 ON visit_occurrence (visit_concept_id ASC)
2024-04-06 13:35:20,037 INFO sqlalchemy.engine.Engine [generated in 0.00034s] {}
2024-04-06 13:35:20,042 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_visit_det_person_id_1 ON visit_detail (person_id ASC)
2024-04-06 13:35:20,043 INFO sqlalchemy.engine.Engine [generated in 0.00045s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_visit_det_person_id_1 ON visit_detail (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_visit_det_person_id_1 ON visit_detail (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_visit_det_person_id_1 ON visit_detail (person_id ASC)

2024-04-06 13:35:20,043 INFO sqlalchemy.engine.Engine CREATE INDEX idx_visit_det_concept_id_1 ON visit_detail (visit_detail_concept_id ASC)
2024-04-06 13:35:20,043 INFO sqlalchemy.engine.Engine [generated in 0.00039s] {}
2024-04-06 13:35:20,048 INFO sqlalchemy.engine.Engine CREATE INDEX idx_visit_det_occ_id ON visit_detail (visit_occurrence_id ASC)
2024-04-06 13:35:20,048 INFO sqlalchemy.engine.Engine [generated in 0.00068s] {}
2024-04-06 13:35:20,054 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_condition_person_id_1 ON condition_occurrence (person_id ASC)
2024-04-06 13:35:20,054 INFO sqlalchemy.engine.Engine [generated in 0.00058s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_condition_person_id_1 ON condition_occurrence (person_id ASC' at line 1
[SQL: CREATE CLUSTERED INDEX idx_condition_person_id_1 ON condition_occurrence (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_condition_person_id_1 ON condition_occurrence (person_id ASC)

2024-04-06 13:35:20,055 INFO sqlalchemy.engine.Engine CREATE INDEX idx_condition_concept_id_1 ON condition_occurrence (condition_concept_id ASC)
2024-04-06 13:35:20,055 INFO sqlalchemy.engine.Engine [generated in 0.00036s] {}
2024-04-06 13:35:20,059 INFO sqlalchemy.engine.Engine CREATE INDEX idx_condition_visit_id_1 ON condition_occurrence (visit_occurrence_id ASC)
2024-04-06 13:35:20,060 INFO sqlalchemy.engine.Engine [generated in 0.00041s] {}
2024-04-06 13:35:20,065 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_drug_person_id_1 ON drug_exposure (person_id ASC)
2024-04-06 13:35:20,066 INFO sqlalchemy.engine.Engine [generated in 0.00059s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_drug_person_id_1 ON drug_exposure (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_drug_person_id_1 ON drug_exposure (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_drug_person_id_1 ON drug_exposure (person_id ASC)

2024-04-06 13:35:20,066 INFO sqlalchemy.engine.Engine CREATE INDEX idx_drug_concept_id_1 ON drug_exposure (drug_concept_id ASC)
2024-04-06 13:35:20,067 INFO sqlalchemy.engine.Engine [generated in 0.00060s] {}
2024-04-06 13:35:20,074 INFO sqlalchemy.engine.Engine CREATE INDEX idx_drug_visit_id_1 ON drug_exposure (visit_occurrence_id ASC)
2024-04-06 13:35:20,075 INFO sqlalchemy.engine.Engine [generated in 0.00143s] {}
2024-04-06 13:35:20,080 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_procedure_person_id_1 ON procedure_occurrence (person_id ASC)
2024-04-06 13:35:20,080 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_procedure_person_id_1 ON procedure_occurrence (person_id ASC' at line 1
[SQL: CREATE CLUSTERED INDEX idx_procedure_person_id_1 ON procedure_occurrence (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_procedure_person_id_1 ON procedure_occurrence (person_id ASC)

2024-04-06 13:35:20,082 INFO sqlalchemy.engine.Engine CREATE INDEX idx_procedure_concept_id_1 ON procedure_occurrence (procedure_concept_id ASC)
2024-04-06 13:35:20,082 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {}
2024-04-06 13:35:20,087 INFO sqlalchemy.engine.Engine CREATE INDEX idx_procedure_visit_id_1 ON procedure_occurrence (visit_occurrence_id ASC)
2024-04-06 13:35:20,087 INFO sqlalchemy.engine.Engine [generated in 0.00056s] {}
2024-04-06 13:35:20,092 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_device_person_id_1 ON device_exposure (person_id ASC)
2024-04-06 13:35:20,093 INFO sqlalchemy.engine.Engine [generated in 0.00049s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_device_person_id_1 ON device_exposure (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_device_person_id_1 ON device_exposure (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_device_person_id_1 ON device_exposure (person_id ASC)

2024-04-06 13:35:20,093 INFO sqlalchemy.engine.Engine CREATE INDEX idx_device_concept_id_1 ON device_exposure (device_concept_id ASC)
2024-04-06 13:35:20,093 INFO sqlalchemy.engine.Engine [generated in 0.00028s] {}
2024-04-06 13:35:20,098 INFO sqlalchemy.engine.Engine CREATE INDEX idx_device_visit_id_1 ON device_exposure (visit_occurrence_id ASC)
2024-04-06 13:35:20,098 INFO sqlalchemy.engine.Engine [generated in 0.00077s] {}
2024-04-06 13:35:20,105 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_measurement_person_id_1 ON measurement (person_id ASC)
2024-04-06 13:35:20,106 INFO sqlalchemy.engine.Engine [generated in 0.00061s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_measurement_person_id_1 ON measurement (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_measurement_person_id_1 ON measurement (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_measurement_person_id_1 ON measurement (person_id ASC)

2024-04-06 13:35:20,106 INFO sqlalchemy.engine.Engine CREATE INDEX idx_measurement_concept_id_1 ON measurement (measurement_concept_id ASC)
2024-04-06 13:35:20,107 INFO sqlalchemy.engine.Engine [generated in 0.00034s] {}
2024-04-06 13:35:20,112 INFO sqlalchemy.engine.Engine CREATE INDEX idx_measurement_visit_id_1 ON measurement (visit_occurrence_id ASC)
2024-04-06 13:35:20,112 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {}
2024-04-06 13:35:20,120 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_observation_person_id_1 ON observation (person_id ASC)
2024-04-06 13:35:20,120 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_observation_person_id_1 ON observation (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_observation_person_id_1 ON observation (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_observation_person_id_1 ON observation (person_id ASC)

2024-04-06 13:35:20,121 INFO sqlalchemy.engine.Engine CREATE INDEX idx_observation_concept_id_1 ON observation (observation_concept_id ASC)
2024-04-06 13:35:20,121 INFO sqlalchemy.engine.Engine [generated in 0.00033s] {}
2024-04-06 13:35:20,126 INFO sqlalchemy.engine.Engine CREATE INDEX idx_observation_visit_id_1 ON observation (visit_occurrence_id ASC)
2024-04-06 13:35:20,126 INFO sqlalchemy.engine.Engine [generated in 0.00067s] {}
2024-04-06 13:35:20,131 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_death_person_id_1 ON death (person_id ASC)
2024-04-06 13:35:20,131 INFO sqlalchemy.engine.Engine [generated in 0.00051s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_death_person_id_1 ON death (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_death_person_id_1 ON death (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_death_person_id_1 ON death (person_id ASC)

2024-04-06 13:35:20,132 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_note_person_id_1 ON note (person_id ASC)
2024-04-06 13:35:20,132 INFO sqlalchemy.engine.Engine [generated in 0.00035s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_note_person_id_1 ON note (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_note_person_id_1 ON note (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_note_person_id_1 ON note (person_id ASC)

2024-04-06 13:35:20,133 INFO sqlalchemy.engine.Engine CREATE INDEX idx_note_concept_id_1 ON note (note_type_concept_id ASC)
2024-04-06 13:35:20,133 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {}
2024-04-06 13:35:20,138 INFO sqlalchemy.engine.Engine CREATE INDEX idx_note_visit_id_1 ON note (visit_occurrence_id ASC)
2024-04-06 13:35:20,139 INFO sqlalchemy.engine.Engine [generated in 0.00061s] {}
2024-04-06 13:35:20,144 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_note_nlp_note_id_1 ON note_nlp (note_id ASC)
2024-04-06 13:35:20,144 INFO sqlalchemy.engine.Engine [generated in 0.00055s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_note_nlp_note_id_1 ON note_nlp (note_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_note_nlp_note_id_1 ON note_nlp (note_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_note_nlp_note_id_1 ON note_nlp (note_id ASC)

2024-04-06 13:35:20,145 INFO sqlalchemy.engine.Engine CREATE INDEX idx_note_nlp_concept_id_1 ON note_nlp (note_nlp_concept_id ASC)
2024-04-06 13:35:20,145 INFO sqlalchemy.engine.Engine [generated in 0.00036s] {}
2024-04-06 13:35:20,150 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_specimen_person_id_1 ON specimen (person_id ASC)
2024-04-06 13:35:20,150 INFO sqlalchemy.engine.Engine [generated in 0.00077s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_specimen_person_id_1 ON specimen (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_specimen_person_id_1 ON specimen (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_specimen_person_id_1 ON specimen (person_id ASC)

2024-04-06 13:35:20,152 INFO sqlalchemy.engine.Engine CREATE INDEX idx_specimen_concept_id_1 ON specimen (specimen_concept_id ASC)
2024-04-06 13:35:20,152 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {}
2024-04-06 13:35:20,161 INFO sqlalchemy.engine.Engine CREATE INDEX idx_fact_relationship_id1 ON fact_relationship (domain_concept_id_1 ASC)
2024-04-06 13:35:20,161 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {}
2024-04-06 13:35:20,172 INFO sqlalchemy.engine.Engine CREATE INDEX idx_fact_relationship_id2 ON fact_relationship (domain_concept_id_2 ASC)
2024-04-06 13:35:20,172 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {}
2024-04-06 13:35:20,180 INFO sqlalchemy.engine.Engine CREATE INDEX idx_fact_relationship_id3 ON fact_relationship (relationship_concept_id ASC)
2024-04-06 13:35:20,180 INFO sqlalchemy.engine.Engine [generated in 0.00058s] {}
2024-04-06 13:35:20,187 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_location_id_1 ON location (location_id ASC)
2024-04-06 13:35:20,187 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_location_id_1 ON location (location_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_location_id_1 ON location (location_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_location_id_1 ON location (location_id ASC)

2024-04-06 13:35:20,188 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_care_site_id_1 ON care_site (care_site_id ASC)
2024-04-06 13:35:20,188 INFO sqlalchemy.engine.Engine [generated in 0.00032s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_care_site_id_1 ON care_site (care_site_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_care_site_id_1 ON care_site (care_site_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_care_site_id_1 ON care_site (care_site_id ASC)

2024-04-06 13:35:20,189 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_provider_id_1 ON provider (provider_id ASC)
2024-04-06 13:35:20,189 INFO sqlalchemy.engine.Engine [generated in 0.00029s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_provider_id_1 ON provider (provider_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_provider_id_1 ON provider (provider_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_provider_id_1 ON provider (provider_id ASC)

2024-04-06 13:35:20,189 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_period_person_id_1 ON payer_plan_period (person_id ASC)
2024-04-06 13:35:20,190 INFO sqlalchemy.engine.Engine [generated in 0.00025s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_period_person_id_1 ON payer_plan_period (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_period_person_id_1 ON payer_plan_period (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_period_person_id_1 ON payer_plan_period (person_id ASC)

2024-04-06 13:35:20,190 INFO sqlalchemy.engine.Engine CREATE INDEX idx_cost_event_id  ON cost (cost_event_id ASC)
2024-04-06 13:35:20,190 INFO sqlalchemy.engine.Engine [generated in 0.00032s] {}
2024-04-06 13:35:20,197 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_drug_era_person_id_1 ON drug_era (person_id ASC)
2024-04-06 13:35:20,198 INFO sqlalchemy.engine.Engine [generated in 0.00087s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_drug_era_person_id_1 ON drug_era (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_drug_era_person_id_1 ON drug_era (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_drug_era_person_id_1 ON drug_era (person_id ASC)

2024-04-06 13:35:20,199 INFO sqlalchemy.engine.Engine CREATE INDEX idx_drug_era_concept_id_1 ON drug_era (drug_concept_id ASC)
2024-04-06 13:35:20,201 INFO sqlalchemy.engine.Engine [generated in 0.00249s] {}
2024-04-06 13:35:20,209 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_dose_era_person_id_1 ON dose_era (person_id ASC)
2024-04-06 13:35:20,209 INFO sqlalchemy.engine.Engine [generated in 0.00046s] {}

In [14]:
import pandas as pd
csv_file_path = 'measurement.csv'  # Update this to the path of your CSV file
data = pd.read_csv(csv_file_path)

table_name = 'MEASUREMENT'
# schema = 'cdmDatabaseSchema'

# Load the DataFrame into MySQL
data.to_sql(name=table_name, con=engine, if_exists='append', index=False)

print("Data has been successfully loaded into the database.")

2024-04-15 17:34:13,466 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 17:34:13,491 INFO sqlalchemy.engine.Engine DESCRIBE `test`.`MEASUREMENT`
2024-04-15 17:34:13,492 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 17:34:13,567 INFO sqlalchemy.engine.Engine INSERT INTO `MEASUREMENT` (measurement_id, person_id, measurement_concept_id, measurement_date, measurement_datetime, measurement_time, measurement_type_concept_id, operator_concept_id, value_as_number, value_as_concept_id, unit_concept_id, range_low, range_high, provider_id, visit_occurrence_id, visit_detail_id, measurement_source_value, measurement_source_concept_id, unit_source_value, value_source_value) VALUES (%(measurement_id)s, %(person_id)s, %(measurement_concept_id)s, %(measurement_date)s, %(measurement_datetime)s, %(measurement_time)s, %(measurement_type_concept_id)s, %(operator_concept_id)s, %(value_as_number)s, %(value_as_concept_id)s, %(unit_concept_id)s, %(range_low)s, %(range_high)s, %(provider_id)s, %(visit_occurrence_id)s, %(visit_detail_id)s, %(measurement_source_value)s, %(measurement_source_concept_id)s, %(unit_source_value)s, %(value_source_value)s)
2024-04-15 17:34:13,567 INFO sqlalchemy.engine.Engine [generated in 0.00080s] [{'measurement_id': 1403, 'person_id': 2968472, 'measurement_concept_id': 3027172, 'measurement_date': '2022-04-13', 'measurement_datetime': '2022-04-13 10:39:00+00:00', 'measurement_time': None, 'measurement_type_concept_id': 3027172, 'operator_concept_id': None, 'value_as_number': 66.0, 'value_as_concept_id': None, 'unit_concept_id': 8554, 'range_low': None, 'range_high': None, 'provider_id': None, 'visit_occurrence_id': 347, 'visit_detail_id': None, 'measurement_source_value': '10230-1', 'measurement_source_concept_id': 3027172, 'unit_source_value': '%', 'value_source_value': None}, {'measurement_id': 166, 'person_id': 3257211, 'measurement_concept_id': 3027172, 'measurement_date': '2020-08-26', 'measurement_datetime': '2020-08-26 09:38:00+00:00', 'measurement_time': None, 'measurement_type_concept_id': 3027172, 'operator_concept_id': None, 'value_as_number': 71.0, 'value_as_concept_id': None, 'unit_concept_id': 8554, 'range_low': None, 'range_high': None, 'provider_id': None, 'visit_occurrence_id': 9000, 'visit_detail_id': None, 'measurement_source_value': '10230-1', 'measurement_source_concept_id': 3027172, 'unit_source_value': '%', 'value_source_value': None}, {'measurement_id': 1613, 'person_id': 8249431, 'measurement_concept_id': 3027172, 'measurement_date': '2018-05-08', 'measurement_datetime': '2018-05-08 11:43:00+00:00', 'measurement_time': None, 'measurement_type_concept_id': 44818702, 'operator_concept_id': 0.0, 'value_as_number': 60.0, 'value_as_concept_id': None, 'unit_concept_id': 8554, 'range_low': None, 'range_high': None, 'provider_id': None, 'visit_occurrence_id': 872, 'visit_detail_id': None, 'measurement_source_value': '10230-1', 'measurement_source_concept_id': 3027172, 'unit_source_value': '%', 'value_source_value': None}, {'measurement_id': 6558, 'person_id': 2304536, 'measurement_concept_id': 3027172, 'measurement_date': '2019-05-15', 'measurement_datetime': '2019-05-15 14:21:00+00:00', 'measurement_time': None, 'measurement_type_concept_id': 3027172, 'operator_concept_id': None, 'value_as_number': 67.0, 'value_as_concept_id': None, 'unit_concept_id': 8554, 'range_low': None, 'range_high': None, 'provider_id': None, 'visit_occurrence_id': 411, 'visit_detail_id': None, 'measurement_source_value': '10230-1', 'measurement_source_concept_id': 3027172, 'unit_source_value': '%', 'value_source_value': None}, {'measurement_id': 5075, 'person_id': 1425778, 'measurement_concept_id': 3027172, 'measurement_date': '2021-07-30', 'measurement_datetime': '2021-07-30 16:42:00+00:00', 'measurement_time': None, 'measurement_type_concept_id': 44818702, 'operator_concept_id': 4172703.0, 'value_as_number': 46.0, 'value_as_concept_id': None, 'unit_concept_id': 8554, 'range_low': None, 'range_high': None, 'provider_id': None, 'visit_occurrence_id': 125, 'visit_detail_id': None, 'measurement_source_value': '10230-1', 'measurement_source_concept_id': 3027172, 'unit_source_value': '%', 'value_source_value': None}, {'measurement_id': 8897, 'person_id': 1583645, 'measurement_concept_id': 3027172, 'measurement_date': '2020-09-01', 'measurement_datetime': '2020-09-01 11:20:00+00:00', 'measurement_time': None, 'measurement_type_concept_id': 3027172, 'operator_concept_id': None, 'value_as_number': 20.0, 'value_as_concept_id': None, 'unit_concept_id': 8554, 'range_low': None, 'range_high': None, 'provider_id': None, 'visit_occurrence_id': 6020, 'visit_detail_id': None, 'measurement_source_value': '10230-1', 'measurement_source_concept_id': 3027172, 'unit_source_value': '%', 'value_source_value': None}, {'measurement_id': 7592, 'person_id': 4006664, 'measurement_concept_id': 3027172, 'measurement_date': '2021-03-16', 'measurement_datetime': '2021-03-16 12:53:00+00:00', 'measurement_time': None, 'measurement_type_concept_id': 3027172, 'operator_concept_id': None, 'value_as_number': 0.0, 'value_as_concept_id': None, 'unit_concept_id': 8554, 'range_low': None, 'range_high': None, 'provider_id': None, 'visit_occurrence_id': 6816, 'visit_detail_id': None, 'measurement_source_value': '10230-1', 'measurement_source_concept_id': 3027172, 'unit_source_value': '%', 'value_source_value': None}, {'measurement_id': 7223, 'person_id': 1338687, 'measurement_concept_id': 3027172, 'measurement_date': '2017-05-15', 'measurement_datetime': '2017-05-15 11:57:05+00:00', 'measurement_time': None, 'measurement_type_concept_id': 3027172, 'operator_concept_id': None, 'value_as_number': 64.8, 'value_as_concept_id': None, 'unit_concept_id': 8554, 'range_low': None, 'range_high': None, 'provider_id': None, 'visit_occurrence_id': 333, 'visit_detail_id': None, 'measurement_source_value': '10230-1', 'measurement_source_concept_id': 3027172, 'unit_source_value': '%', 'value_source_value': None}, {'measurement_id': 945, 'person_id': 1946804, 'measurement_concept_id': 3027172, 'measurement_date': '2019-11-23', 'measurement_datetime': '2019-11-23 17:46:00+00:00', 'measurement_time': None, 'measurement_type_concept_id': 3027172, 'operator_concept_id': None, 'value_as_number': 55.0, 'value_as_concept_id': None, 'unit_concept_id': 8554, 'range_low': None, 'range_high': None, 'provider_id': None, 'visit_occurrence_id': 913, 'visit_detail_id': None, 'measurement_source_value': '10230-1', 'measurement_source_concept_id': 3027172, 'unit_source_value': '%', 'value_source_value': None}, {'measurement_id': 564, 'person_id': 1249930, 'measurement_concept_id': 3027172, 'measurement_date': '2021-02-09', 'measurement_datetime': '2021-02-09 13:10:00+00:00', 'measurement_time': None, 'measurement_type_concept_id': 3027172, 'operator_concept_id': None, 'value_as_number': 0.0, 'value_as_concept_id': None, 'unit_concept_id': 8554, 'range_low': None, 'range_high': None, 'provider_id': None, 'visit_occurrence_id': 800, 'visit_detail_id': None, 'measurement_source_value': '10230-1', 'measurement_source_concept_id': 3027172, 'unit_source_value': '%', 'value_source_value': None}]
2024-04-15 17:34:13,588 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `test`
2024-04-15 17:34:13,588 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-15 17:34:13,596 INFO sqlalchemy.engine.Engine COMMIT
Data has been successfully loaded into the database.

/var/folders/hq/659b4zd16vscxjxb3lxdr18c0000gp/T/ipykernel_64197/496905213.py:9: UserWarning: The provided table name 'MEASUREMENT' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  data.to_sql(name=table_name, con=engine, if_exists='append', index=False)

In [16]:
table_name = 'measurement'
query = text(f"DESC {table_name}")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
print(result)

2024-04-15 23:38:19,170 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-15 23:38:19,201 INFO sqlalchemy.engine.Engine DESC measurement
2024-04-15 23:38:19,202 INFO sqlalchemy.engine.Engine [generated in 0.03378s] {}
2024-04-15 23:38:19,256 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:
                            Field         Type Null  Key Default Extra
0                  measurement_id          int   NO  PRI    None
1                       person_id          int   NO         None
2          measurement_concept_id          int   NO  MUL    None
3                measurement_date         date   NO         None
4            measurement_datetime     datetime  YES         None
5                measurement_time  varchar(10)  YES         None
6     measurement_type_concept_id          int   NO         None
7             operator_concept_id          int  YES         None
8                 value_as_number        float  YES         None
9             value_as_concept_id          int  YES         None
10                unit_concept_id          int  YES         None
11                      range_low        float  YES         None
12                     range_high        float  YES         None
13                    provider_id          int  YES         None
14            visit_occurrence_id          int  YES  MUL    None
15                visit_detail_id          int  YES         None
16       measurement_source_value  varchar(50)  YES         None
17  measurement_source_concept_id          int  YES         None
18              unit_source_value  varchar(50)  YES         None
19         unit_source_concept_id          int  YES         None
20             value_source_value  varchar(50)  YES         None
21           measurement_event_id       bigint  YES         None
22    meas_event_field_concept_id          int  YES         None