In [1]:
from sqlalchemy import create_engine, Column, Integer, String, Date, DateTime, Float, BigInteger, Text
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
engine = create_engine("sqlite://", echo=True)
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()

/var/folders/hq/659b4zd16vscxjxb3lxdr18c0000gp/T/ipykernel_2374/1111253954.py:7: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [4]:
class Person(Base):
    __tablename__ = 'PERSON'
    person_id = Column(Integer, primary_key=True, nullable=False)
    gender_concept_id = Column(Integer, nullable=False)
    year_of_birth = Column(Integer, nullable=False)
    month_of_birth = Column(Integer)
    day_of_birth = Column(Integer)
    birth_datetime = Column(DateTime)
    race_concept_id = Column(Integer, nullable=False)
    ethnicity_concept_id = Column(Integer, nullable=False)
    location_id = Column(Integer)
    provider_id = Column(Integer)
    care_site_id = Column(Integer)
    person_source_value = Column(String(50))
    gender_source_value = Column(String(50))
    gender_source_concept_id = Column(Integer)
    race_source_value = Column(String(50))
    race_source_concept_id = Column(Integer)
    ethnicity_source_value = Column(String(50))
    ethnicity_source_concept_id = Column(Integer)

class ObservationPeriod(Base):
    __tablename__ = 'OBSERVATION_PERIOD'
    observation_period_id = Column(Integer, primary_key=True, nullable=False)
    person_id = Column(Integer, nullable=False)
    observation_period_start_date = Column(Date, nullable=False)
    observation_period_end_date = Column(Date, nullable=False)
    period_type_concept_id = Column(Integer, nullable=False)

# Add more class definitions for other tables following the same pattern

# Create the tables in the database
Base.metadata.create_all(engine)

2024-04-06 10:26:41,896 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 10:26:41,897 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("PERSON")
2024-04-06 10:26:41,897 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 10:26:41,900 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("PERSON")
2024-04-06 10:26:41,901 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 10:26:41,902 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("OBSERVATION_PERIOD")
2024-04-06 10:26:41,903 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 10:26:41,904 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("OBSERVATION_PERIOD")
2024-04-06 10:26:41,904 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-04-06 10:26:41,906 INFO sqlalchemy.engine.Engine
CREATE TABLE "PERSON" (
	person_id INTEGER NOT NULL,
	gender_concept_id INTEGER NOT NULL,
	year_of_birth INTEGER NOT NULL,
	month_of_birth INTEGER,
	day_of_birth INTEGER,
	birth_datetime DATETIME,
	race_concept_id INTEGER NOT NULL,
	ethnicity_concept_id INTEGER NOT NULL,
	location_id INTEGER,
	provider_id INTEGER,
	care_site_id INTEGER,
	person_source_value VARCHAR(50),
	gender_source_value VARCHAR(50),
	gender_source_concept_id INTEGER,
	race_source_value VARCHAR(50),
	race_source_concept_id INTEGER,
	ethnicity_source_value VARCHAR(50),
	ethnicity_source_concept_id INTEGER,
	PRIMARY KEY (person_id)
)


2024-04-06 10:26:41,907 INFO sqlalchemy.engine.Engine [no key 0.00073s] ()
2024-04-06 10:26:41,909 INFO sqlalchemy.engine.Engine
CREATE TABLE "OBSERVATION_PERIOD" (
	observation_period_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	observation_period_start_date DATE NOT NULL,
	observation_period_end_date DATE NOT NULL,
	period_type_concept_id INTEGER NOT NULL,
	PRIMARY KEY (observation_period_id)
)


2024-04-06 10:26:41,909 INFO sqlalchemy.engine.Engine [no key 0.00068s] ()
2024-04-06 10:26:41,910 INFO sqlalchemy.engine.Engine COMMIT

In [13]:
from sqlalchemy import create_engine, text

# Connection details - replace with your actual details
DATABASE = 'test'  # The name of your MySQL database
USERNAME = 'root'  # Your MySQL database username
PASSWORD = 'TSUtigers123'  # Your MySQL database password
SERVER = 'localhost'  # The hostname or IP address of your MySQL server

# SQLAlchemy connection string for MySQL using mysqlconnector
connection_string = f'mysql+mysqlconnector://{USERNAME}:{PASSWORD}@{SERVER}/{DATABASE}'

# Creating the engine for MySQL
engine = create_engine(connection_string, echo=True)

# Path to your SQL file
sql_file_path = './OMOPCDM_sql_server_5.4_ddl.sql'  # Make sure the SQL commands are compatible with MySQL

# Open, read, and prepare the SQL file
with open(sql_file_path, 'r') as sql_file:
    sql_commands = sql_file.read()

    # Since you're working with MySQL, ensure SQL commands in your file are compatible with MySQL
    # Adjust any placeholder replacements as necessary, depending on your SQL file's content

# Execute the SQL commands on MySQL
with engine.begin() as conn:
    # Assuming your SQL commands are separated by semicolons, execute them individually
    # This approach might need adjustments based on the actual content of your SQL file
    for command in sql_commands.split(';'):
        if command.strip():  # Avoid executing empty commands
            conn.execute(text(command))

2024-04-06 12:41:32,881 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-06 12:41:32,881 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 12:41:32,884 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-06 12:41:32,885 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 12:41:32,885 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-06 12:41:32,885 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 12:41:32,886 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 12:41:32,888 INFO sqlalchemy.engine.Engine --sql server CDM DDL Specification for OMOP Common Data Model 5.4

--HINT DISTRIBUTE ON KEY (person_id)
CREATE TABLE @cdmDatabaseSchema.PERSON (
			person_id integer NOT NULL,
			gender_concept_id integer NOT NULL,
			year_of_birth integer NOT NULL,
			month_of_birth integer NULL,
			day_of_birth integer NULL,
			birth_datetime datetime NULL,
			race_concept_id integer NOT NULL,
			ethnicity_concept_id integer NOT NULL,
			location_id integer NULL,
			provider_id integer NULL,
			care_site_id integer NULL,
			person_source_value varchar(50) NULL,
			gender_source_value varchar(50) NULL,
			gender_source_concept_id integer NULL,
			race_source_value varchar(50) NULL,
			race_source_concept_id integer NULL,
			ethnicity_source_value varchar(50) NULL,
			ethnicity_source_concept_id integer NULL )
2024-04-06 12:41:32,888 INFO sqlalchemy.engine.Engine [generated in 0.00046s] {}
2024-04-06 12:41:32,889 INFO sqlalchemy.engine.Engine ROLLBACK

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '--sql server CDM DDL Specification for OMOP Common Data Model 5.4

--HINT DISTRI' at line 1
[SQL: --sql server CDM DDL Specification for OMOP Common Data Model 5.4

--HINT DISTRIBUTE ON KEY (person_id)
CREATE TABLE @cdmDatabaseSchema.PERSON (
			person_id integer NOT NULL,
			gender_concept_id integer NOT NULL,
			year_of_birth integer NOT NULL,
			month_of_birth integer NULL,
			day_of_birth integer NULL,
			birth_datetime datetime NULL,
			race_concept_id integer NOT NULL,
			ethnicity_concept_id integer NOT NULL,
			location_id integer NULL,
			provider_id integer NULL,
			care_site_id integer NULL,
			person_source_value varchar(50) NULL,
			gender_source_value varchar(50) NULL,
			gender_source_concept_id integer NULL,
			race_source_value varchar(50) NULL,
			race_source_concept_id integer NULL,
			ethnicity_source_value varchar(50) NULL,
			ethnicity_source_concept_id integer NULL )]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
from sqlalchemy import create_engine, text

# Assuming USERNAME, PASSWORD, SERVER, and DATABASE variables are defined above this line
connection_string = f'mysql+mysqlconnector://{USERNAME}:{PASSWORD}@{SERVER}/{DATABASE}'
engine = create_engine(connection_string, echo=True)

# Path to your SQL file
sql_file_path = './OMOPCDM_sql_server_5.4_ddl.sql'

# Initialize an empty list to hold executable lines
executable_lines = []

with open(sql_file_path, 'r') as sql_file:
    for line in sql_file:
        # Remove the placeholder from each line if it exists
        line = line.replace('@cdmDatabaseSchema.', '')

        # Filter out lines that are comments or empty
        if not line.strip().startswith('--') and line.strip():
            executable_lines.append(line)

# Combine filtered and placeholder-removed lines back into commands, split by semicolon
commands = "".join(executable_lines).split(';')

# Execute commands
with engine.begin() as conn:
    for command in commands:
        command = command.strip()  # Avoid executing empty commands
        if command:  # Check if command is not empty
            conn.execute(text(command))

In [38]:
sql_file_path = './OMOPCDM_sql_server_5.4_primary_keys.sql'

# Read SQL commands from the file and replace the placeholder
with open(sql_file_path, 'r') as file:
    sql_commands = file.read().replace('@cdmDatabaseSchema.', '')

# Split the modified SQL commands into individual commands
# Assuming each command ends with a ';' and possibly a newline for readability
commands = sql_commands.split(';\n')

# Execute each command
with engine.begin() as connection:
    for command in commands:
        command = command.strip()  # Clean whitespace
        if command:  # Check if command is not empty
            connection.execute(text(command))

2024-04-06 13:14:43,485 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 13:14:43,486 INFO sqlalchemy.engine.Engine ALTER TABLE PERSON ADD CONSTRAINT xpk_PERSON PRIMARY KEY NONCLUSTERED (person_id)
2024-04-06 13:14:43,487 INFO sqlalchemy.engine.Engine [generated in 0.00086s] {}
2024-04-06 13:14:43,561 INFO sqlalchemy.engine.Engine ALTER TABLE OBSERVATION_PERIOD ADD CONSTRAINT xpk_OBSERVATION_PERIOD PRIMARY KEY NONCLUSTERED (observation_period_id)
2024-04-06 13:14:43,561 INFO sqlalchemy.engine.Engine [generated in 0.00068s] {}
2024-04-06 13:14:43,574 INFO sqlalchemy.engine.Engine ALTER TABLE VISIT_OCCURRENCE ADD CONSTRAINT xpk_VISIT_OCCURRENCE PRIMARY KEY NONCLUSTERED (visit_occurrence_id)
2024-04-06 13:14:43,575 INFO sqlalchemy.engine.Engine [generated in 0.00081s] {}
2024-04-06 13:14:43,585 INFO sqlalchemy.engine.Engine ALTER TABLE VISIT_DETAIL ADD CONSTRAINT xpk_VISIT_DETAIL PRIMARY KEY NONCLUSTERED (visit_detail_id)
2024-04-06 13:14:43,585 INFO sqlalchemy.engine.Engine [generated in 0.00062s] {}
2024-04-06 13:14:43,594 INFO sqlalchemy.engine.Engine ALTER TABLE CONDITION_OCCURRENCE ADD CONSTRAINT xpk_CONDITION_OCCURRENCE PRIMARY KEY NONCLUSTERED (condition_occurrence_id)
2024-04-06 13:14:43,595 INFO sqlalchemy.engine.Engine [generated in 0.00055s] {}
2024-04-06 13:14:43,604 INFO sqlalchemy.engine.Engine ALTER TABLE DRUG_EXPOSURE ADD CONSTRAINT xpk_DRUG_EXPOSURE PRIMARY KEY NONCLUSTERED (drug_exposure_id)
2024-04-06 13:14:43,605 INFO sqlalchemy.engine.Engine [generated in 0.00052s] {}
2024-04-06 13:14:43,612 INFO sqlalchemy.engine.Engine ALTER TABLE PROCEDURE_OCCURRENCE ADD CONSTRAINT xpk_PROCEDURE_OCCURRENCE PRIMARY KEY NONCLUSTERED (procedure_occurrence_id)
2024-04-06 13:14:43,613 INFO sqlalchemy.engine.Engine [generated in 0.00051s] {}
2024-04-06 13:14:43,621 INFO sqlalchemy.engine.Engine ALTER TABLE DEVICE_EXPOSURE ADD CONSTRAINT xpk_DEVICE_EXPOSURE PRIMARY KEY NONCLUSTERED (device_exposure_id)
2024-04-06 13:14:43,621 INFO sqlalchemy.engine.Engine [generated in 0.00050s] {}
2024-04-06 13:14:43,628 INFO sqlalchemy.engine.Engine ALTER TABLE MEASUREMENT ADD CONSTRAINT xpk_MEASUREMENT PRIMARY KEY NONCLUSTERED (measurement_id)
2024-04-06 13:14:43,629 INFO sqlalchemy.engine.Engine [generated in 0.00052s] {}
2024-04-06 13:14:43,636 INFO sqlalchemy.engine.Engine ALTER TABLE OBSERVATION ADD CONSTRAINT xpk_OBSERVATION PRIMARY KEY NONCLUSTERED (observation_id)
2024-04-06 13:14:43,636 INFO sqlalchemy.engine.Engine [generated in 0.00060s] {}
2024-04-06 13:14:43,644 INFO sqlalchemy.engine.Engine ALTER TABLE NOTE ADD CONSTRAINT xpk_NOTE PRIMARY KEY NONCLUSTERED (note_id)
2024-04-06 13:14:43,645 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {}
2024-04-06 13:14:43,653 INFO sqlalchemy.engine.Engine ALTER TABLE NOTE_NLP ADD CONSTRAINT xpk_NOTE_NLP PRIMARY KEY NONCLUSTERED (note_nlp_id)
2024-04-06 13:14:43,653 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {}
2024-04-06 13:14:43,660 INFO sqlalchemy.engine.Engine ALTER TABLE SPECIMEN ADD CONSTRAINT xpk_SPECIMEN PRIMARY KEY NONCLUSTERED (specimen_id)
2024-04-06 13:14:43,660 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {}
2024-04-06 13:14:43,668 INFO sqlalchemy.engine.Engine ALTER TABLE LOCATION ADD CONSTRAINT xpk_LOCATION PRIMARY KEY NONCLUSTERED (location_id)
2024-04-06 13:14:43,669 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {}
2024-04-06 13:14:43,676 INFO sqlalchemy.engine.Engine ALTER TABLE CARE_SITE ADD CONSTRAINT xpk_CARE_SITE PRIMARY KEY NONCLUSTERED (care_site_id)
2024-04-06 13:14:43,677 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {}
2024-04-06 13:14:43,684 INFO sqlalchemy.engine.Engine ALTER TABLE PROVIDER ADD CONSTRAINT xpk_PROVIDER PRIMARY KEY NONCLUSTERED (provider_id)
2024-04-06 13:14:43,684 INFO sqlalchemy.engine.Engine [generated in 0.00056s] {}
2024-04-06 13:14:43,692 INFO sqlalchemy.engine.Engine ALTER TABLE PAYER_PLAN_PERIOD ADD CONSTRAINT xpk_PAYER_PLAN_PERIOD PRIMARY KEY NONCLUSTERED (payer_plan_period_id)
2024-04-06 13:14:43,692 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {}
2024-04-06 13:14:43,701 INFO sqlalchemy.engine.Engine ALTER TABLE COST ADD CONSTRAINT xpk_COST PRIMARY KEY NONCLUSTERED (cost_id)
2024-04-06 13:14:43,701 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {}
2024-04-06 13:14:43,711 INFO sqlalchemy.engine.Engine ALTER TABLE DRUG_ERA ADD CONSTRAINT xpk_DRUG_ERA PRIMARY KEY NONCLUSTERED (drug_era_id)
2024-04-06 13:14:43,711 INFO sqlalchemy.engine.Engine [generated in 0.00056s] {}
2024-04-06 13:14:43,718 INFO sqlalchemy.engine.Engine ALTER TABLE DOSE_ERA ADD CONSTRAINT xpk_DOSE_ERA PRIMARY KEY NONCLUSTERED (dose_era_id)
2024-04-06 13:14:43,719 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {}
2024-04-06 13:14:43,727 INFO sqlalchemy.engine.Engine ALTER TABLE CONDITION_ERA ADD CONSTRAINT xpk_CONDITION_ERA PRIMARY KEY NONCLUSTERED (condition_era_id)
2024-04-06 13:14:43,727 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {}
2024-04-06 13:14:43,735 INFO sqlalchemy.engine.Engine ALTER TABLE EPISODE ADD CONSTRAINT xpk_EPISODE PRIMARY KEY NONCLUSTERED (episode_id)
2024-04-06 13:14:43,736 INFO sqlalchemy.engine.Engine [generated in 0.00092s] {}
2024-04-06 13:14:43,746 INFO sqlalchemy.engine.Engine ALTER TABLE METADATA ADD CONSTRAINT xpk_METADATA PRIMARY KEY NONCLUSTERED (metadata_id)
2024-04-06 13:14:43,746 INFO sqlalchemy.engine.Engine [generated in 0.00058s] {}
2024-04-06 13:14:43,754 INFO sqlalchemy.engine.Engine ALTER TABLE CONCEPT ADD CONSTRAINT xpk_CONCEPT PRIMARY KEY NONCLUSTERED (concept_id)
2024-04-06 13:14:43,754 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {}
2024-04-06 13:14:43,765 INFO sqlalchemy.engine.Engine ALTER TABLE VOCABULARY ADD CONSTRAINT xpk_VOCABULARY PRIMARY KEY NONCLUSTERED (vocabulary_id)
2024-04-06 13:14:43,766 INFO sqlalchemy.engine.Engine [generated in 0.00055s] {}
2024-04-06 13:14:43,772 INFO sqlalchemy.engine.Engine ALTER TABLE DOMAIN ADD CONSTRAINT xpk_DOMAIN PRIMARY KEY NONCLUSTERED (domain_id)
2024-04-06 13:14:43,772 INFO sqlalchemy.engine.Engine [generated in 0.00056s] {}
2024-04-06 13:14:43,778 INFO sqlalchemy.engine.Engine ALTER TABLE CONCEPT_CLASS ADD CONSTRAINT xpk_CONCEPT_CLASS PRIMARY KEY NONCLUSTERED (concept_class_id)
2024-04-06 13:14:43,778 INFO sqlalchemy.engine.Engine [generated in 0.00065s] {}
2024-04-06 13:14:43,785 INFO sqlalchemy.engine.Engine ALTER TABLE RELATIONSHIP ADD CONSTRAINT xpk_RELATIONSHIP PRIMARY KEY NONCLUSTERED (relationship_id)
2024-04-06 13:14:43,785 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {}
2024-04-06 13:14:43,791 INFO sqlalchemy.engine.Engine COMMIT

In [36]:
from sqlalchemy.engine.reflection import Inspector

inspector = Inspector.from_engine(engine)

# Retrieve and print all table names using the Inspector
table_names = inspector.get_table_names()
print("Tables in the database:")
for table_name in table_names:
    print(table_name)

2024-04-06 13:08:12,566 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 13:08:12,567 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `test`
2024-04-06 13:08:12,567 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:08:12,601 INFO sqlalchemy.engine.Engine ROLLBACK
Tables in the database:
CARE_SITE
CDM_SOURCE
COHORT
COHORT_DEFINITION
CONCEPT
CONCEPT_ANCESTOR
CONCEPT_CLASS
CONCEPT_RELATIONSHIP
CONCEPT_SYNONYM
CONDITION_ERA
CONDITION_OCCURRENCE
COST
DEATH
DEVICE_EXPOSURE
DOMAIN
DOSE_ERA
DRUG_ERA
DRUG_EXPOSURE
DRUG_STRENGTH
EPISODE
EPISODE_EVENT
FACT_RELATIONSHIP
LOCATION
MEASUREMENT
METADATA
NOTE
NOTE_NLP
OBSERVATION
OBSERVATION_PERIOD
PAYER_PLAN_PERIOD
PERSON
PROCEDURE_OCCURRENCE
PROVIDER
RELATIONSHIP
SOURCE_TO_CONCEPT_MAP
SPECIMEN
VISIT_DETAIL
VISIT_OCCURRENCE
VOCABULARY

/var/folders/hq/659b4zd16vscxjxb3lxdr18c0000gp/T/ipykernel_1688/1350057838.py:3: SADeprecationWarning: The from_engine() method on Inspector is deprecated and will be removed in a future release.  Please use the sqlalchemy.inspect() function on an Engine or Connection in order to acquire an Inspector. (deprecated since: 1.4)
  inspector = Inspector.from_engine(engine)

In [39]:
from sqlalchemy import create_engine, text, MetaData
from sqlalchemy.schema import CreateTable
from sqlalchemy.engine.reflection import Inspector

# Assuming USERNAME, PASSWORD, SERVER, and DATABASE variables are defined above this line
connection_string = f'mysql+mysqlconnector://{USERNAME}:{PASSWORD}@{SERVER}/{DATABASE}'
engine = create_engine(connection_string, echo=True)

# Your existing code to execute SQL commands from a file...

# Now, let's print the DDL for each table
inspector = Inspector.from_engine(engine)

# Reflect the database schema into a new MetaData instance
metadata = MetaData()
metadata.reflect(bind=engine)

print("DDL for tables in the database:")
for table_name in inspector.get_table_names():
    # Using the reflected metadata to get the table object
    table = metadata.tables[table_name]
    # Generating the CREATE TABLE statement for the table
    ddl = CreateTable(table).compile(engine).string
    print(f"\nDDL for {table_name}:\n{ddl}")

2024-04-06 13:15:10,704 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-06 13:15:10,705 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,708 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-06 13:15:10,708 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,709 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-06 13:15:10,709 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,710 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 13:15:10,710 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `test`
2024-04-06 13:15:10,711 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,722 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CARE_SITE`
2024-04-06 13:15:10,722 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,725 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CDM_SOURCE`
2024-04-06 13:15:10,725 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,727 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `COHORT`
2024-04-06 13:15:10,728 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,729 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `COHORT_DEFINITION`
2024-04-06 13:15:10,729 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,730 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CONCEPT`
2024-04-06 13:15:10,731 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,732 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CONCEPT_ANCESTOR`
2024-04-06 13:15:10,733 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,736 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CONCEPT_CLASS`
2024-04-06 13:15:10,736 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,738 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CONCEPT_RELATIONSHIP`
2024-04-06 13:15:10,738 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,740 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CONCEPT_SYNONYM`
2024-04-06 13:15:10,740 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,741 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CONDITION_ERA`
2024-04-06 13:15:10,741 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,743 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CONDITION_OCCURRENCE`
2024-04-06 13:15:10,743 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,744 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `COST`
2024-04-06 13:15:10,744 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,746 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `DEATH`
2024-04-06 13:15:10,746 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,748 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `DEVICE_EXPOSURE`
2024-04-06 13:15:10,749 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,753 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `DOMAIN`
2024-04-06 13:15:10,754 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,755 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `DOSE_ERA`
2024-04-06 13:15:10,756 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,757 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `DRUG_ERA`
2024-04-06 13:15:10,758 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,759 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `DRUG_EXPOSURE`
2024-04-06 13:15:10,759 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,760 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `DRUG_STRENGTH`
2024-04-06 13:15:10,761 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,761 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `EPISODE`
2024-04-06 13:15:10,762 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,762 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `EPISODE_EVENT`
2024-04-06 13:15:10,763 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,763 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `FACT_RELATIONSHIP`
2024-04-06 13:15:10,763 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,764 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `LOCATION`
2024-04-06 13:15:10,764 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,766 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `MEASUREMENT`
2024-04-06 13:15:10,766 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,768 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `METADATA`
2024-04-06 13:15:10,768 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,770 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `NOTE`
2024-04-06 13:15:10,771 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,772 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `NOTE_NLP`
2024-04-06 13:15:10,773 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,776 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `OBSERVATION`
2024-04-06 13:15:10,776 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,778 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `OBSERVATION_PERIOD`
2024-04-06 13:15:10,778 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,780 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `PAYER_PLAN_PERIOD`
2024-04-06 13:15:10,780 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,782 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `PERSON`
2024-04-06 13:15:10,782 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,784 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `PROCEDURE_OCCURRENCE`
2024-04-06 13:15:10,784 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,787 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `PROVIDER`
2024-04-06 13:15:10,787 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,789 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `RELATIONSHIP`
2024-04-06 13:15:10,789 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,790 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `SOURCE_TO_CONCEPT_MAP`
2024-04-06 13:15:10,791 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,792 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `SPECIMEN`
2024-04-06 13:15:10,792 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,793 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `VISIT_DETAIL`
2024-04-06 13:15:10,793 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,794 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `VISIT_OCCURRENCE`
2024-04-06 13:15:10,794 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,795 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `VOCABULARY`
2024-04-06 13:15:10,796 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,809 INFO sqlalchemy.engine.Engine ROLLBACK
DDL for tables in the database:
2024-04-06 13:15:10,811 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 13:15:10,811 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `test`
2024-04-06 13:15:10,811 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-06 13:15:10,813 INFO sqlalchemy.engine.Engine ROLLBACK

DDL for CARE_SITE:

CREATE TABLE `CARE_SITE` (
	care_site_id INTEGER NOT NULL,
	care_site_name VARCHAR(255),
	place_of_service_concept_id INTEGER,
	location_id INTEGER,
	care_site_source_value VARCHAR(50),
	place_of_service_source_value VARCHAR(50),
	PRIMARY KEY (care_site_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for CDM_SOURCE:

CREATE TABLE `CDM_SOURCE` (
	cdm_source_name VARCHAR(255) NOT NULL,
	cdm_source_abbreviation VARCHAR(25) NOT NULL,
	cdm_holder VARCHAR(255) NOT NULL,
	source_description VARCHAR(255),
	source_documentation_reference VARCHAR(255),
	cdm_etl_reference VARCHAR(255),
	source_release_date DATE NOT NULL,
	cdm_release_date DATE NOT NULL,
	cdm_version VARCHAR(10),
	cdm_version_concept_id INTEGER NOT NULL,
	vocabulary_version VARCHAR(20) NOT NULL
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for COHORT:

CREATE TABLE `COHORT` (
	cohort_definition_id INTEGER NOT NULL,
	subject_id INTEGER NOT NULL,
	cohort_start_date DATE NOT NULL,
	cohort_end_date DATE NOT NULL
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for COHORT_DEFINITION:

CREATE TABLE `COHORT_DEFINITION` (
	cohort_definition_id INTEGER NOT NULL,
	cohort_definition_name VARCHAR(255) NOT NULL,
	cohort_definition_description VARCHAR(255),
	definition_type_concept_id INTEGER NOT NULL,
	cohort_definition_syntax VARCHAR(255),
	subject_concept_id INTEGER NOT NULL,
	cohort_initiation_date DATE
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for CONCEPT:

CREATE TABLE `CONCEPT` (
	concept_id INTEGER NOT NULL,
	concept_name VARCHAR(255) NOT NULL,
	domain_id VARCHAR(20) NOT NULL,
	vocabulary_id VARCHAR(20) NOT NULL,
	concept_class_id VARCHAR(20) NOT NULL,
	standard_concept VARCHAR(1),
	concept_code VARCHAR(50) NOT NULL,
	valid_start_date DATE NOT NULL,
	valid_end_date DATE NOT NULL,
	invalid_reason VARCHAR(1),
	PRIMARY KEY (concept_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for CONCEPT_ANCESTOR:

CREATE TABLE `CONCEPT_ANCESTOR` (
	ancestor_concept_id INTEGER NOT NULL,
	descendant_concept_id INTEGER NOT NULL,
	min_levels_of_separation INTEGER NOT NULL,
	max_levels_of_separation INTEGER NOT NULL
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for CONCEPT_CLASS:

CREATE TABLE `CONCEPT_CLASS` (
	concept_class_id VARCHAR(20) NOT NULL,
	concept_class_name VARCHAR(255) NOT NULL,
	concept_class_concept_id INTEGER NOT NULL,
	PRIMARY KEY (concept_class_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for CONCEPT_RELATIONSHIP:

CREATE TABLE `CONCEPT_RELATIONSHIP` (
	concept_id_1 INTEGER NOT NULL,
	concept_id_2 INTEGER NOT NULL,
	relationship_id VARCHAR(20) NOT NULL,
	valid_start_date DATE NOT NULL,
	valid_end_date DATE NOT NULL,
	invalid_reason VARCHAR(1)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for CONCEPT_SYNONYM:

CREATE TABLE `CONCEPT_SYNONYM` (
	concept_id INTEGER NOT NULL,
	concept_synonym_name VARCHAR(1000) NOT NULL,
	language_concept_id INTEGER NOT NULL
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for CONDITION_ERA:

CREATE TABLE `CONDITION_ERA` (
	condition_era_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	condition_concept_id INTEGER NOT NULL,
	condition_era_start_date DATETIME NOT NULL,
	condition_era_end_date DATETIME NOT NULL,
	condition_occurrence_count INTEGER,
	PRIMARY KEY (condition_era_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for CONDITION_OCCURRENCE:

CREATE TABLE `CONDITION_OCCURRENCE` (
	condition_occurrence_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	condition_concept_id INTEGER NOT NULL,
	condition_start_date DATE NOT NULL,
	condition_start_datetime DATETIME,
	condition_end_date DATE,
	condition_end_datetime DATETIME,
	condition_type_concept_id INTEGER NOT NULL,
	condition_status_concept_id INTEGER,
	stop_reason VARCHAR(20),
	provider_id INTEGER,
	visit_occurrence_id INTEGER,
	visit_detail_id INTEGER,
	condition_source_value VARCHAR(50),
	condition_source_concept_id INTEGER,
	condition_status_source_value VARCHAR(50),
	PRIMARY KEY (condition_occurrence_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for COST:

CREATE TABLE `COST` (
	cost_id INTEGER NOT NULL,
	cost_event_id INTEGER NOT NULL,
	cost_domain_id VARCHAR(20) NOT NULL,
	cost_type_concept_id INTEGER NOT NULL,
	currency_concept_id INTEGER,
	total_charge FLOAT,
	total_cost FLOAT,
	total_paid FLOAT,
	paid_by_payer FLOAT,
	paid_by_patient FLOAT,
	paid_patient_copay FLOAT,
	paid_patient_coinsurance FLOAT,
	paid_patient_deductible FLOAT,
	paid_by_primary FLOAT,
	paid_ingredient_cost FLOAT,
	paid_dispensing_fee FLOAT,
	payer_plan_period_id INTEGER,
	amount_allowed FLOAT,
	revenue_code_concept_id INTEGER,
	revenue_code_source_value VARCHAR(50),
	drg_concept_id INTEGER,
	drg_source_value VARCHAR(3),
	PRIMARY KEY (cost_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for DEATH:

CREATE TABLE `DEATH` (
	person_id INTEGER NOT NULL,
	death_date DATE NOT NULL,
	death_datetime DATETIME,
	death_type_concept_id INTEGER,
	cause_concept_id INTEGER,
	cause_source_value VARCHAR(50),
	cause_source_concept_id INTEGER
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for DEVICE_EXPOSURE:

CREATE TABLE `DEVICE_EXPOSURE` (
	device_exposure_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	device_concept_id INTEGER NOT NULL,
	device_exposure_start_date DATE NOT NULL,
	device_exposure_start_datetime DATETIME,
	device_exposure_end_date DATE,
	device_exposure_end_datetime DATETIME,
	device_type_concept_id INTEGER NOT NULL,
	unique_device_id VARCHAR(255),
	production_id VARCHAR(255),
	quantity INTEGER,
	provider_id INTEGER,
	visit_occurrence_id INTEGER,
	visit_detail_id INTEGER,
	device_source_value VARCHAR(50),
	device_source_concept_id INTEGER,
	unit_concept_id INTEGER,
	unit_source_value VARCHAR(50),
	unit_source_concept_id INTEGER,
	PRIMARY KEY (device_exposure_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for DOMAIN:

CREATE TABLE `DOMAIN` (
	domain_id VARCHAR(20) NOT NULL,
	domain_name VARCHAR(255) NOT NULL,
	domain_concept_id INTEGER NOT NULL,
	PRIMARY KEY (domain_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for DOSE_ERA:

CREATE TABLE `DOSE_ERA` (
	dose_era_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	drug_concept_id INTEGER NOT NULL,
	unit_concept_id INTEGER NOT NULL,
	dose_value FLOAT NOT NULL,
	dose_era_start_date DATETIME NOT NULL,
	dose_era_end_date DATETIME NOT NULL,
	PRIMARY KEY (dose_era_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for DRUG_ERA:

CREATE TABLE `DRUG_ERA` (
	drug_era_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	drug_concept_id INTEGER NOT NULL,
	drug_era_start_date DATETIME NOT NULL,
	drug_era_end_date DATETIME NOT NULL,
	drug_exposure_count INTEGER,
	gap_days INTEGER,
	PRIMARY KEY (drug_era_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for DRUG_EXPOSURE:

CREATE TABLE `DRUG_EXPOSURE` (
	drug_exposure_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	drug_concept_id INTEGER NOT NULL,
	drug_exposure_start_date DATE NOT NULL,
	drug_exposure_start_datetime DATETIME,
	drug_exposure_end_date DATE NOT NULL,
	drug_exposure_end_datetime DATETIME,
	verbatim_end_date DATE,
	drug_type_concept_id INTEGER NOT NULL,
	stop_reason VARCHAR(20),
	refills INTEGER,
	quantity FLOAT,
	days_supply INTEGER,
	sig VARCHAR(255),
	route_concept_id INTEGER,
	lot_number VARCHAR(50),
	provider_id INTEGER,
	visit_occurrence_id INTEGER,
	visit_detail_id INTEGER,
	drug_source_value VARCHAR(50),
	drug_source_concept_id INTEGER,
	route_source_value VARCHAR(50),
	dose_unit_source_value VARCHAR(50),
	PRIMARY KEY (drug_exposure_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for DRUG_STRENGTH:

CREATE TABLE `DRUG_STRENGTH` (
	drug_concept_id INTEGER NOT NULL,
	ingredient_concept_id INTEGER NOT NULL,
	amount_value FLOAT,
	amount_unit_concept_id INTEGER,
	numerator_value FLOAT,
	numerator_unit_concept_id INTEGER,
	denominator_value FLOAT,
	denominator_unit_concept_id INTEGER,
	box_size INTEGER,
	valid_start_date DATE NOT NULL,
	valid_end_date DATE NOT NULL,
	invalid_reason VARCHAR(1)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for EPISODE:

CREATE TABLE `EPISODE` (
	episode_id BIGINT NOT NULL,
	person_id BIGINT NOT NULL,
	episode_concept_id INTEGER NOT NULL,
	episode_start_date DATE NOT NULL,
	episode_start_datetime DATETIME,
	episode_end_date DATE,
	episode_end_datetime DATETIME,
	episode_parent_id BIGINT,
	episode_number INTEGER,
	episode_object_concept_id INTEGER NOT NULL,
	episode_type_concept_id INTEGER NOT NULL,
	episode_source_value VARCHAR(50),
	episode_source_concept_id INTEGER,
	PRIMARY KEY (episode_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for EPISODE_EVENT:

CREATE TABLE `EPISODE_EVENT` (
	episode_id BIGINT NOT NULL,
	event_id BIGINT NOT NULL,
	episode_event_field_concept_id INTEGER NOT NULL
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for FACT_RELATIONSHIP:

CREATE TABLE `FACT_RELATIONSHIP` (
	domain_concept_id_1 INTEGER NOT NULL,
	fact_id_1 INTEGER NOT NULL,
	domain_concept_id_2 INTEGER NOT NULL,
	fact_id_2 INTEGER NOT NULL,
	relationship_concept_id INTEGER NOT NULL
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for LOCATION:

CREATE TABLE `LOCATION` (
	location_id INTEGER NOT NULL,
	address_1 VARCHAR(50),
	address_2 VARCHAR(50),
	city VARCHAR(50),
	state VARCHAR(2),
	zip VARCHAR(9),
	county VARCHAR(20),
	location_source_value VARCHAR(50),
	country_concept_id INTEGER,
	country_source_value VARCHAR(80),
	latitude FLOAT,
	longitude FLOAT,
	PRIMARY KEY (location_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for MEASUREMENT:

CREATE TABLE `MEASUREMENT` (
	measurement_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	measurement_concept_id INTEGER NOT NULL,
	measurement_date DATE NOT NULL,
	measurement_datetime DATETIME,
	measurement_time VARCHAR(10),
	measurement_type_concept_id INTEGER NOT NULL,
	operator_concept_id INTEGER,
	value_as_number FLOAT,
	value_as_concept_id INTEGER,
	unit_concept_id INTEGER,
	range_low FLOAT,
	range_high FLOAT,
	provider_id INTEGER,
	visit_occurrence_id INTEGER,
	visit_detail_id INTEGER,
	measurement_source_value VARCHAR(50),
	measurement_source_concept_id INTEGER,
	unit_source_value VARCHAR(50),
	unit_source_concept_id INTEGER,
	value_source_value VARCHAR(50),
	measurement_event_id BIGINT,
	meas_event_field_concept_id INTEGER,
	PRIMARY KEY (measurement_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for METADATA:

CREATE TABLE `METADATA` (
	metadata_id INTEGER NOT NULL,
	metadata_concept_id INTEGER NOT NULL,
	metadata_type_concept_id INTEGER NOT NULL,
	name VARCHAR(250) NOT NULL,
	value_as_string VARCHAR(250),
	value_as_concept_id INTEGER,
	value_as_number FLOAT,
	metadata_date DATE,
	metadata_datetime DATETIME,
	PRIMARY KEY (metadata_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for NOTE:

CREATE TABLE `NOTE` (
	note_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	note_date DATE NOT NULL,
	note_datetime DATETIME,
	note_type_concept_id INTEGER NOT NULL,
	note_class_concept_id INTEGER NOT NULL,
	note_title VARCHAR(250),
	note_text VARCHAR(255) NOT NULL,
	encoding_concept_id INTEGER NOT NULL,
	language_concept_id INTEGER NOT NULL,
	provider_id INTEGER,
	visit_occurrence_id INTEGER,
	visit_detail_id INTEGER,
	note_source_value VARCHAR(50),
	note_event_id BIGINT,
	note_event_field_concept_id INTEGER,
	PRIMARY KEY (note_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for NOTE_NLP:

CREATE TABLE `NOTE_NLP` (
	note_nlp_id INTEGER NOT NULL,
	note_id INTEGER NOT NULL,
	section_concept_id INTEGER,
	snippet VARCHAR(250),
	offset VARCHAR(50),
	lexical_variant VARCHAR(250) NOT NULL,
	note_nlp_concept_id INTEGER,
	note_nlp_source_concept_id INTEGER,
	nlp_system VARCHAR(250),
	nlp_date DATE NOT NULL,
	nlp_datetime DATETIME,
	term_exists VARCHAR(1),
	term_temporal VARCHAR(50),
	term_modifiers VARCHAR(2000),
	PRIMARY KEY (note_nlp_id)
)DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci



DDL for OBSERVATION:

CREATE TABLE `OBSERVATION` (
	observation_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	observation_concept_id INTEGER NOT NULL,
	observation_date DATE NOT NULL,
	observation_datetime DATETIME,
	observation_type_concept_id INTEGER NOT NULL,
	value_as_number FLOAT,
	value_as_string VARCHAR(60),
	value_as_concept_id INTEGER,
	qualifier_concept_id INTEGER,
	unit_concept_id INTEGER,
	provider_id INTEGER,
	visit_occurrence_id INTEGER,
	visit_detail_id INTEGER,
	observation_source_value VARCHAR(50),

/var/folders/hq/659b4zd16vscxjxb3lxdr18c0000gp/T/ipykernel_1688/3633835634.py:12: SADeprecationWarning: The from_engine() method on Inspector is deprecated and will be removed in a future release.  Please use the sqlalchemy.inspect() function on an Engine or Connection in order to acquire an Inspector. (deprecated since: 1.4)
  inspector = Inspector.from_engine(engine)

In [41]:
import re

# Path to your SQL file containing CREATE INDEX statements
sql_file_path = './OMOPCDM_sql_server_5.4_indices.sql'

# Read SQL commands from the file and replace the placeholder
with open(sql_file_path, 'r') as file:
    # Read the entire file content
    sql_commands = file.read()
# Remove multiline comments
sql_commands = re.sub(r'/\*.*?\*/', '', sql_commands, flags=re.DOTALL)

# Replace the placeholder
sql_commands = sql_commands.replace('@cdmDatabaseSchema.', '')

# Split the modified SQL commands into individual commands
commands = sql_commands.split(';')

# Filter out empty commands and commands that are commented out
filtered_commands = []
for command in commands:
    # Trim whitespace and remove single-line comments
    stripped_command = command.strip()
    if stripped_command and not stripped_command.startswith('--'):
        filtered_commands.append(stripped_command)

# Execute each filtered command
with engine.begin() as connection:
    for command in filtered_commands:
        try:
            connection.execute(text(command))
        except Exception as e:
            print(f"An error occurred: {e}")
            print(f"While executing: {command}\n")

print("Index creation commands executed successfully.")

2024-04-06 13:35:19,962 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-06 13:35:19,990 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_person_id ON person (person_id ASC)
2024-04-06 13:35:19,991 INFO sqlalchemy.engine.Engine [generated in 0.02406s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_person_id ON person (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_person_id ON person (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_person_id ON person (person_id ASC)

2024-04-06 13:35:19,998 INFO sqlalchemy.engine.Engine CREATE INDEX idx_gender ON person (gender_concept_id ASC)
2024-04-06 13:35:19,999 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {}
2024-04-06 13:35:20,035 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_observation_period_id_1 ON observation_period (person_id ASC)
2024-04-06 13:35:20,035 INFO sqlalchemy.engine.Engine [generated in 0.00058s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_observation_period_id_1 ON observation_period (person_id ASC' at line 1
[SQL: CREATE CLUSTERED INDEX idx_observation_period_id_1 ON observation_period (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_observation_period_id_1 ON observation_period (person_id ASC)

2024-04-06 13:35:20,036 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_visit_person_id_1 ON visit_occurrence (person_id ASC)
2024-04-06 13:35:20,036 INFO sqlalchemy.engine.Engine [generated in 0.00039s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_visit_person_id_1 ON visit_occurrence (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_visit_person_id_1 ON visit_occurrence (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_visit_person_id_1 ON visit_occurrence (person_id ASC)

2024-04-06 13:35:20,037 INFO sqlalchemy.engine.Engine CREATE INDEX idx_visit_concept_id_1 ON visit_occurrence (visit_concept_id ASC)
2024-04-06 13:35:20,037 INFO sqlalchemy.engine.Engine [generated in 0.00034s] {}
2024-04-06 13:35:20,042 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_visit_det_person_id_1 ON visit_detail (person_id ASC)
2024-04-06 13:35:20,043 INFO sqlalchemy.engine.Engine [generated in 0.00045s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_visit_det_person_id_1 ON visit_detail (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_visit_det_person_id_1 ON visit_detail (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_visit_det_person_id_1 ON visit_detail (person_id ASC)

2024-04-06 13:35:20,043 INFO sqlalchemy.engine.Engine CREATE INDEX idx_visit_det_concept_id_1 ON visit_detail (visit_detail_concept_id ASC)
2024-04-06 13:35:20,043 INFO sqlalchemy.engine.Engine [generated in 0.00039s] {}
2024-04-06 13:35:20,048 INFO sqlalchemy.engine.Engine CREATE INDEX idx_visit_det_occ_id ON visit_detail (visit_occurrence_id ASC)
2024-04-06 13:35:20,048 INFO sqlalchemy.engine.Engine [generated in 0.00068s] {}
2024-04-06 13:35:20,054 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_condition_person_id_1 ON condition_occurrence (person_id ASC)
2024-04-06 13:35:20,054 INFO sqlalchemy.engine.Engine [generated in 0.00058s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_condition_person_id_1 ON condition_occurrence (person_id ASC' at line 1
[SQL: CREATE CLUSTERED INDEX idx_condition_person_id_1 ON condition_occurrence (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_condition_person_id_1 ON condition_occurrence (person_id ASC)

2024-04-06 13:35:20,055 INFO sqlalchemy.engine.Engine CREATE INDEX idx_condition_concept_id_1 ON condition_occurrence (condition_concept_id ASC)
2024-04-06 13:35:20,055 INFO sqlalchemy.engine.Engine [generated in 0.00036s] {}
2024-04-06 13:35:20,059 INFO sqlalchemy.engine.Engine CREATE INDEX idx_condition_visit_id_1 ON condition_occurrence (visit_occurrence_id ASC)
2024-04-06 13:35:20,060 INFO sqlalchemy.engine.Engine [generated in 0.00041s] {}
2024-04-06 13:35:20,065 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_drug_person_id_1 ON drug_exposure (person_id ASC)
2024-04-06 13:35:20,066 INFO sqlalchemy.engine.Engine [generated in 0.00059s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_drug_person_id_1 ON drug_exposure (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_drug_person_id_1 ON drug_exposure (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_drug_person_id_1 ON drug_exposure (person_id ASC)

2024-04-06 13:35:20,066 INFO sqlalchemy.engine.Engine CREATE INDEX idx_drug_concept_id_1 ON drug_exposure (drug_concept_id ASC)
2024-04-06 13:35:20,067 INFO sqlalchemy.engine.Engine [generated in 0.00060s] {}
2024-04-06 13:35:20,074 INFO sqlalchemy.engine.Engine CREATE INDEX idx_drug_visit_id_1 ON drug_exposure (visit_occurrence_id ASC)
2024-04-06 13:35:20,075 INFO sqlalchemy.engine.Engine [generated in 0.00143s] {}
2024-04-06 13:35:20,080 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_procedure_person_id_1 ON procedure_occurrence (person_id ASC)
2024-04-06 13:35:20,080 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_procedure_person_id_1 ON procedure_occurrence (person_id ASC' at line 1
[SQL: CREATE CLUSTERED INDEX idx_procedure_person_id_1 ON procedure_occurrence (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_procedure_person_id_1 ON procedure_occurrence (person_id ASC)

2024-04-06 13:35:20,082 INFO sqlalchemy.engine.Engine CREATE INDEX idx_procedure_concept_id_1 ON procedure_occurrence (procedure_concept_id ASC)
2024-04-06 13:35:20,082 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {}
2024-04-06 13:35:20,087 INFO sqlalchemy.engine.Engine CREATE INDEX idx_procedure_visit_id_1 ON procedure_occurrence (visit_occurrence_id ASC)
2024-04-06 13:35:20,087 INFO sqlalchemy.engine.Engine [generated in 0.00056s] {}
2024-04-06 13:35:20,092 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_device_person_id_1 ON device_exposure (person_id ASC)
2024-04-06 13:35:20,093 INFO sqlalchemy.engine.Engine [generated in 0.00049s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_device_person_id_1 ON device_exposure (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_device_person_id_1 ON device_exposure (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_device_person_id_1 ON device_exposure (person_id ASC)

2024-04-06 13:35:20,093 INFO sqlalchemy.engine.Engine CREATE INDEX idx_device_concept_id_1 ON device_exposure (device_concept_id ASC)
2024-04-06 13:35:20,093 INFO sqlalchemy.engine.Engine [generated in 0.00028s] {}
2024-04-06 13:35:20,098 INFO sqlalchemy.engine.Engine CREATE INDEX idx_device_visit_id_1 ON device_exposure (visit_occurrence_id ASC)
2024-04-06 13:35:20,098 INFO sqlalchemy.engine.Engine [generated in 0.00077s] {}
2024-04-06 13:35:20,105 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_measurement_person_id_1 ON measurement (person_id ASC)
2024-04-06 13:35:20,106 INFO sqlalchemy.engine.Engine [generated in 0.00061s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_measurement_person_id_1 ON measurement (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_measurement_person_id_1 ON measurement (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_measurement_person_id_1 ON measurement (person_id ASC)

2024-04-06 13:35:20,106 INFO sqlalchemy.engine.Engine CREATE INDEX idx_measurement_concept_id_1 ON measurement (measurement_concept_id ASC)
2024-04-06 13:35:20,107 INFO sqlalchemy.engine.Engine [generated in 0.00034s] {}
2024-04-06 13:35:20,112 INFO sqlalchemy.engine.Engine CREATE INDEX idx_measurement_visit_id_1 ON measurement (visit_occurrence_id ASC)
2024-04-06 13:35:20,112 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {}
2024-04-06 13:35:20,120 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_observation_person_id_1 ON observation (person_id ASC)
2024-04-06 13:35:20,120 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_observation_person_id_1 ON observation (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_observation_person_id_1 ON observation (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_observation_person_id_1 ON observation (person_id ASC)

2024-04-06 13:35:20,121 INFO sqlalchemy.engine.Engine CREATE INDEX idx_observation_concept_id_1 ON observation (observation_concept_id ASC)
2024-04-06 13:35:20,121 INFO sqlalchemy.engine.Engine [generated in 0.00033s] {}
2024-04-06 13:35:20,126 INFO sqlalchemy.engine.Engine CREATE INDEX idx_observation_visit_id_1 ON observation (visit_occurrence_id ASC)
2024-04-06 13:35:20,126 INFO sqlalchemy.engine.Engine [generated in 0.00067s] {}
2024-04-06 13:35:20,131 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_death_person_id_1 ON death (person_id ASC)
2024-04-06 13:35:20,131 INFO sqlalchemy.engine.Engine [generated in 0.00051s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_death_person_id_1 ON death (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_death_person_id_1 ON death (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_death_person_id_1 ON death (person_id ASC)

2024-04-06 13:35:20,132 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_note_person_id_1 ON note (person_id ASC)
2024-04-06 13:35:20,132 INFO sqlalchemy.engine.Engine [generated in 0.00035s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_note_person_id_1 ON note (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_note_person_id_1 ON note (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_note_person_id_1 ON note (person_id ASC)

2024-04-06 13:35:20,133 INFO sqlalchemy.engine.Engine CREATE INDEX idx_note_concept_id_1 ON note (note_type_concept_id ASC)
2024-04-06 13:35:20,133 INFO sqlalchemy.engine.Engine [generated in 0.00054s] {}
2024-04-06 13:35:20,138 INFO sqlalchemy.engine.Engine CREATE INDEX idx_note_visit_id_1 ON note (visit_occurrence_id ASC)
2024-04-06 13:35:20,139 INFO sqlalchemy.engine.Engine [generated in 0.00061s] {}
2024-04-06 13:35:20,144 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_note_nlp_note_id_1 ON note_nlp (note_id ASC)
2024-04-06 13:35:20,144 INFO sqlalchemy.engine.Engine [generated in 0.00055s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_note_nlp_note_id_1 ON note_nlp (note_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_note_nlp_note_id_1 ON note_nlp (note_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_note_nlp_note_id_1 ON note_nlp (note_id ASC)

2024-04-06 13:35:20,145 INFO sqlalchemy.engine.Engine CREATE INDEX idx_note_nlp_concept_id_1 ON note_nlp (note_nlp_concept_id ASC)
2024-04-06 13:35:20,145 INFO sqlalchemy.engine.Engine [generated in 0.00036s] {}
2024-04-06 13:35:20,150 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_specimen_person_id_1 ON specimen (person_id ASC)
2024-04-06 13:35:20,150 INFO sqlalchemy.engine.Engine [generated in 0.00077s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_specimen_person_id_1 ON specimen (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_specimen_person_id_1 ON specimen (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_specimen_person_id_1 ON specimen (person_id ASC)

2024-04-06 13:35:20,152 INFO sqlalchemy.engine.Engine CREATE INDEX idx_specimen_concept_id_1 ON specimen (specimen_concept_id ASC)
2024-04-06 13:35:20,152 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {}
2024-04-06 13:35:20,161 INFO sqlalchemy.engine.Engine CREATE INDEX idx_fact_relationship_id1 ON fact_relationship (domain_concept_id_1 ASC)
2024-04-06 13:35:20,161 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {}
2024-04-06 13:35:20,172 INFO sqlalchemy.engine.Engine CREATE INDEX idx_fact_relationship_id2 ON fact_relationship (domain_concept_id_2 ASC)
2024-04-06 13:35:20,172 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {}
2024-04-06 13:35:20,180 INFO sqlalchemy.engine.Engine CREATE INDEX idx_fact_relationship_id3 ON fact_relationship (relationship_concept_id ASC)
2024-04-06 13:35:20,180 INFO sqlalchemy.engine.Engine [generated in 0.00058s] {}
2024-04-06 13:35:20,187 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_location_id_1 ON location (location_id ASC)
2024-04-06 13:35:20,187 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_location_id_1 ON location (location_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_location_id_1 ON location (location_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_location_id_1 ON location (location_id ASC)

2024-04-06 13:35:20,188 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_care_site_id_1 ON care_site (care_site_id ASC)
2024-04-06 13:35:20,188 INFO sqlalchemy.engine.Engine [generated in 0.00032s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_care_site_id_1 ON care_site (care_site_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_care_site_id_1 ON care_site (care_site_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_care_site_id_1 ON care_site (care_site_id ASC)

2024-04-06 13:35:20,189 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_provider_id_1 ON provider (provider_id ASC)
2024-04-06 13:35:20,189 INFO sqlalchemy.engine.Engine [generated in 0.00029s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_provider_id_1 ON provider (provider_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_provider_id_1 ON provider (provider_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_provider_id_1 ON provider (provider_id ASC)

2024-04-06 13:35:20,189 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_period_person_id_1 ON payer_plan_period (person_id ASC)
2024-04-06 13:35:20,190 INFO sqlalchemy.engine.Engine [generated in 0.00025s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_period_person_id_1 ON payer_plan_period (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_period_person_id_1 ON payer_plan_period (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_period_person_id_1 ON payer_plan_period (person_id ASC)

2024-04-06 13:35:20,190 INFO sqlalchemy.engine.Engine CREATE INDEX idx_cost_event_id  ON cost (cost_event_id ASC)
2024-04-06 13:35:20,190 INFO sqlalchemy.engine.Engine [generated in 0.00032s] {}
2024-04-06 13:35:20,197 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_drug_era_person_id_1 ON drug_era (person_id ASC)
2024-04-06 13:35:20,198 INFO sqlalchemy.engine.Engine [generated in 0.00087s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_drug_era_person_id_1 ON drug_era (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_drug_era_person_id_1 ON drug_era (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_drug_era_person_id_1 ON drug_era (person_id ASC)

2024-04-06 13:35:20,199 INFO sqlalchemy.engine.Engine CREATE INDEX idx_drug_era_concept_id_1 ON drug_era (drug_concept_id ASC)
2024-04-06 13:35:20,201 INFO sqlalchemy.engine.Engine [generated in 0.00249s] {}
2024-04-06 13:35:20,209 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_dose_era_person_id_1 ON dose_era (person_id ASC)
2024-04-06 13:35:20,209 INFO sqlalchemy.engine.Engine [generated in 0.00046s] {}