In [2]:
from sqlalchemy import create_engine, Column, Integer, String, Date, DateTime, Float, BigInteger, Text
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
engine = create_engine("sqlite://", echo=True)
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()

/var/folders/hq/659b4zd16vscxjxb3lxdr18c0000gp/T/ipykernel_83383/1111253954.py:7: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [3]:
from sqlalchemy import create_engine, text
import re

# Connection details
USERNAME = 'root'
PASSWORD = 'TSUtigers123'
SERVER = 'localhost'
DATABASE = 'cdm'

# SQLAlchemy connection string for MySQL using mysqlconnector
connection_string = f'mysql+mysqlconnector://{USERNAME}:{PASSWORD}@{SERVER}/{DATABASE}'

# Creating the engine for MySQL
engine = create_engine(connection_string, echo=True)

In [95]:

sql_file_path = './OMOPCDM_sql_server_5.4_ddl.sql'

cleaned_sql_commands = []
with open(sql_file_path, 'r') as sql_file:
    for line in sql_file:
        if not line.strip().startswith(('HINT', '--')):
            line = re.sub(r'--.*$', '', line)
            line = line.replace('@cdmDatabaseSchema.', '')
            cleaned_sql_commands.append(line)

sql_commands = ''.join(cleaned_sql_commands)
commands = re.split(r';\s*(?=\n)', sql_commands)

with engine.begin() as conn:
    for command in commands:
        if command.strip():  # Avoid executing empty or whitespace-only commands
            conn.execute(text(command))

2024-04-18 22:58:07,224 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-18 22:58:07,225 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:58:07,228 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-18 22:58:07,228 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:58:07,229 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-18 22:58:07,229 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:58:07,231 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-18 22:58:07,231 INFO sqlalchemy.engine.Engine
CREATE TABLE PERSON (
			person_id integer NOT NULL,
			gender_concept_id integer NOT NULL,
			year_of_birth integer NOT NULL,
			month_of_birth integer NULL,
			day_of_birth integer NULL,
			birth_datetime datetime NULL,
			race_concept_id integer NOT NULL,
			ethnicity_concept_id integer NOT NULL,
			location_id integer NULL,
			provider_id integer NULL,
			care_site_id integer NULL,
			person_source_value varchar(50) NULL,
			gender_source_value varchar(50) NULL,
			gender_source_concept_id integer NULL,
			race_source_value varchar(50) NULL,
			race_source_concept_id integer NULL,
			ethnicity_source_value varchar(50) NULL,
			ethnicity_source_concept_id integer NULL )
2024-04-18 22:58:07,232 INFO sqlalchemy.engine.Engine [generated in 0.00045s] {}
2024-04-18 22:58:07,338 INFO sqlalchemy.engine.Engine
CREATE TABLE OBSERVATION_PERIOD (
			observation_period_id integer NOT NULL,
			person_id integer NOT NULL,
			observation_period_start_date date NOT NULL,
			observation_period_end_date date NOT NULL,
			period_type_concept_id integer NOT NULL )
2024-04-18 22:58:07,339 INFO sqlalchemy.engine.Engine [generated in 0.00119s] {}
2024-04-18 22:58:07,359 INFO sqlalchemy.engine.Engine
CREATE TABLE VISIT_OCCURRENCE (
			visit_occurrence_id integer NOT NULL,
			person_id integer NOT NULL,
			visit_concept_id integer NOT NULL,
			visit_start_date date NOT NULL,
			visit_start_datetime datetime NULL,
			visit_end_date date NOT NULL,
			visit_end_datetime datetime NULL,
			visit_type_concept_id Integer NOT NULL,
			provider_id integer NULL,
			care_site_id integer NULL,
			visit_source_value varchar(50) NULL,
			visit_source_concept_id integer NULL,
			admitted_from_concept_id integer NULL,
			admitted_from_source_value varchar(50) NULL,
			discharged_to_concept_id integer NULL,
			discharged_to_source_value varchar(50) NULL,
			preceding_visit_occurrence_id integer NULL )
2024-04-18 22:58:07,360 INFO sqlalchemy.engine.Engine [generated in 0.00129s] {}
2024-04-18 22:58:07,372 INFO sqlalchemy.engine.Engine
CREATE TABLE VISIT_DETAIL (
			visit_detail_id integer NOT NULL,
			person_id integer NOT NULL,
			visit_detail_concept_id integer NOT NULL,
			visit_detail_start_date date NOT NULL,
			visit_detail_start_datetime datetime NULL,
			visit_detail_end_date date NOT NULL,
			visit_detail_end_datetime datetime NULL,
			visit_detail_type_concept_id integer NOT NULL,
			provider_id integer NULL,
			care_site_id integer NULL,
			visit_detail_source_value varchar(50) NULL,
			visit_detail_source_concept_id Integer NULL,
			admitted_from_concept_id Integer NULL,
			admitted_from_source_value varchar(50) NULL,
			discharged_to_source_value varchar(50) NULL,
			discharged_to_concept_id integer NULL,
			preceding_visit_detail_id integer NULL,
			parent_visit_detail_id integer NULL,
			visit_occurrence_id integer NOT NULL )
2024-04-18 22:58:07,372 INFO sqlalchemy.engine.Engine [generated in 0.00064s] {}
2024-04-18 22:58:07,384 INFO sqlalchemy.engine.Engine
CREATE TABLE CONDITION_OCCURRENCE (
			condition_occurrence_id integer NOT NULL,
			person_id integer NOT NULL,
			condition_concept_id integer NOT NULL,
			condition_start_date date NOT NULL,
			condition_start_datetime datetime NULL,
			condition_end_date date NULL,
			condition_end_datetime datetime NULL,
			condition_type_concept_id integer NOT NULL,
			condition_status_concept_id integer NULL,
			stop_reason varchar(20) NULL,
			provider_id integer NULL,
			visit_occurrence_id integer NULL,
			visit_detail_id integer NULL,
			condition_source_value varchar(50) NULL,
			condition_source_concept_id integer NULL,
			condition_status_source_value varchar(50) NULL )
2024-04-18 22:58:07,385 INFO sqlalchemy.engine.Engine [generated in 0.00114s] {}
2024-04-18 22:58:07,396 INFO sqlalchemy.engine.Engine
CREATE TABLE DRUG_EXPOSURE (
			drug_exposure_id integer NOT NULL,
			person_id integer NOT NULL,
			drug_concept_id integer NOT NULL,
			drug_exposure_start_date date NOT NULL,
			drug_exposure_start_datetime datetime NULL,
			drug_exposure_end_date date NOT NULL,
			drug_exposure_end_datetime datetime NULL,
			verbatim_end_date date NULL,
			drug_type_concept_id integer NOT NULL,
			stop_reason varchar(20) NULL,
			refills integer NULL,
			quantity float NULL,
			days_supply integer NULL,
			sig varchar(255) NULL,
			route_concept_id integer NULL,
			lot_number varchar(50) NULL,
			provider_id integer NULL,
			visit_occurrence_id integer NULL,
			visit_detail_id integer NULL,
			drug_source_value varchar(50) NULL,
			drug_source_concept_id integer NULL,
			route_source_value varchar(50) NULL,
			dose_unit_source_value varchar(50) NULL )
2024-04-18 22:58:07,397 INFO sqlalchemy.engine.Engine [generated in 0.00112s] {}
2024-04-18 22:58:07,413 INFO sqlalchemy.engine.Engine
CREATE TABLE PROCEDURE_OCCURRENCE (
			procedure_occurrence_id integer NOT NULL,
			person_id integer NOT NULL,
			procedure_concept_id integer NOT NULL,
			procedure_date date NOT NULL,
			procedure_datetime datetime NULL,
			procedure_end_date date NULL,
			procedure_end_datetime datetime NULL,
			procedure_type_concept_id integer NOT NULL,
			modifier_concept_id integer NULL,
			quantity integer NULL,
			provider_id integer NULL,
			visit_occurrence_id integer NULL,
			visit_detail_id integer NULL,
			procedure_source_value varchar(50) NULL,
			procedure_source_concept_id integer NULL,
			modifier_source_value varchar(50) NULL )
2024-04-18 22:58:07,415 INFO sqlalchemy.engine.Engine [generated in 0.00213s] {}
2024-04-18 22:58:07,431 INFO sqlalchemy.engine.Engine
CREATE TABLE DEVICE_EXPOSURE (
			device_exposure_id integer NOT NULL,
			person_id integer NOT NULL,
			device_concept_id integer NOT NULL,
			device_exposure_start_date date NOT NULL,
			device_exposure_start_datetime datetime NULL,
			device_exposure_end_date date NULL,
			device_exposure_end_datetime datetime NULL,
			device_type_concept_id integer NOT NULL,
			unique_device_id varchar(255) NULL,
			production_id varchar(255) NULL,
			quantity integer NULL,
			provider_id integer NULL,
			visit_occurrence_id integer NULL,
			visit_detail_id integer NULL,
			device_source_value varchar(50) NULL,
			device_source_concept_id integer NULL,
			unit_concept_id integer NULL,
			unit_source_value varchar(50) NULL,
			unit_source_concept_id integer NULL )
2024-04-18 22:58:07,433 INFO sqlalchemy.engine.Engine [generated in 0.00195s] {}
2024-04-18 22:58:07,447 INFO sqlalchemy.engine.Engine
CREATE TABLE MEASUREMENT (
			measurement_id integer NOT NULL,
			person_id integer NOT NULL,
			measurement_concept_id integer NOT NULL,
			measurement_date date NOT NULL,
			measurement_datetime datetime NULL,
			measurement_time varchar(10) NULL,
			measurement_type_concept_id integer NOT NULL,
			operator_concept_id integer NULL,
			value_as_number float NULL,
			value_as_concept_id integer NULL,
			unit_concept_id integer NULL,
			range_low float NULL,
			range_high float NULL,
			provider_id integer NULL,
			visit_occurrence_id integer NULL,
			visit_detail_id integer NULL,
			measurement_source_value varchar(50) NULL,
			measurement_source_concept_id integer NULL,
			unit_source_value varchar(50) NULL,
			unit_source_concept_id integer NULL,
			value_source_value varchar(50) NULL,
			measurement_event_id bigint NULL,
			meas_event_field_concept_id integer NULL )
2024-04-18 22:58:07,448 INFO sqlalchemy.engine.Engine [generated in 0.00112s] {}
2024-04-18 22:58:07,458 INFO sqlalchemy.engine.Engine
CREATE TABLE OBSERVATION (
			observation_id integer NOT NULL,
			person_id integer NOT NULL,
			observation_concept_id integer NOT NULL,
			observation_date date NOT NULL,
			observation_datetime datetime NULL,
			observation_type_concept_id integer NOT NULL,
			value_as_number float NULL,
			value_as_string varchar(60) NULL,
			value_as_concept_id Integer NULL,
			qualifier_concept_id integer NULL,
			unit_concept_id integer NULL,
			provider_id integer NULL,
			visit_occurrence_id integer NULL,
			visit_detail_id integer NULL,
			observation_source_value varchar(50) NULL,
			observation_source_concept_id integer NULL,
			unit_source_value varchar(50) NULL,
			qualifier_source_value varchar(50) NULL,
			value_source_value varchar(50) NULL,
			observation_event_id bigint NULL,
			obs_event_field_concept_id integer NULL )
2024-04-18 22:58:07,464 INFO sqlalchemy.engine.Engine [generated in 0.00565s] {}
2024-04-18 22:58:07,490 INFO sqlalchemy.engine.Engine
CREATE TABLE DEATH (
			person_id integer NOT NULL,
			death_date date NOT NULL,
			death_datetime datetime NULL,
			death_type_concept_id integer NULL,
			cause_concept_id integer NULL,
			cause_source_value varchar(50) NULL,
			cause_source_concept_id integer NULL )
2024-04-18 22:58:07,491 INFO sqlalchemy.engine.Engine [generated in 0.00215s] {}
2024-04-18 22:58:07,506 INFO sqlalchemy.engine.Engine
CREATE TABLE NOTE (
			note_id integer NOT NULL,
			person_id integer NOT NULL,
			note_date date NOT NULL,
			note_datetime datetime NULL,
			note_type_concept_id integer NOT NULL,
			note_class_concept_id integer NOT NULL,
			note_title varchar(250) NULL,
			note_text varchar(255) NOT NULL,
			encoding_concept_id integer NOT NULL,
			language_concept_id integer NOT NULL,
			provider_id integer NULL,
			visit_occurrence_id integer NULL,
			visit_detail_id integer NULL,
			note_source_value varchar(50) NULL,
			note_event_id bigint NULL,
			note_event_field_concept_id integer NULL )
2024-04-18 22:58:07,508 INFO sqlalchemy.engine.Engine [generated in 0.00194s] {}
2024-04-18 22:58:07,530 INFO sqlalchemy.engine.Engine
CREATE TABLE NOTE_NLP (
			note_nlp_id integer NOT NULL,
			note_id integer NOT NULL,
			section_concept_id integer NULL,
			snippet varchar(250) NULL,
			`offset` varchar(50) NULL,
			lexical_variant varchar(250) NOT NULL,
			note_nlp_concept_id integer NULL,
			note_nlp_source_concept_id integer NULL,
			nlp_system varchar(250) NULL,
			nlp_date date NOT NULL,
			nlp_datetime datetime NULL,
			term_exists varchar(1) NULL,
			term_temporal varchar(50) NULL,
			term_modifiers varchar(2000) NULL )
2024-04-18 22:58:07,531 INFO sqlalchemy.engine.Engine [generated in 0.00132s] {}
2024-04-18 22:58:07,542 INFO sqlalchemy.engine.Engine
CREATE TABLE SPECIMEN (
			specimen_id integer NOT NULL,
			person_id integer NOT NULL,
			specimen_concept_id integer NOT NULL,
			specimen_type_concept_id integer NOT NULL,
			specimen_date date NOT NULL,
			specimen_datetime datetime NULL,
			quantity float NULL,
			unit_concept_id integer NULL,
			anatomic_site_concept_id integer NULL,
			disease_status_concept_id integer NULL,
			specimen_source_id varchar(50) NULL,
			specimen_source_value varchar(50) NULL,
			unit_source_value varchar(50) NULL,
			anatomic_site_source_value varchar(50) NULL,
			disease_status_source_value varchar(50) NULL )
2024-04-18 22:58:07,542 INFO sqlalchemy.engine.Engine [generated in 0.00107s] {}
2024-04-18 22:58:07,556 INFO sqlalchemy.engine.Engine
CREATE TABLE FACT_RELATIONSHIP (
			domain_concept_id_1 integer NOT NULL,
			fact_id_1 integer NOT NULL,
			domain_concept_id_2 integer NOT NULL,
			fact_id_2 integer NOT NULL,
			relationship_concept_id integer NOT NULL )
2024-04-18 22:58:07,556 INFO sqlalchemy.engine.Engine [generated in 0.00089s] {}
2024-04-18 22:58:07,566 INFO sqlalchemy.engine.Engine
CREATE TABLE LOCATION (
			location_id integer NOT NULL,
			address_1 varchar(50) NULL,
			address_2 varchar(50) NULL,
			city varchar(50) NULL,
			state varchar(2) NULL,
			zip varchar(9) NULL,
			county varchar(20) NULL,
			location_source_value varchar(50) NULL,
			country_concept_id integer NULL,
			country_source_value varchar(80) NULL,
			latitude float NULL,
			longitude float NULL )
2024-04-18 22:58:07,568 INFO sqlalchemy.engine.Engine [generated in 0.00154s] {}
2024-04-18 22:58:07,580 INFO sqlalchemy.engine.Engine
CREATE TABLE CARE_SITE (
			care_site_id integer NOT NULL,
			care_site_name varchar(255) NULL,
			place_of_service_concept_id integer NULL,
			location_id integer NULL,
			care_site_source_value varchar(50) NULL,
			place_of_service_source_value varchar(50) NULL )
2024-04-18 22:58:07,582 INFO sqlalchemy.engine.Engine [generated in 0.00178s] {}
2024-04-18 22:58:07,593 INFO sqlalchemy.engine.Engine
CREATE TABLE PROVIDER (
			provider_id integer NOT NULL,
			provider_name varchar(255) NULL,
			npi varchar(20) NULL,
			dea varchar(20) NULL,
			specialty_concept_id integer NULL,
			care_site_id integer NULL,
			year_of_birth integer NULL,
			gender_concept_id integer NULL,
			provider_source_value varchar(50) NULL,
			specialty_source_value varchar(50) NULL,
			specialty_source_concept_id integer NULL,
			gender_source_value varchar(50) NULL,
			gender_source_concept_id integer NULL )
2024-04-18 22:58:07,595 INFO sqlalchemy.engine.Engine [generated in 0.00198s] {}
2024-04-18 22:58:07,613 INFO sqlalchemy.engine.Engine
CREATE TABLE PAYER_PLAN_PERIOD (
			payer_plan_period_id integer NOT NULL,
			person_id integer NOT NULL,
			payer_plan_period_start_date date NOT NULL,
			payer_plan_period_end_date date NOT NULL,
			payer_concept_id integer NULL,
			payer_source_value varchar(50) NULL,
			payer_source_concept_id integer NULL,
			plan_concept_id integer NULL,
			plan_source_value varchar(50) NULL,
			plan_source_concept_id integer NULL,
			sponsor_concept_id integer NULL,
			sponsor_source_value varchar(50) NULL,
			sponsor_source_concept_id integer NULL,
			family_source_value varchar(50) NULL,
			stop_reason_concept_id integer NULL,
			stop_reason_source_value varchar(50) NULL,
			stop_reason_source_concept_id integer NULL )
2024-04-18 22:58:07,615 INFO sqlalchemy.engine.Engine [generated in 0.00223s] {}
2024-04-18 22:58:07,635 INFO sqlalchemy.engine.Engine
CREATE TABLE COST (
			cost_id integer NOT NULL,
			cost_event_id integer NOT NULL,
			cost_domain_id varchar(20) NOT NULL,
			cost_type_concept_id integer NOT NULL,
			currency_concept_id integer NULL,
			total_charge float NULL,
			total_cost float NULL,
			total_paid float NULL,
			paid_by_payer float NULL,
			paid_by_patient float NULL,
			paid_patient_copay float NULL,
			paid_patient_coinsurance float NULL,
			paid_patient_deductible float NULL,
			paid_by_primary float NULL,
			paid_ingredient_cost float NULL,
			paid_dispensing_fee float NULL,
			payer_plan_period_id integer NULL,
			amount_allowed float NULL,
			revenue_code_concept_id integer NULL,
			revenue_code_source_value varchar(50) NULL,
			drg_concept_id integer NULL,
			drg_source_value varchar(3) NULL )
2024-04-18 22:58:07,636 INFO sqlalchemy.engine.Engine [generated in 0.00118s] {}
2024-04-18 22:58:07,654 INFO sqlalchemy.engine.Engine
CREATE TABLE DRUG_ERA (
			drug_era_id integer NOT NULL,
			person_id integer NOT NULL,
			drug_concept_id integer NOT NULL,
			drug_era_start_date datetime NOT NULL,
			drug_era_end_date datetime NOT NULL,
			drug_exposure_count integer NULL,
			gap_days integer NULL )
2024-04-18 22:58:07,655 INFO sqlalchemy.engine.Engine [generated in 0.00159s] {}
2024-04-18 22:58:07,694 INFO sqlalchemy.engine.Engine
CREATE TABLE DOSE_ERA (
			dose_era_id integer NOT NULL,
			person_id integer NOT NULL,
			drug_concept_id integer NOT NULL,
			unit_concept_id integer NOT NULL,
			dose_value float NOT NULL,
			dose_era_start_date datetime NOT NULL,
			dose_era_end_date datetime NOT NULL )
2024-04-18 22:58:07,697 INFO sqlalchemy.engine.Engine [generated in 0.00683s] {}
2024-04-18 22:58:07,732 INFO sqlalchemy.engine.Engine
CREATE TABLE CONDITION_ERA (
			condition_era_id integer NOT NULL,
			person_id integer NOT NULL,
			condition_concept_id integer NOT NULL,
			condition_era_start_date datetime NOT NULL,
			condition_era_end_date datetime NOT NULL,
			condition_occurrence_count integer NULL )
2024-04-18 22:58:07,734 INFO sqlalchemy.engine.Engine [generated in 0.00335s] {}
2024-04-18 22:58:07,753 INFO sqlalchemy.engine.Engine
CREATE TABLE EPISODE (
			episode_id bigint NOT NULL,
			person_id bigint NOT NULL,
			episode_concept_id integer NOT NULL,
			episode_start_date date NOT NULL,
			episode_start_datetime datetime NULL,
			episode_end_date date NULL,
			episode_end_datetime datetime NULL,
			episode_parent_id bigint NULL,
			episode_number integer NULL,
			episode_object_concept_id integer NOT NULL,
			episode_type_concept_id integer NOT NULL,
			episode_source_value varchar(50) NULL,
			episode_source_concept_id integer NULL )
2024-04-18 22:58:07,754 INFO sqlalchemy.engine.Engine [generated in 0.00221s] {}
2024-04-18 22:58:07,774 INFO sqlalchemy.engine.Engine
CREATE TABLE EPISODE_EVENT (
			episode_id bigint NOT NULL,
			event_id bigint NOT NULL,
			episode_event_field_concept_id integer NOT NULL )
2024-04-18 22:58:07,776 INFO sqlalchemy.engine.Engine [generated in 0.00180s] {}
2024-04-18 22:58:07,798 INFO sqlalchemy.engine.Engine
CREATE TABLE METADATA (
			metadata_id integer NOT NULL,
			metadata_concept_id integer NOT NULL,
			metadata_type_concept_id integer NOT NULL,
			name varchar(250) NOT NULL,
			value_as_string varchar(250) NULL,
			value_as_concept_id integer NULL,
			value_as_number float NULL,
			metadata_date date NULL,
			metadata_datetime datetime NULL )
2024-04-18 22:58:07,801 INFO sqlalchemy.engine.Engine [generated in 0.00434s] {}
2024-04-18 22:58:07,818 INFO sqlalchemy.engine.Engine
CREATE TABLE CDM_SOURCE (
			cdm_source_name varchar(255) NOT NULL,
			cdm_source_abbreviation varchar(25) NOT NULL,
			cdm_holder varchar(255) NOT NULL,
			source_description varchar(255) NULL,
			source_documentation_reference varchar(255) NULL,
			cdm_etl_reference varchar(255) NULL,
			source_release_date date NOT NULL,
			cdm_release_date date NOT NULL,
			cdm_version varchar(10) NULL,
			cdm_version_concept_id integer NOT NULL,
			vocabulary_version varchar(20) NOT NULL )
2024-04-18 22:58:07,819 INFO sqlalchemy.engine.Engine [generated in 0.00148s] {}
2024-04-18 22:58:07,834 INFO sqlalchemy.engine.Engine
CREATE TABLE CONCEPT (
			concept_id integer NOT NULL,
			concept_name varchar(255) NOT NULL,
			domain_id varchar(20) NOT NULL,
			vocabulary_id varchar(20) NOT NULL,
			concept_class_id varchar(20) NOT NULL,
			standard_concept varchar(1) NULL,
			concept_code varchar(50) NOT NULL,
			valid_start_date date NOT NULL,
			valid_end_date date NOT NULL,
			invalid_reason varchar(1) NULL )
2024-04-18 22:58:07,835 INFO sqlalchemy.engine.Engine [generated in 0.00120s] {}
2024-04-18 22:58:07,847 INFO sqlalchemy.engine.Engine
CREATE TABLE VOCABULARY (
			vocabulary_id varchar(20) NOT NULL,
			vocabulary_name varchar(255) NOT NULL,
			vocabulary_reference varchar(255) NULL,
			vocabulary_version varchar(255) NULL,
			vocabulary_concept_id integer NOT NULL )
2024-04-18 22:58:07,849 INFO sqlalchemy.engine.Engine [generated in 0.00232s] {}
2024-04-18 22:58:07,865 INFO sqlalchemy.engine.Engine
CREATE TABLE DOMAIN (
			domain_id varchar(20) NOT NULL,
			domain_name varchar(255) NOT NULL,
			domain_concept_id integer NOT NULL )
2024-04-18 22:58:07,866 INFO sqlalchemy.engine.Engine [generated in 0.00224s] {}
2024-04-18 22:58:07,877 INFO sqlalchemy.engine.Engine
CREATE TABLE CONCEPT_CLASS (
			concept_class_id varchar(20) NOT NULL,
			concept_class_name varchar(255) NOT NULL,
			concept_class_concept_id integer NOT NULL )
2024-04-18 22:58:07,878 INFO sqlalchemy.engine.Engine [generated in 0.00169s] {}
2024-04-18 22:58:07,892 INFO sqlalchemy.engine.Engine
CREATE TABLE CONCEPT_RELATIONSHIP (
			concept_id_1 integer NOT NULL,

In [98]:
sql_file_path = './OMOPCDM_sql_server_5.4_primary_keys.sql'

# Read SQL commands from the file and replace the placeholder
with open(sql_file_path, 'r') as file:
    sql_commands = file.read().replace('@cdmDatabaseSchema.', '')

# Split the modified SQL commands into individual commands
# Assuming each command ends with a ';' and possibly a newline for readability
commands = sql_commands.split(';\n')

# Execute each command
with engine.begin() as connection:
    for command in commands:
        command = command.strip()  # Clean whitespace
        if command:  # Check if command is not empty
            connection.execute(text(command))

2024-04-18 22:59:29,272 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-18 22:59:29,275 INFO sqlalchemy.engine.Engine ALTER TABLE PERSON ADD CONSTRAINT xpk_PERSON PRIMARY KEY NONCLUSTERED (person_id)
2024-04-18 22:59:29,276 INFO sqlalchemy.engine.Engine [generated in 0.00119s] {}
2024-04-18 22:59:29,341 INFO sqlalchemy.engine.Engine ALTER TABLE OBSERVATION_PERIOD ADD CONSTRAINT xpk_OBSERVATION_PERIOD PRIMARY KEY NONCLUSTERED (observation_period_id)
2024-04-18 22:59:29,342 INFO sqlalchemy.engine.Engine [generated in 0.00073s] {}
2024-04-18 22:59:29,355 INFO sqlalchemy.engine.Engine ALTER TABLE VISIT_OCCURRENCE ADD CONSTRAINT xpk_VISIT_OCCURRENCE PRIMARY KEY NONCLUSTERED (visit_occurrence_id)
2024-04-18 22:59:29,356 INFO sqlalchemy.engine.Engine [generated in 0.00079s] {}
2024-04-18 22:59:29,369 INFO sqlalchemy.engine.Engine ALTER TABLE VISIT_DETAIL ADD CONSTRAINT xpk_VISIT_DETAIL PRIMARY KEY NONCLUSTERED (visit_detail_id)
2024-04-18 22:59:29,370 INFO sqlalchemy.engine.Engine [generated in 0.00112s] {}
2024-04-18 22:59:29,385 INFO sqlalchemy.engine.Engine ALTER TABLE CONDITION_OCCURRENCE ADD CONSTRAINT xpk_CONDITION_OCCURRENCE PRIMARY KEY NONCLUSTERED (condition_occurrence_id)
2024-04-18 22:59:29,385 INFO sqlalchemy.engine.Engine [generated in 0.00067s] {}
2024-04-18 22:59:29,401 INFO sqlalchemy.engine.Engine ALTER TABLE DRUG_EXPOSURE ADD CONSTRAINT xpk_DRUG_EXPOSURE PRIMARY KEY NONCLUSTERED (drug_exposure_id)
2024-04-18 22:59:29,402 INFO sqlalchemy.engine.Engine [generated in 0.00089s] {}
2024-04-18 22:59:29,419 INFO sqlalchemy.engine.Engine ALTER TABLE PROCEDURE_OCCURRENCE ADD CONSTRAINT xpk_PROCEDURE_OCCURRENCE PRIMARY KEY NONCLUSTERED (procedure_occurrence_id)
2024-04-18 22:59:29,420 INFO sqlalchemy.engine.Engine [generated in 0.00110s] {}
2024-04-18 22:59:29,435 INFO sqlalchemy.engine.Engine ALTER TABLE DEVICE_EXPOSURE ADD CONSTRAINT xpk_DEVICE_EXPOSURE PRIMARY KEY NONCLUSTERED (device_exposure_id)
2024-04-18 22:59:29,435 INFO sqlalchemy.engine.Engine [generated in 0.00107s] {}
2024-04-18 22:59:29,449 INFO sqlalchemy.engine.Engine ALTER TABLE MEASUREMENT ADD CONSTRAINT xpk_MEASUREMENT PRIMARY KEY NONCLUSTERED (measurement_id)
2024-04-18 22:59:29,450 INFO sqlalchemy.engine.Engine [generated in 0.00104s] {}
2024-04-18 22:59:29,462 INFO sqlalchemy.engine.Engine ALTER TABLE OBSERVATION ADD CONSTRAINT xpk_OBSERVATION PRIMARY KEY NONCLUSTERED (observation_id)
2024-04-18 22:59:29,463 INFO sqlalchemy.engine.Engine [generated in 0.00077s] {}
2024-04-18 22:59:29,475 INFO sqlalchemy.engine.Engine ALTER TABLE NOTE ADD CONSTRAINT xpk_NOTE PRIMARY KEY NONCLUSTERED (note_id)
2024-04-18 22:59:29,477 INFO sqlalchemy.engine.Engine [generated in 0.00208s] {}
2024-04-18 22:59:29,495 INFO sqlalchemy.engine.Engine ALTER TABLE NOTE_NLP ADD CONSTRAINT xpk_NOTE_NLP PRIMARY KEY NONCLUSTERED (note_nlp_id)
2024-04-18 22:59:29,496 INFO sqlalchemy.engine.Engine [generated in 0.00166s] {}
2024-04-18 22:59:29,519 INFO sqlalchemy.engine.Engine ALTER TABLE SPECIMEN ADD CONSTRAINT xpk_SPECIMEN PRIMARY KEY NONCLUSTERED (specimen_id)
2024-04-18 22:59:29,520 INFO sqlalchemy.engine.Engine [generated in 0.00103s] {}
2024-04-18 22:59:29,538 INFO sqlalchemy.engine.Engine ALTER TABLE LOCATION ADD CONSTRAINT xpk_LOCATION PRIMARY KEY NONCLUSTERED (location_id)
2024-04-18 22:59:29,541 INFO sqlalchemy.engine.Engine [generated in 0.00312s] {}
2024-04-18 22:59:29,557 INFO sqlalchemy.engine.Engine ALTER TABLE CARE_SITE ADD CONSTRAINT xpk_CARE_SITE PRIMARY KEY NONCLUSTERED (care_site_id)
2024-04-18 22:59:29,558 INFO sqlalchemy.engine.Engine [generated in 0.00120s] {}
2024-04-18 22:59:29,575 INFO sqlalchemy.engine.Engine ALTER TABLE PROVIDER ADD CONSTRAINT xpk_PROVIDER PRIMARY KEY NONCLUSTERED (provider_id)
2024-04-18 22:59:29,576 INFO sqlalchemy.engine.Engine [generated in 0.00126s] {}
2024-04-18 22:59:29,624 INFO sqlalchemy.engine.Engine ALTER TABLE PAYER_PLAN_PERIOD ADD CONSTRAINT xpk_PAYER_PLAN_PERIOD PRIMARY KEY NONCLUSTERED (payer_plan_period_id)
2024-04-18 22:59:29,666 INFO sqlalchemy.engine.Engine [generated in 0.04308s] {}
2024-04-18 22:59:29,703 INFO sqlalchemy.engine.Engine ALTER TABLE COST ADD CONSTRAINT xpk_COST PRIMARY KEY NONCLUSTERED (cost_id)
2024-04-18 22:59:29,705 INFO sqlalchemy.engine.Engine [generated in 0.00122s] {}
2024-04-18 22:59:29,734 INFO sqlalchemy.engine.Engine ALTER TABLE DRUG_ERA ADD CONSTRAINT xpk_DRUG_ERA PRIMARY KEY NONCLUSTERED (drug_era_id)
2024-04-18 22:59:29,735 INFO sqlalchemy.engine.Engine [generated in 0.00161s] {}
2024-04-18 22:59:29,756 INFO sqlalchemy.engine.Engine ALTER TABLE DOSE_ERA ADD CONSTRAINT xpk_DOSE_ERA PRIMARY KEY NONCLUSTERED (dose_era_id)
2024-04-18 22:59:29,757 INFO sqlalchemy.engine.Engine [generated in 0.00122s] {}
2024-04-18 22:59:29,776 INFO sqlalchemy.engine.Engine ALTER TABLE CONDITION_ERA ADD CONSTRAINT xpk_CONDITION_ERA PRIMARY KEY NONCLUSTERED (condition_era_id)
2024-04-18 22:59:29,777 INFO sqlalchemy.engine.Engine [generated in 0.00104s] {}
2024-04-18 22:59:29,795 INFO sqlalchemy.engine.Engine ALTER TABLE EPISODE ADD CONSTRAINT xpk_EPISODE PRIMARY KEY NONCLUSTERED (episode_id)
2024-04-18 22:59:29,796 INFO sqlalchemy.engine.Engine [generated in 0.00122s] {}
2024-04-18 22:59:29,818 INFO sqlalchemy.engine.Engine ALTER TABLE METADATA ADD CONSTRAINT xpk_METADATA PRIMARY KEY NONCLUSTERED (metadata_id)
2024-04-18 22:59:29,819 INFO sqlalchemy.engine.Engine [generated in 0.00176s] {}
2024-04-18 22:59:29,837 INFO sqlalchemy.engine.Engine ALTER TABLE CONCEPT ADD CONSTRAINT xpk_CONCEPT PRIMARY KEY NONCLUSTERED (concept_id)
2024-04-18 22:59:29,838 INFO sqlalchemy.engine.Engine [generated in 0.00098s] {}
2024-04-18 22:59:29,854 INFO sqlalchemy.engine.Engine ALTER TABLE VOCABULARY ADD CONSTRAINT xpk_VOCABULARY PRIMARY KEY NONCLUSTERED (vocabulary_id)
2024-04-18 22:59:29,855 INFO sqlalchemy.engine.Engine [generated in 0.00107s] {}
2024-04-18 22:59:29,870 INFO sqlalchemy.engine.Engine ALTER TABLE DOMAIN ADD CONSTRAINT xpk_DOMAIN PRIMARY KEY NONCLUSTERED (domain_id)
2024-04-18 22:59:29,871 INFO sqlalchemy.engine.Engine [generated in 0.00117s] {}
2024-04-18 22:59:29,889 INFO sqlalchemy.engine.Engine ALTER TABLE CONCEPT_CLASS ADD CONSTRAINT xpk_CONCEPT_CLASS PRIMARY KEY NONCLUSTERED (concept_class_id)
2024-04-18 22:59:29,890 INFO sqlalchemy.engine.Engine [generated in 0.00139s] {}
2024-04-18 22:59:29,904 INFO sqlalchemy.engine.Engine ALTER TABLE RELATIONSHIP ADD CONSTRAINT xpk_RELATIONSHIP PRIMARY KEY NONCLUSTERED (relationship_id)
2024-04-18 22:59:29,904 INFO sqlalchemy.engine.Engine [generated in 0.00087s] {}
2024-04-18 22:59:29,918 INFO sqlalchemy.engine.Engine COMMIT

In [99]:
from sqlalchemy.engine.reflection import Inspector

inspector = Inspector.from_engine(engine)

# Retrieve and print all table names using the Inspector
table_names = inspector.get_table_names()
print("Tables in the database:")
for table_name in table_names:
    print(table_name)

2024-04-18 22:59:34,455 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-18 22:59:34,456 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `cdm`
2024-04-18 22:59:34,456 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:34,485 INFO sqlalchemy.engine.Engine ROLLBACK
Tables in the database:
CARE_SITE
CDM_SOURCE
COHORT
COHORT_DEFINITION
CONCEPT
CONCEPT_ANCESTOR
CONCEPT_CLASS
CONCEPT_RELATIONSHIP
CONCEPT_SYNONYM
CONDITION_ERA
CONDITION_OCCURRENCE
COST
DEATH
DEVICE_EXPOSURE
DOMAIN
DOSE_ERA
DRUG_ERA
DRUG_EXPOSURE
DRUG_STRENGTH
EPISODE
EPISODE_EVENT
FACT_RELATIONSHIP
LOCATION
MEASUREMENT
METADATA
NOTE
NOTE_NLP
OBSERVATION
OBSERVATION_PERIOD
PAYER_PLAN_PERIOD
PERSON
PROCEDURE_OCCURRENCE
PROVIDER
RELATIONSHIP
SOURCE_TO_CONCEPT_MAP
SPECIMEN
VISIT_DETAIL
VISIT_OCCURRENCE
VOCABULARY

/var/folders/hq/659b4zd16vscxjxb3lxdr18c0000gp/T/ipykernel_64197/1350057838.py:3: SADeprecationWarning: The from_engine() method on Inspector is deprecated and will be removed in a future release.  Please use the sqlalchemy.inspect() function on an Engine or Connection in order to acquire an Inspector. (deprecated since: 1.4)
  inspector = Inspector.from_engine(engine)

In [100]:
from sqlalchemy import create_engine, text, MetaData
from sqlalchemy.schema import CreateTable
from sqlalchemy.engine.reflection import Inspector

# Assuming USERNAME, PASSWORD, SERVER, and DATABASE variables are defined above this line
connection_string = f'mysql+mysqlconnector://{USERNAME}:{PASSWORD}@{SERVER}/{DATABASE}'
engine = create_engine(connection_string, echo=True)

# Your existing code to execute SQL commands from a file...

# Now, let's print the DDL for each table
inspector = Inspector.from_engine(engine)

# Reflect the database schema into a new MetaData instance
metadata = MetaData()
metadata.reflect(bind=engine)

print("DDL for tables in the database:")
for table_name in inspector.get_table_names():
    # Using the reflected metadata to get the table object
    table = metadata.tables[table_name]
    # Generating the CREATE TABLE statement for the table
    ddl = CreateTable(table).compile(engine).string
    print(f"\nDDL for {table_name}:\n{ddl}")

2024-04-18 22:59:40,528 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-04-18 22:59:40,528 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,530 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-04-18 22:59:40,530 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,531 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-04-18 22:59:40,531 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,535 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-18 22:59:40,536 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `cdm`
2024-04-18 22:59:40,536 INFO sqlalchemy.engine.Engine [raw sql] {}

2024-04-18 22:59:40,546 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CARE_SITE`
2024-04-18 22:59:40,547 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,552 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CDM_SOURCE`
2024-04-18 22:59:40,553 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,557 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `COHORT`
2024-04-18 22:59:40,558 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,562 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `COHORT_DEFINITION`
2024-04-18 22:59:40,563 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,566 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CONCEPT`
2024-04-18 22:59:40,567 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,568 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CONCEPT_ANCESTOR`
2024-04-18 22:59:40,568 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,571 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CONCEPT_CLASS`
2024-04-18 22:59:40,572 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,574 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CONCEPT_RELATIONSHIP`
2024-04-18 22:59:40,575 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,578 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CONCEPT_SYNONYM`
2024-04-18 22:59:40,578 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,581 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CONDITION_ERA`
2024-04-18 22:59:40,581 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,583 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `CONDITION_OCCURRENCE`
2024-04-18 22:59:40,583 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,587 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `COST`
2024-04-18 22:59:40,588 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,590 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `DEATH`
2024-04-18 22:59:40,591 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,597 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `DEVICE_EXPOSURE`
2024-04-18 22:59:40,597 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,600 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `DOMAIN`
2024-04-18 22:59:40,600 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,601 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `DOSE_ERA`
2024-04-18 22:59:40,602 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,606 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `DRUG_ERA`
2024-04-18 22:59:40,607 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,608 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `DRUG_EXPOSURE`
2024-04-18 22:59:40,608 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,609 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `DRUG_STRENGTH`
2024-04-18 22:59:40,610 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,613 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `EPISODE`
2024-04-18 22:59:40,613 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,615 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `EPISODE_EVENT`
2024-04-18 22:59:40,615 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,618 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `FACT_RELATIONSHIP`
2024-04-18 22:59:40,618 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,622 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `LOCATION`
2024-04-18 22:59:40,622 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,624 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `MEASUREMENT`
2024-04-18 22:59:40,624 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,625 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `METADATA`
2024-04-18 22:59:40,626 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,628 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `NOTE`
2024-04-18 22:59:40,628 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,630 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `NOTE_NLP`
2024-04-18 22:59:40,630 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,631 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `OBSERVATION`
2024-04-18 22:59:40,632 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,633 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `OBSERVATION_PERIOD`
2024-04-18 22:59:40,633 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,634 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `PAYER_PLAN_PERIOD`
2024-04-18 22:59:40,634 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,636 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `PERSON`
2024-04-18 22:59:40,637 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,638 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `PROCEDURE_OCCURRENCE`
2024-04-18 22:59:40,638 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,639 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `PROVIDER`
2024-04-18 22:59:40,640 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,641 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `RELATIONSHIP`
2024-04-18 22:59:40,641 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,642 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `SOURCE_TO_CONCEPT_MAP`
2024-04-18 22:59:40,642 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,645 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `SPECIMEN`
2024-04-18 22:59:40,645 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,647 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `VISIT_DETAIL`
2024-04-18 22:59:40,647 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,648 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `VISIT_OCCURRENCE`
2024-04-18 22:59:40,648 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,649 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `VOCABULARY`
2024-04-18 22:59:40,650 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,670 INFO sqlalchemy.engine.Engine ROLLBACK
DDL for tables in the database:
2024-04-18 22:59:40,672 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-18 22:59:40,672 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `cdm`
2024-04-18 22:59:40,672 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-18 22:59:40,674 INFO sqlalchemy.engine.Engine ROLLBACK

DDL for CARE_SITE:

CREATE TABLE `CARE_SITE` (
	care_site_id INTEGER NOT NULL,
	care_site_name VARCHAR(255),
	place_of_service_concept_id INTEGER,
	location_id INTEGER,
	care_site_source_value VARCHAR(50),
	place_of_service_source_value VARCHAR(50),
	PRIMARY KEY (care_site_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for CDM_SOURCE:

CREATE TABLE `CDM_SOURCE` (
	cdm_source_name VARCHAR(255) NOT NULL,
	cdm_source_abbreviation VARCHAR(25) NOT NULL,
	cdm_holder VARCHAR(255) NOT NULL,
	source_description VARCHAR(255),
	source_documentation_reference VARCHAR(255),
	cdm_etl_reference VARCHAR(255),
	source_release_date DATE NOT NULL,
	cdm_release_date DATE NOT NULL,
	cdm_version VARCHAR(10),
	cdm_version_concept_id INTEGER NOT NULL,
	vocabulary_version VARCHAR(20) NOT NULL
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for COHORT:

CREATE TABLE `COHORT` (
	cohort_definition_id INTEGER NOT NULL,
	subject_id INTEGER NOT NULL,
	cohort_start_date DATE NOT NULL,
	cohort_end_date DATE NOT NULL
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for COHORT_DEFINITION:

CREATE TABLE `COHORT_DEFINITION` (
	cohort_definition_id INTEGER NOT NULL,
	cohort_definition_name VARCHAR(255) NOT NULL,
	cohort_definition_description VARCHAR(255),
	definition_type_concept_id INTEGER NOT NULL,
	cohort_definition_syntax VARCHAR(255),
	subject_concept_id INTEGER NOT NULL,
	cohort_initiation_date DATE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for CONCEPT:

CREATE TABLE `CONCEPT` (
	concept_id INTEGER NOT NULL,
	concept_name VARCHAR(255) NOT NULL,
	domain_id VARCHAR(20) NOT NULL,
	vocabulary_id VARCHAR(20) NOT NULL,
	concept_class_id VARCHAR(20) NOT NULL,
	standard_concept VARCHAR(1),
	concept_code VARCHAR(50) NOT NULL,
	valid_start_date DATE NOT NULL,
	valid_end_date DATE NOT NULL,
	invalid_reason VARCHAR(1),
	PRIMARY KEY (concept_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for CONCEPT_ANCESTOR:

CREATE TABLE `CONCEPT_ANCESTOR` (
	ancestor_concept_id INTEGER NOT NULL,
	descendant_concept_id INTEGER NOT NULL,
	min_levels_of_separation INTEGER NOT NULL,
	max_levels_of_separation INTEGER NOT NULL
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for CONCEPT_CLASS:

CREATE TABLE `CONCEPT_CLASS` (
	concept_class_id VARCHAR(20) NOT NULL,
	concept_class_name VARCHAR(255) NOT NULL,
	concept_class_concept_id INTEGER NOT NULL,
	PRIMARY KEY (concept_class_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for CONCEPT_RELATIONSHIP:

CREATE TABLE `CONCEPT_RELATIONSHIP` (
	concept_id_1 INTEGER NOT NULL,
	concept_id_2 INTEGER NOT NULL,
	relationship_id VARCHAR(20) NOT NULL,
	valid_start_date DATE NOT NULL,
	valid_end_date DATE NOT NULL,
	invalid_reason VARCHAR(1)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for CONCEPT_SYNONYM:

CREATE TABLE `CONCEPT_SYNONYM` (
	concept_id INTEGER NOT NULL,
	concept_synonym_name VARCHAR(1000) NOT NULL,
	language_concept_id INTEGER NOT NULL
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for CONDITION_ERA:

CREATE TABLE `CONDITION_ERA` (
	condition_era_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	condition_concept_id INTEGER NOT NULL,
	condition_era_start_date DATETIME NOT NULL,
	condition_era_end_date DATETIME NOT NULL,
	condition_occurrence_count INTEGER,
	PRIMARY KEY (condition_era_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for CONDITION_OCCURRENCE:

CREATE TABLE `CONDITION_OCCURRENCE` (
	condition_occurrence_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	condition_concept_id INTEGER NOT NULL,
	condition_start_date DATE NOT NULL,
	condition_start_datetime DATETIME,
	condition_end_date DATE,
	condition_end_datetime DATETIME,
	condition_type_concept_id INTEGER NOT NULL,
	condition_status_concept_id INTEGER,
	stop_reason VARCHAR(20),
	provider_id INTEGER,
	visit_occurrence_id INTEGER,
	visit_detail_id INTEGER,
	condition_source_value VARCHAR(50),
	condition_source_concept_id INTEGER,
	condition_status_source_value VARCHAR(50),
	PRIMARY KEY (condition_occurrence_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for COST:

CREATE TABLE `COST` (
	cost_id INTEGER NOT NULL,
	cost_event_id INTEGER NOT NULL,
	cost_domain_id VARCHAR(20) NOT NULL,
	cost_type_concept_id INTEGER NOT NULL,
	currency_concept_id INTEGER,
	total_charge FLOAT,
	total_cost FLOAT,
	total_paid FLOAT,
	paid_by_payer FLOAT,
	paid_by_patient FLOAT,
	paid_patient_copay FLOAT,
	paid_patient_coinsurance FLOAT,
	paid_patient_deductible FLOAT,
	paid_by_primary FLOAT,
	paid_ingredient_cost FLOAT,
	paid_dispensing_fee FLOAT,
	payer_plan_period_id INTEGER,
	amount_allowed FLOAT,
	revenue_code_concept_id INTEGER,
	revenue_code_source_value VARCHAR(50),
	drg_concept_id INTEGER,
	drg_source_value VARCHAR(3),
	PRIMARY KEY (cost_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for DEATH:

CREATE TABLE `DEATH` (
	person_id INTEGER NOT NULL,
	death_date DATE NOT NULL,
	death_datetime DATETIME,
	death_type_concept_id INTEGER,
	cause_concept_id INTEGER,
	cause_source_value VARCHAR(50),
	cause_source_concept_id INTEGER
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for DEVICE_EXPOSURE:

CREATE TABLE `DEVICE_EXPOSURE` (
	device_exposure_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	device_concept_id INTEGER NOT NULL,
	device_exposure_start_date DATE NOT NULL,
	device_exposure_start_datetime DATETIME,
	device_exposure_end_date DATE,
	device_exposure_end_datetime DATETIME,
	device_type_concept_id INTEGER NOT NULL,
	unique_device_id VARCHAR(255),
	production_id VARCHAR(255),
	quantity INTEGER,
	provider_id INTEGER,
	visit_occurrence_id INTEGER,
	visit_detail_id INTEGER,
	device_source_value VARCHAR(50),
	device_source_concept_id INTEGER,
	unit_concept_id INTEGER,
	unit_source_value VARCHAR(50),
	unit_source_concept_id INTEGER,
	PRIMARY KEY (device_exposure_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for DOMAIN:

CREATE TABLE `DOMAIN` (
	domain_id VARCHAR(20) NOT NULL,
	domain_name VARCHAR(255) NOT NULL,
	domain_concept_id INTEGER NOT NULL,
	PRIMARY KEY (domain_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for DOSE_ERA:

CREATE TABLE `DOSE_ERA` (
	dose_era_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	drug_concept_id INTEGER NOT NULL,
	unit_concept_id INTEGER NOT NULL,
	dose_value FLOAT NOT NULL,
	dose_era_start_date DATETIME NOT NULL,
	dose_era_end_date DATETIME NOT NULL,
	PRIMARY KEY (dose_era_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for DRUG_ERA:

CREATE TABLE `DRUG_ERA` (
	drug_era_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	drug_concept_id INTEGER NOT NULL,
	drug_era_start_date DATETIME NOT NULL,
	drug_era_end_date DATETIME NOT NULL,
	drug_exposure_count INTEGER,
	gap_days INTEGER,
	PRIMARY KEY (drug_era_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for DRUG_EXPOSURE:

CREATE TABLE `DRUG_EXPOSURE` (
	drug_exposure_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	drug_concept_id INTEGER NOT NULL,
	drug_exposure_start_date DATE NOT NULL,
	drug_exposure_start_datetime DATETIME,
	drug_exposure_end_date DATE NOT NULL,
	drug_exposure_end_datetime DATETIME,
	verbatim_end_date DATE,
	drug_type_concept_id INTEGER NOT NULL,
	stop_reason VARCHAR(20),
	refills INTEGER,
	quantity FLOAT,
	days_supply INTEGER,
	sig VARCHAR(255),
	route_concept_id INTEGER,
	lot_number VARCHAR(50),
	provider_id INTEGER,
	visit_occurrence_id INTEGER,
	visit_detail_id INTEGER,
	drug_source_value VARCHAR(50),
	drug_source_concept_id INTEGER,
	route_source_value VARCHAR(50),
	dose_unit_source_value VARCHAR(50),
	PRIMARY KEY (drug_exposure_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for DRUG_STRENGTH:

CREATE TABLE `DRUG_STRENGTH` (
	drug_concept_id INTEGER NOT NULL,
	ingredient_concept_id INTEGER NOT NULL,
	amount_value FLOAT,
	amount_unit_concept_id INTEGER,
	numerator_value FLOAT,
	numerator_unit_concept_id INTEGER,
	denominator_value FLOAT,
	denominator_unit_concept_id INTEGER,
	box_size INTEGER,
	valid_start_date DATE NOT NULL,
	valid_end_date DATE NOT NULL,
	invalid_reason VARCHAR(1)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for EPISODE:

CREATE TABLE `EPISODE` (
	episode_id BIGINT NOT NULL,
	person_id BIGINT NOT NULL,
	episode_concept_id INTEGER NOT NULL,
	episode_start_date DATE NOT NULL,
	episode_start_datetime DATETIME,
	episode_end_date DATE,
	episode_end_datetime DATETIME,
	episode_parent_id BIGINT,
	episode_number INTEGER,
	episode_object_concept_id INTEGER NOT NULL,
	episode_type_concept_id INTEGER NOT NULL,
	episode_source_value VARCHAR(50),
	episode_source_concept_id INTEGER,
	PRIMARY KEY (episode_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for EPISODE_EVENT:

CREATE TABLE `EPISODE_EVENT` (
	episode_id BIGINT NOT NULL,
	event_id BIGINT NOT NULL,
	episode_event_field_concept_id INTEGER NOT NULL
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for FACT_RELATIONSHIP:

CREATE TABLE `FACT_RELATIONSHIP` (
	domain_concept_id_1 INTEGER NOT NULL,
	fact_id_1 INTEGER NOT NULL,
	domain_concept_id_2 INTEGER NOT NULL,
	fact_id_2 INTEGER NOT NULL,
	relationship_concept_id INTEGER NOT NULL
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for LOCATION:

CREATE TABLE `LOCATION` (
	location_id INTEGER NOT NULL,
	address_1 VARCHAR(50),
	address_2 VARCHAR(50),
	city VARCHAR(50),
	state VARCHAR(2),
	zip VARCHAR(9),
	county VARCHAR(20),
	location_source_value VARCHAR(50),
	country_concept_id INTEGER,
	country_source_value VARCHAR(80),
	latitude FLOAT,
	longitude FLOAT,
	PRIMARY KEY (location_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for MEASUREMENT:

CREATE TABLE `MEASUREMENT` (
	measurement_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	measurement_concept_id INTEGER NOT NULL,
	measurement_date DATE NOT NULL,
	measurement_datetime DATETIME,
	measurement_time VARCHAR(10),
	measurement_type_concept_id INTEGER NOT NULL,
	operator_concept_id INTEGER,
	value_as_number FLOAT,
	value_as_concept_id INTEGER,
	unit_concept_id INTEGER,
	range_low FLOAT,
	range_high FLOAT,
	provider_id INTEGER,
	visit_occurrence_id INTEGER,
	visit_detail_id INTEGER,
	measurement_source_value VARCHAR(50),
	measurement_source_concept_id INTEGER,
	unit_source_value VARCHAR(50),
	unit_source_concept_id INTEGER,
	value_source_value VARCHAR(50),
	measurement_event_id BIGINT,
	meas_event_field_concept_id INTEGER,
	PRIMARY KEY (measurement_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for METADATA:

CREATE TABLE `METADATA` (
	metadata_id INTEGER NOT NULL,
	metadata_concept_id INTEGER NOT NULL,
	metadata_type_concept_id INTEGER NOT NULL,
	name VARCHAR(250) NOT NULL,
	value_as_string VARCHAR(250),
	value_as_concept_id INTEGER,
	value_as_number FLOAT,
	metadata_date DATE,
	metadata_datetime DATETIME,
	PRIMARY KEY (metadata_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for NOTE:

CREATE TABLE `NOTE` (
	note_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	note_date DATE NOT NULL,
	note_datetime DATETIME,
	note_type_concept_id INTEGER NOT NULL,
	note_class_concept_id INTEGER NOT NULL,
	note_title VARCHAR(250),
	note_text VARCHAR(255) NOT NULL,
	encoding_concept_id INTEGER NOT NULL,
	language_concept_id INTEGER NOT NULL,
	provider_id INTEGER,
	visit_occurrence_id INTEGER,
	visit_detail_id INTEGER,
	note_source_value VARCHAR(50),
	note_event_id BIGINT,
	note_event_field_concept_id INTEGER,
	PRIMARY KEY (note_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for NOTE_NLP:

CREATE TABLE `NOTE_NLP` (
	note_nlp_id INTEGER NOT NULL,
	note_id INTEGER NOT NULL,
	section_concept_id INTEGER,
	snippet VARCHAR(250),
	offset VARCHAR(50),
	lexical_variant VARCHAR(250) NOT NULL,
	note_nlp_concept_id INTEGER,
	note_nlp_source_concept_id INTEGER,
	nlp_system VARCHAR(250),
	nlp_date DATE NOT NULL,
	nlp_datetime DATETIME,
	term_exists VARCHAR(1),
	term_temporal VARCHAR(50),
	term_modifiers VARCHAR(2000),
	PRIMARY KEY (note_nlp_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for OBSERVATION:

CREATE TABLE `OBSERVATION` (
	observation_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	observation_concept_id INTEGER NOT NULL,
	observation_date DATE NOT NULL,
	observation_datetime DATETIME,
	observation_type_concept_id INTEGER NOT NULL,
	value_as_number FLOAT,
	value_as_string VARCHAR(60),
	value_as_concept_id INTEGER,
	qualifier_concept_id INTEGER,
	unit_concept_id INTEGER,
	provider_id INTEGER,
	visit_occurrence_id INTEGER,
	visit_detail_id INTEGER,
	observation_source_value VARCHAR(50),
	observation_source_concept_id INTEGER,
	unit_source_value VARCHAR(50),
	qualifier_source_value VARCHAR(50),
	value_source_value VARCHAR(50),
	observation_event_id BIGINT,
	obs_event_field_concept_id INTEGER,
	PRIMARY KEY (observation_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4



DDL for OBSERVATION_PERIOD:

CREATE TABLE `OBSERVATION_PERIOD` (
	observation_period_id INTEGER NOT NULL,
	person_id INTEGER NOT NULL,
	observation_period_start_date DATE NOT NULL,
	observation_period_end_date DATE NOT NULL,
	period_type_concept_id INTEGER NOT NULL,
	PRIMARY KEY (observation_period_id)

/var/folders/hq/659b4zd16vscxjxb3lxdr18c0000gp/T/ipykernel_64197/3633835634.py:12: SADeprecationWarning: The from_engine() method on Inspector is deprecated and will be removed in a future release.  Please use the sqlalchemy.inspect() function on an Engine or Connection in order to acquire an Inspector. (deprecated since: 1.4)
  inspector = Inspector.from_engine(engine)

In [101]:
import re

# Path to your SQL file containing CREATE INDEX statements
sql_file_path = './OMOPCDM_sql_server_5.4_indices.sql'

# Read SQL commands from the file and replace the placeholder
with open(sql_file_path, 'r') as file:
    # Read the entire file content
    sql_commands = file.read()
# Remove multiline comments
sql_commands = re.sub(r'/\*.*?\*/', '', sql_commands, flags=re.DOTALL)

# Replace the placeholder
sql_commands = sql_commands.replace('@cdmDatabaseSchema.', '')

# Split the modified SQL commands into individual commands
commands = sql_commands.split(';')

# Filter out empty commands and commands that are commented out
filtered_commands = []
for command in commands:
    # Trim whitespace and remove single-line comments
    stripped_command = command.strip()
    if stripped_command and not stripped_command.startswith('--'):
        filtered_commands.append(stripped_command)

# Execute each filtered command
with engine.begin() as connection:
    for command in filtered_commands:
        try:
            connection.execute(text(command))
        except Exception as e:
            print(f"An error occurred: {e}")
            print(f"While executing: {command}\n")

print("Index creation commands executed successfully.")

2024-04-18 22:59:46,109 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-18 22:59:46,114 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_person_id ON person (person_id ASC)
2024-04-18 22:59:46,115 INFO sqlalchemy.engine.Engine [generated in 0.00250s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_person_id ON person (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_person_id ON person (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_person_id ON person (person_id ASC)

2024-04-18 22:59:46,118 INFO sqlalchemy.engine.Engine CREATE INDEX idx_gender ON person (gender_concept_id ASC)
2024-04-18 22:59:46,118 INFO sqlalchemy.engine.Engine [generated in 0.00046s] {}
2024-04-18 22:59:46,151 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_observation_period_id_1 ON observation_period (person_id ASC)
2024-04-18 22:59:46,151 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_observation_period_id_1 ON observation_period (person_id ASC' at line 1
[SQL: CREATE CLUSTERED INDEX idx_observation_period_id_1 ON observation_period (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_observation_period_id_1 ON observation_period (person_id ASC)

2024-04-18 22:59:46,152 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_visit_person_id_1 ON visit_occurrence (person_id ASC)
2024-04-18 22:59:46,152 INFO sqlalchemy.engine.Engine [generated in 0.00037s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_visit_person_id_1 ON visit_occurrence (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_visit_person_id_1 ON visit_occurrence (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_visit_person_id_1 ON visit_occurrence (person_id ASC)

2024-04-18 22:59:46,153 INFO sqlalchemy.engine.Engine CREATE INDEX idx_visit_concept_id_1 ON visit_occurrence (visit_concept_id ASC)
2024-04-18 22:59:46,153 INFO sqlalchemy.engine.Engine [generated in 0.00036s] {}
2024-04-18 22:59:46,161 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_visit_det_person_id_1 ON visit_detail (person_id ASC)
2024-04-18 22:59:46,162 INFO sqlalchemy.engine.Engine [generated in 0.00126s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_visit_det_person_id_1 ON visit_detail (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_visit_det_person_id_1 ON visit_detail (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_visit_det_person_id_1 ON visit_detail (person_id ASC)

2024-04-18 22:59:46,163 INFO sqlalchemy.engine.Engine CREATE INDEX idx_visit_det_concept_id_1 ON visit_detail (visit_detail_concept_id ASC)
2024-04-18 22:59:46,164 INFO sqlalchemy.engine.Engine [generated in 0.00075s] {}
2024-04-18 22:59:46,172 INFO sqlalchemy.engine.Engine CREATE INDEX idx_visit_det_occ_id ON visit_detail (visit_occurrence_id ASC)
2024-04-18 22:59:46,173 INFO sqlalchemy.engine.Engine [generated in 0.00064s] {}
2024-04-18 22:59:46,188 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_condition_person_id_1 ON condition_occurrence (person_id ASC)
2024-04-18 22:59:46,192 INFO sqlalchemy.engine.Engine [generated in 0.00390s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_condition_person_id_1 ON condition_occurrence (person_id ASC' at line 1
[SQL: CREATE CLUSTERED INDEX idx_condition_person_id_1 ON condition_occurrence (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_condition_person_id_1 ON condition_occurrence (person_id ASC)

2024-04-18 22:59:46,195 INFO sqlalchemy.engine.Engine CREATE INDEX idx_condition_concept_id_1 ON condition_occurrence (condition_concept_id ASC)
2024-04-18 22:59:46,196 INFO sqlalchemy.engine.Engine [generated in 0.00134s] {}
2024-04-18 22:59:46,213 INFO sqlalchemy.engine.Engine CREATE INDEX idx_condition_visit_id_1 ON condition_occurrence (visit_occurrence_id ASC)
2024-04-18 22:59:46,214 INFO sqlalchemy.engine.Engine [generated in 0.00124s] {}
2024-04-18 22:59:46,221 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_drug_person_id_1 ON drug_exposure (person_id ASC)
2024-04-18 22:59:46,222 INFO sqlalchemy.engine.Engine [generated in 0.00138s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_drug_person_id_1 ON drug_exposure (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_drug_person_id_1 ON drug_exposure (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_drug_person_id_1 ON drug_exposure (person_id ASC)

2024-04-18 22:59:46,225 INFO sqlalchemy.engine.Engine CREATE INDEX idx_drug_concept_id_1 ON drug_exposure (drug_concept_id ASC)
2024-04-18 22:59:46,226 INFO sqlalchemy.engine.Engine [generated in 0.00191s] {}
2024-04-18 22:59:46,233 INFO sqlalchemy.engine.Engine CREATE INDEX idx_drug_visit_id_1 ON drug_exposure (visit_occurrence_id ASC)
2024-04-18 22:59:46,234 INFO sqlalchemy.engine.Engine [generated in 0.00053s] {}
2024-04-18 22:59:46,238 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_procedure_person_id_1 ON procedure_occurrence (person_id ASC)
2024-04-18 22:59:46,239 INFO sqlalchemy.engine.Engine [generated in 0.00045s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_procedure_person_id_1 ON procedure_occurrence (person_id ASC' at line 1
[SQL: CREATE CLUSTERED INDEX idx_procedure_person_id_1 ON procedure_occurrence (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_procedure_person_id_1 ON procedure_occurrence (person_id ASC)

2024-04-18 22:59:46,240 INFO sqlalchemy.engine.Engine CREATE INDEX idx_procedure_concept_id_1 ON procedure_occurrence (procedure_concept_id ASC)
2024-04-18 22:59:46,240 INFO sqlalchemy.engine.Engine [generated in 0.00044s] {}
2024-04-18 22:59:46,248 INFO sqlalchemy.engine.Engine CREATE INDEX idx_procedure_visit_id_1 ON procedure_occurrence (visit_occurrence_id ASC)
2024-04-18 22:59:46,248 INFO sqlalchemy.engine.Engine [generated in 0.00102s] {}
2024-04-18 22:59:46,255 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_device_person_id_1 ON device_exposure (person_id ASC)
2024-04-18 22:59:46,256 INFO sqlalchemy.engine.Engine [generated in 0.00087s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_device_person_id_1 ON device_exposure (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_device_person_id_1 ON device_exposure (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_device_person_id_1 ON device_exposure (person_id ASC)

2024-04-18 22:59:46,259 INFO sqlalchemy.engine.Engine CREATE INDEX idx_device_concept_id_1 ON device_exposure (device_concept_id ASC)
2024-04-18 22:59:46,260 INFO sqlalchemy.engine.Engine [generated in 0.00076s] {}
2024-04-18 22:59:46,266 INFO sqlalchemy.engine.Engine CREATE INDEX idx_device_visit_id_1 ON device_exposure (visit_occurrence_id ASC)
2024-04-18 22:59:46,266 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {}
2024-04-18 22:59:46,272 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_measurement_person_id_1 ON measurement (person_id ASC)
2024-04-18 22:59:46,272 INFO sqlalchemy.engine.Engine [generated in 0.00083s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_measurement_person_id_1 ON measurement (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_measurement_person_id_1 ON measurement (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_measurement_person_id_1 ON measurement (person_id ASC)

2024-04-18 22:59:46,275 INFO sqlalchemy.engine.Engine CREATE INDEX idx_measurement_concept_id_1 ON measurement (measurement_concept_id ASC)
2024-04-18 22:59:46,276 INFO sqlalchemy.engine.Engine [generated in 0.00099s] {}
2024-04-18 22:59:46,283 INFO sqlalchemy.engine.Engine CREATE INDEX idx_measurement_visit_id_1 ON measurement (visit_occurrence_id ASC)
2024-04-18 22:59:46,283 INFO sqlalchemy.engine.Engine [generated in 0.00056s] {}
2024-04-18 22:59:46,290 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_observation_person_id_1 ON observation (person_id ASC)
2024-04-18 22:59:46,291 INFO sqlalchemy.engine.Engine [generated in 0.00078s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_observation_person_id_1 ON observation (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_observation_person_id_1 ON observation (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_observation_person_id_1 ON observation (person_id ASC)

2024-04-18 22:59:46,292 INFO sqlalchemy.engine.Engine CREATE INDEX idx_observation_concept_id_1 ON observation (observation_concept_id ASC)
2024-04-18 22:59:46,292 INFO sqlalchemy.engine.Engine [generated in 0.00051s] {}
2024-04-18 22:59:46,298 INFO sqlalchemy.engine.Engine CREATE INDEX idx_observation_visit_id_1 ON observation (visit_occurrence_id ASC)
2024-04-18 22:59:46,299 INFO sqlalchemy.engine.Engine [generated in 0.00075s] {}
2024-04-18 22:59:46,304 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_death_person_id_1 ON death (person_id ASC)
2024-04-18 22:59:46,304 INFO sqlalchemy.engine.Engine [generated in 0.00043s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_death_person_id_1 ON death (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_death_person_id_1 ON death (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_death_person_id_1 ON death (person_id ASC)

2024-04-18 22:59:46,305 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_note_person_id_1 ON note (person_id ASC)
2024-04-18 22:59:46,305 INFO sqlalchemy.engine.Engine [generated in 0.00031s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_note_person_id_1 ON note (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_note_person_id_1 ON note (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_note_person_id_1 ON note (person_id ASC)

2024-04-18 22:59:46,306 INFO sqlalchemy.engine.Engine CREATE INDEX idx_note_concept_id_1 ON note (note_type_concept_id ASC)
2024-04-18 22:59:46,306 INFO sqlalchemy.engine.Engine [generated in 0.00027s] {}
2024-04-18 22:59:46,313 INFO sqlalchemy.engine.Engine CREATE INDEX idx_note_visit_id_1 ON note (visit_occurrence_id ASC)
2024-04-18 22:59:46,313 INFO sqlalchemy.engine.Engine [generated in 0.00060s] {}
2024-04-18 22:59:46,319 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_note_nlp_note_id_1 ON note_nlp (note_id ASC)
2024-04-18 22:59:46,319 INFO sqlalchemy.engine.Engine [generated in 0.00043s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_note_nlp_note_id_1 ON note_nlp (note_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_note_nlp_note_id_1 ON note_nlp (note_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_note_nlp_note_id_1 ON note_nlp (note_id ASC)

2024-04-18 22:59:46,320 INFO sqlalchemy.engine.Engine CREATE INDEX idx_note_nlp_concept_id_1 ON note_nlp (note_nlp_concept_id ASC)
2024-04-18 22:59:46,320 INFO sqlalchemy.engine.Engine [generated in 0.00032s] {}
2024-04-18 22:59:46,325 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_specimen_person_id_1 ON specimen (person_id ASC)
2024-04-18 22:59:46,326 INFO sqlalchemy.engine.Engine [generated in 0.00076s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_specimen_person_id_1 ON specimen (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_specimen_person_id_1 ON specimen (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_specimen_person_id_1 ON specimen (person_id ASC)

2024-04-18 22:59:46,328 INFO sqlalchemy.engine.Engine CREATE INDEX idx_specimen_concept_id_1 ON specimen (specimen_concept_id ASC)
2024-04-18 22:59:46,328 INFO sqlalchemy.engine.Engine [generated in 0.00044s] {}
2024-04-18 22:59:46,333 INFO sqlalchemy.engine.Engine CREATE INDEX idx_fact_relationship_id1 ON fact_relationship (domain_concept_id_1 ASC)
2024-04-18 22:59:46,333 INFO sqlalchemy.engine.Engine [generated in 0.00044s] {}
2024-04-18 22:59:46,336 INFO sqlalchemy.engine.Engine CREATE INDEX idx_fact_relationship_id2 ON fact_relationship (domain_concept_id_2 ASC)
2024-04-18 22:59:46,337 INFO sqlalchemy.engine.Engine [generated in 0.00042s] {}
2024-04-18 22:59:46,341 INFO sqlalchemy.engine.Engine CREATE INDEX idx_fact_relationship_id3 ON fact_relationship (relationship_concept_id ASC)
2024-04-18 22:59:46,342 INFO sqlalchemy.engine.Engine [generated in 0.00074s] {}
2024-04-18 22:59:46,346 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_location_id_1 ON location (location_id ASC)
2024-04-18 22:59:46,346 INFO sqlalchemy.engine.Engine [generated in 0.00043s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_location_id_1 ON location (location_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_location_id_1 ON location (location_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_location_id_1 ON location (location_id ASC)

2024-04-18 22:59:46,347 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_care_site_id_1 ON care_site (care_site_id ASC)
2024-04-18 22:59:46,347 INFO sqlalchemy.engine.Engine [generated in 0.00034s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_care_site_id_1 ON care_site (care_site_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_care_site_id_1 ON care_site (care_site_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_care_site_id_1 ON care_site (care_site_id ASC)

2024-04-18 22:59:46,348 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_provider_id_1 ON provider (provider_id ASC)
2024-04-18 22:59:46,350 INFO sqlalchemy.engine.Engine [generated in 0.00119s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_provider_id_1 ON provider (provider_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_provider_id_1 ON provider (provider_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_provider_id_1 ON provider (provider_id ASC)

2024-04-18 22:59:46,351 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_period_person_id_1 ON payer_plan_period (person_id ASC)
2024-04-18 22:59:46,352 INFO sqlalchemy.engine.Engine [generated in 0.00043s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_period_person_id_1 ON payer_plan_period (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_period_person_id_1 ON payer_plan_period (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_period_person_id_1 ON payer_plan_period (person_id ASC)

2024-04-18 22:59:46,352 INFO sqlalchemy.engine.Engine CREATE INDEX idx_cost_event_id  ON cost (cost_event_id ASC)
2024-04-18 22:59:46,352 INFO sqlalchemy.engine.Engine [generated in 0.00034s] {}
2024-04-18 22:59:46,359 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_drug_era_person_id_1 ON drug_era (person_id ASC)
2024-04-18 22:59:46,360 INFO sqlalchemy.engine.Engine [generated in 0.00100s] {}
An error occurred: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CLUSTERED INDEX idx_drug_era_person_id_1 ON drug_era (person_id ASC)' at line 1
[SQL: CREATE CLUSTERED INDEX idx_drug_era_person_id_1 ON drug_era (person_id ASC)]
(Background on this error at: https://sqlalche.me/e/20/f405)
While executing: CREATE CLUSTERED INDEX idx_drug_era_person_id_1 ON drug_era (person_id ASC)

2024-04-18 22:59:46,362 INFO sqlalchemy.engine.Engine CREATE INDEX idx_drug_era_concept_id_1 ON drug_era (drug_concept_id ASC)
2024-04-18 22:59:46,362 INFO sqlalchemy.engine.Engine [generated in 0.00060s] {}
2024-04-18 22:59:46,367 INFO sqlalchemy.engine.Engine CREATE CLUSTERED INDEX idx_dose_era_person_id_1 ON dose_era (person_id ASC)
2024-04-18 22:59:46,367 INFO sqlalchemy.engine.Engine [generated in 0.00050s] {}

In [66]:
# loading a single csv file to the table
'''
import pandas as pd
csv_file_path = 'cohort/condition_occurrence.csv'  # Update this to the path of your CSV file
data = pd.read_csv(csv_file_path)

table_name = 'condition_occurrence'
# schema = 'cdmDatabaseSchema'

# Load the DataFrame into MySQL
data.to_sql(name=table_name, con=engine, if_exists='append', index=False)

print("Data has been successfully loaded into the database.")

table_name = 'condition_occurrence'
query = text(f"SELECT * FROM {table_name}")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
result'''

'\nimport pandas as pd\ncsv_file_path = \'cohort/condition_occurrence.csv\'  # Update this to the path of your CSV file\ndata = pd.read_csv(csv_file_path)\n\ntable_name = \'condition_occurrence\'\n# schema = \'cdmDatabaseSchema\'\n\n# Load the DataFrame into MySQL\ndata.to_sql(name=table_name, con=engine, if_exists=\'append\', index=False)\n\nprint("Data has been successfully loaded into the database.")\n\ntable_name = \'condition_occurrence\'\nquery = text(f"SELECT * FROM {table_name}")\nresult = pd.read_sql(query, con=engine)\nprint("Data retrieved from the database:")\nresult'

In [71]:
import pandas as pd
csv_file_path = 'cohort/observation.csv'  # Update this to the path of your CSV file
data = pd.read_csv(csv_file_path)

table_name = 'observation'
# schema = 'cdmDatabaseSchema'

# Load the DataFrame into MySQL
data.to_sql(name=table_name, con=engine, if_exists='append', index=False)

print("Data has been successfully loaded into the database.")

query = text(f"SELECT * FROM {table_name}")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
result

2024-04-19 14:54:04,022 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 14:54:04,047 INFO sqlalchemy.engine.Engine DESCRIBE `cdm`.`observation`
2024-04-19 14:54:04,048 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-19 14:54:04,083 INFO sqlalchemy.engine.Engine INSERT INTO observation (observation_id, person_id, observation_concept_id, observation_date, observation_datetime, observation_type_concept_id, value_as_number, value_as_string, value_as_concept_id, qualifier_concept_id, unit_concept_id, provider_id, visit_occurrence_id, visit_detail_id, observation_source_value, observation_source_concept_id, unit_source_value, qualifier_source_value, value_source_value) VALUES (%(observation_id)s, %(person_id)s, %(observation_concept_id)s, %(observation_date)s, %(observation_datetime)s, %(observation_type_concept_id)s, %(value_as_number)s, %(value_as_string)s, %(value_as_concept_id)s, %(qualifier_concept_id)s, %(unit_concept_id)s, %(provider_id)s, %(visit_occurrence_id)s, %(visit_detail_id)s, %(observation_source_value)s, %(observation_source_concept_id)s, %(unit_source_value)s, %(qualifier_source_value)s, %(value_source_value)s)
2024-04-19 14:54:04,085 INFO sqlalchemy.engine.Engine [generated in 0.00175s] [{'observation_id': 1022704905, 'person_id': 1372782, 'observation_concept_id': 2759786, 'observation_date': '2020-03-13', 'observation_datetime': '2020-03-13 21:32:00', 'observation_type_concept_id': 7460767, 'value_as_number': None, 'value_as_string': None, 'value_as_concept_id': None, 'qualifier_concept_id': 0, 'unit_concept_id': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'observation_source_value': 'Z89', 'observation_source_concept_id': 5694701, 'unit_source_value': None, 'qualifier_source_value': 'No matching concept', 'value_source_value': None}, {'observation_id': 1002510856, 'person_id': 1372782, 'observation_concept_id': 294002, 'observation_date': '2020-03-13', 'observation_datetime': '2020-03-13 21:32:00', 'observation_type_concept_id': 7460767, 'value_as_number': None, 'value_as_string': None, 'value_as_concept_id': None, 'qualifier_concept_id': 0, 'unit_concept_id': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'observation_source_value': 'Z87.8', 'observation_source_concept_id': 4403860, 'unit_source_value': None, 'qualifier_source_value': 'No matching concept', 'value_source_value': None}, {'observation_id': 1042693544, 'person_id': 1372782, 'observation_concept_id': 2841127, 'observation_date': '2020-03-13', 'observation_datetime': '2020-03-13 21:32:00', 'observation_type_concept_id': 7460767, 'value_as_number': None, 'value_as_string': None, 'value_as_concept_id': None, 'qualifier_concept_id': 0, 'unit_concept_id': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'observation_source_value': 'Z88.0', 'observation_source_concept_id': 4403859, 'unit_source_value': None, 'qualifier_source_value': 'No matching concept', 'value_source_value': None}, {'observation_id': 1002704901, 'person_id': 1372782, 'observation_concept_id': 2770454, 'observation_date': '2020-03-13', 'observation_datetime': '2020-03-13 21:32:00', 'observation_type_concept_id': 7460767, 'value_as_number': None, 'value_as_string': None, 'value_as_concept_id': None, 'qualifier_concept_id': 0, 'unit_concept_id': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'observation_source_value': 'Z677.22', 'observation_source_concept_id': 5698920, 'unit_source_value': None, 'qualifier_source_value': 'No matching concept', 'value_source_value': None}, {'observation_id': 1562510832, 'person_id': 1372782, 'observation_concept_id': 2791757, 'observation_date': '2020-03-13', 'observation_datetime': '2020-03-13 21:32:00', 'observation_type_concept_id': 7460767, 'value_as_number': None, 'value_as_string': None, 'value_as_concept_id': None, 'qualifier_concept_id': 0, 'unit_concept_id': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'observation_source_value': 'Z80.7', 'observation_source_concept_id': 4403853, 'unit_source_value': None, 'qualifier_source_value': 'No matching concept', 'value_source_value': None}, {'observation_id': 1202664983, 'person_id': 1372782, 'observation_concept_id': 2693100, 'observation_date': '2020-03-13', 'observation_datetime': '2020-03-13 21:32:00', 'observation_type_concept_id': 7460767, 'value_as_number': None, 'value_as_string': None, 'value_as_concept_id': None, 'qualifier_concept_id': 0, 'unit_concept_id': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'observation_source_value': 'Z43.2', 'observation_source_concept_id': 4403869, 'unit_source_value': None, 'qualifier_source_value': 'No matching concept', 'value_source_value': None}, {'observation_id': 1672635332, 'person_id': 1372782, 'observation_concept_id': 2719982, 'observation_date': '2020-03-13', 'observation_datetime': '2020-03-13 21:32:00', 'observation_type_concept_id': 7460767, 'value_as_number': None, 'value_as_string': None, 'value_as_concept_id': None, 'qualifier_concept_id': 0, 'unit_concept_id': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'observation_source_value': 'Z95.2', 'observation_source_concept_id': 4403866, 'unit_source_value': None, 'qualifier_source_value': 'No matching concept', 'value_source_value': None}, {'observation_id': 1042511804, 'person_id': 1372782, 'observation_concept_id': 31002266, 'observation_date': '2020-03-13', 'observation_datetime': '2020-03-13 21:32:00', 'observation_type_concept_id': 7460767, 'value_as_number': None, 'value_as_string': None, 'value_as_concept_id': None, 'qualifier_concept_id': 0, 'unit_concept_id': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'observation_source_value': 'Z45.51', 'observation_source_concept_id': 5697712, 'unit_source_value': None, 'qualifier_source_value': 'No matching concept', 'value_source_value': None}, {'observation_id': 1062511800, 'person_id': 1372782, 'observation_concept_id': 31003260, 'observation_date': '2020-03-13', 'observation_datetime': '2020-03-13 21:32:00', 'observation_type_concept_id': 7460767, 'value_as_number': None, 'value_as_string': None, 'value_as_concept_id': None, 'qualifier_concept_id': 0, 'unit_concept_id': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'observation_source_value': 'Z79.01', 'observation_source_concept_id': 5694703, 'unit_source_value': None, 'qualifier_source_value': 'No matching concept', 'value_source_value': None}, {'observation_id': 1603093411, 'person_id': 1372782, 'observation_concept_id': 2823743, 'observation_date': '2020-03-13', 'observation_datetime': '2020-03-13 21:32:00', 'observation_type_concept_id': 7460767, 'value_as_number': None, 'value_as_string': None, 'value_as_concept_id': None, 'qualifier_concept_id': 0, 'unit_concept_id': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'observation_source_value': 'Z67.8', 'observation_source_concept_id': 5701334, 'unit_source_value': None, 'qualifier_source_value': 'No matching concept', 'value_source_value': None}]
2024-04-19 14:54:04,091 INFO sqlalchemy.engine.Engine COMMIT
Data has been successfully loaded into the database.
2024-04-19 14:54:04,096 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 14:54:04,097 INFO sqlalchemy.engine.Engine SELECT * FROM observation
2024-04-19 14:54:04,098 INFO sqlalchemy.engine.Engine [cached since 2.565e+04s ago] {}
2024-04-19 14:54:04,160 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:

,observation_id,person_id,observation_concept_id,observation_date,observation_datetime,observation_type_concept_id,value_as_number,value_as_string,value_as_concept_id,qualifier_concept_id,...,provider_id,visit_occurrence_id,visit_detail_id,observation_source_value,observation_source_concept_id,unit_source_value,qualifier_source_value,value_source_value,observation_event_id,obs_event_field_concept_id
0,1002510856,1372782,294002,2020-03-13,2020-03-13 21:32:00,7460767,None,None,None,0,...,None,66217400,None,Z87.8,4403860,None,No matching concept,None,None,None
1,1002704901,1372782,2770454,2020-03-13,2020-03-13 21:32:00,7460767,None,None,None,0,...,None,66217400,None,Z677.22,5698920,None,No matching concept,None,None,None
2,1022704905,1372782,2759786,2020-03-13,2020-03-13 21:32:00,7460767,None,None,None,0,...,None,66217400,None,Z89,5694701,None,No matching concept,None,None,None
3,1042511804,1372782,31002266,2020-03-13,2020-03-13 21:32:00,7460767,None,None,None,0,...,None,66217400,None,Z45.51,5697712,None,No matching concept,None,None,None
4,1042693544,1372782,2841127,2020-03-13,2020-03-13 21:32:00,7460767,None,None,None,0,...,None,66217400,None,Z88.0,4403859,None,No matching concept,None,None,None
5,1062511800,1372782,31003260,2020-03-13,2020-03-13 21:32:00,7460767,None,None,None,0,...,None,66217400,None,Z79.01,5694703,None,No matching concept,None,None,None
6,1202664983,1372782,2693100,2020-03-13,2020-03-13 21:32:00,7460767,None,None,None,0,...,None,66217400,None,Z43.2,4403869,None,No matching concept,None,None,None
7,1562510832,1372782,2791757,2020-03-13,2020-03-13 21:32:00,7460767,None,None,None,0,...,None,66217400,None,Z80.7,4403853,None,No matching concept,None,None,None
8,1603093411,1372782,2823743,2020-03-13,2020-03-13 21:32:00,7460767,None,None,None,0,...,None,66217400,None,Z67.8,5701334,None,No matching concept,None,None,None
9,1672635332,1372782,2719982,2020-03-13,2020-03-13 21:32:00,7460767,None,None,None,0,...,None,66217400,None,Z95.2,4403866,None,No matching concept,None,None,None

In [72]:
import pandas as pd
csv_file_path = 'cohort/person.csv'
data = pd.read_csv(csv_file_path)

table_name = 'person'
# Load the DataFrame into MySQL
data.to_sql(name=table_name, con=engine, if_exists='append', index=False)

print("Data has been successfully loaded into the database.")

query = text(f"SELECT * FROM {table_name}")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
result

2024-04-19 14:54:06,761 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 14:54:06,764 INFO sqlalchemy.engine.Engine DESCRIBE `cdm`.`person`
2024-04-19 14:54:06,766 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-19 14:54:06,770 INFO sqlalchemy.engine.Engine INSERT INTO person (person_id, gender_concept_id, year_of_birth, month_of_birth, day_of_birth, birth_datetime, race_concept_id, ethnicity_concept_id, location_id, provider_id, care_site_id, person_source_value, gender_source_value, gender_source_concept_id, race_source_value, race_source_concept_id, ethnicity_source_value, ethnicity_source_concept_id) VALUES (%(person_id)s, %(gender_concept_id)s, %(year_of_birth)s, %(month_of_birth)s, %(day_of_birth)s, %(birth_datetime)s, %(race_concept_id)s, %(ethnicity_concept_id)s, %(location_id)s, %(provider_id)s, %(care_site_id)s, %(person_source_value)s, %(gender_source_value)s, %(gender_source_concept_id)s, %(race_source_value)s, %(race_source_concept_id)s, %(ethnicity_source_value)s, %(ethnicity_source_concept_id)s)
2024-04-19 14:54:06,771 INFO sqlalchemy.engine.Engine [generated in 0.00163s] [{'person_id': 1543037, 'gender_concept_id': 1995432138, 'year_of_birth': 1968, 'month_of_birth': 9, 'day_of_birth': 3, 'birth_datetime': '1968-09-03 0:00:00', 'race_concept_id': 817420, 'ethnicity_concept_id': 826343, 'location_id': None, 'provider_id': None, 'care_site_id': None, 'person_source_value': 1546630, 'gender_source_value': 'GenderIdentity_GeneralizedDiffGender', 'gender_source_concept_id': 1233546570, 'race_source_value': 'PMI_Skip', 'race_source_concept_id': 67856, 'ethnicity_source_value': 'PMI_Skip', 'ethnicity_source_concept_id': 67856}, {'person_id': 2334201, 'gender_concept_id': 1995432138, 'year_of_birth': 1965, 'month_of_birth': 7, 'day_of_birth': 16, 'birth_datetime': '1965-07-16 0:00:00', 'race_concept_id': 817420, 'ethnicity_concept_id': 826343, 'location_id': None, 'provider_id': None, 'care_site_id': None, 'person_source_value': 2727471, 'gender_source_value': 'GenderIdentity_GeneralizedDiffGender', 'gender_source_concept_id': 1233546570, 'race_source_value': 'PMI_Skip', 'race_source_concept_id': 67856, 'ethnicity_source_value': 'PMI_Skip', 'ethnicity_source_concept_id': 67856}, {'person_id': 711599, 'gender_concept_id': 1995432138, 'year_of_birth': 1978, 'month_of_birth': 4, 'day_of_birth': 6, 'birth_datetime': '1978-04-06 0:00:00', 'race_concept_id': 817420, 'ethnicity_concept_id': 826343, 'location_id': None, 'provider_id': None, 'care_site_id': None, 'person_source_value': 305678, 'gender_source_value': 'GenderIdentity_GeneralizedDiffGender', 'gender_source_concept_id': 1233546570, 'race_source_value': 'PMI_Skip', 'race_source_concept_id': 67856, 'ethnicity_source_value': 'PMI_Skip', 'ethnicity_source_concept_id': 67856}, {'person_id': 1021059, 'gender_concept_id': 41310599, 'year_of_birth': 1969, 'month_of_birth': 1, 'day_of_birth': 20, 'birth_datetime': '1969-01-20 0:00:00', 'race_concept_id': 66754, 'ethnicity_concept_id': 37926811, 'location_id': None, 'provider_id': None, 'care_site_id': None, 'person_source_value': 767558, 'gender_source_value': 'GenderIdentity_Woman', 'gender_source_concept_id': 907276, 'race_source_value': 'WhatRaceEthnicity_Black', 'race_source_concept_id': 4567549, 'ethnicity_source_value': 'Not Hispanic', 'ethnicity_source_concept_id': 31460238}, {'person_id': 872883, 'gender_concept_id': 41312805, 'year_of_birth': 1989, 'month_of_birth': 11, 'day_of_birth': 20, 'birth_datetime': '1989-11-20 0:00:00', 'race_concept_id': 66754, 'ethnicity_concept_id': 37926811, 'location_id': None, 'provider_id': None, 'care_site_id': None, 'person_source_value': 546399, 'gender_source_value': 'GenderIdentity_Man', 'gender_source_concept_id': 907275, 'race_source_value': 'WhatRaceEthnicity_Black', 'race_source_concept_id': 4567549, 'ethnicity_source_value': 'Not Hispanic', 'ethnicity_source_concept_id': 31460238}, {'person_id': 2146445, 'gender_concept_id': 41312805, 'year_of_birth': 1951, 'month_of_birth': 5, 'day_of_birth': 15, 'birth_datetime': '1951-05-15 0:00:00', 'race_concept_id': 66754, 'ethnicity_concept_id': 37926811, 'location_id': None, 'provider_id': None, 'care_site_id': None, 'person_source_value': 2447238, 'gender_source_value': 'GenderIdentity_Man', 'gender_source_concept_id': 907275, 'race_source_value': 'WhatRaceEthnicity_Black', 'race_source_concept_id': 4567549, 'ethnicity_source_value': 'Not Hispanic', 'ethnicity_source_concept_id': 31460238}, {'person_id': 680331, 'gender_concept_id': 41310599, 'year_of_birth': 1946, 'month_of_birth': 2, 'day_of_birth': 27, 'birth_datetime': '1946-02-27 0:00:00', 'race_concept_id': 66754, 'ethnicity_concept_id': 37926811, 'location_id': None, 'provider_id': None, 'care_site_id': None, 'person_source_value': 259008, 'gender_source_value': 'GenderIdentity_Woman', 'gender_source_concept_id': 907276, 'race_source_value': 'WhatRaceEthnicity_White', 'race_source_concept_id': 4567549, 'ethnicity_source_value': 'Not Hispanic', 'ethnicity_source_concept_id': 31460238}, {'person_id': 1955206, 'gender_concept_id': 41312805, 'year_of_birth': 1959, 'month_of_birth': 8, 'day_of_birth': 5, 'birth_datetime': '1959-08-05 0:00:00', 'race_concept_id': 1099923437, 'ethnicity_concept_id': 37926810, 'location_id': None, 'provider_id': None, 'care_site_id': None, 'person_source_value': 2161807, 'gender_source_value': 'GenderIdentity_Man', 'gender_source_concept_id': 907275, 'race_source_value': 'AoUDRC_NoneIndicated', 'race_source_concept_id': 0, 'ethnicity_source_value': 'Hispanic', 'ethnicity_source_concept_id': 31460237}  ... displaying 10 of 11 total bound parameter sets ...  {'person_id': 1372782, 'gender_concept_id': 1995432138, 'year_of_birth': 1976, 'month_of_birth': 6, 'day_of_birth': 1, 'birth_datetime': '1976-06-01 0:00:00', 'race_concept_id': 1099923437, 'ethnicity_concept_id': 37926810, 'location_id': None, 'provider_id': None, 'care_site_id': None, 'person_source_value': 367286, 'gender_source_value': 'GenderIdentity_GeneralizedDiffGender', 'gender_source_concept_id': 1233546570, 'race_source_value': 'AoUDRC_NoneIndicated', 'race_source_concept_id': 0, 'ethnicity_source_value': 'Hispanic', 'ethnicity_source_concept_id': 31460237}, {'person_id': 5675534, 'gender_concept_id': 41312805, 'year_of_birth': 1977, 'month_of_birth': 3, 'day_of_birth': 19, 'birth_datetime': '1977-03-19', 'race_concept_id': 66754, 'ethnicity_concept_id': 826343, 'location_id': None, 'provider_id': None, 'care_site_id': None, 'person_source_value': 68726763, 'gender_source_value': 'GenderIdentity_GeneralizedDiffGender', 'gender_source_concept_id': 907275, 'race_source_value': 'AoUDRC_NoneIndicated', 'race_source_concept_id': 0, 'ethnicity_source_value': 'Hispanic', 'ethnicity_source_concept_id': 31460237}]
2024-04-19 14:54:06,775 INFO sqlalchemy.engine.Engine COMMIT
Data has been successfully loaded into the database.
2024-04-19 14:54:06,778 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 14:54:06,778 INFO sqlalchemy.engine.Engine SELECT * FROM person
2024-04-19 14:54:06,779 INFO sqlalchemy.engine.Engine [cached since 2.513e+04s ago] {}
2024-04-19 14:54:06,782 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:

,person_id,gender_concept_id,year_of_birth,month_of_birth,day_of_birth,birth_datetime,race_concept_id,ethnicity_concept_id,location_id,provider_id,care_site_id,person_source_value,gender_source_value,gender_source_concept_id,race_source_value,race_source_concept_id,ethnicity_source_value,ethnicity_source_concept_id
0,680331,41310599,1946,2,27,1946-02-27,66754,37926811,None,None,None,259008,GenderIdentity_Woman,907276,WhatRaceEthnicity_White,4567549,Not Hispanic,31460238
1,711599,1995432138,1978,4,6,1978-04-06,817420,826343,None,None,None,305678,GenderIdentity_GeneralizedDiffGender,1233546570,PMI_Skip,67856,PMI_Skip,67856
2,872883,41312805,1989,11,20,1989-11-20,66754,37926811,None,None,None,546399,GenderIdentity_Man,907275,WhatRaceEthnicity_Black,4567549,Not Hispanic,31460238
3,1021059,41310599,1969,1,20,1969-01-20,66754,37926811,None,None,None,767558,GenderIdentity_Woman,907276,WhatRaceEthnicity_Black,4567549,Not Hispanic,31460238
4,1372782,1995432138,1976,6,1,1976-06-01,1099923437,37926810,None,None,None,367286,GenderIdentity_GeneralizedDiffGender,1233546570,AoUDRC_NoneIndicated,0,Hispanic,31460237
5,1543037,1995432138,1968,9,3,1968-09-03,817420,826343,None,None,None,1546630,GenderIdentity_GeneralizedDiffGender,1233546570,PMI_Skip,67856,PMI_Skip,67856
6,1851447,41310599,1964,12,10,1964-12-10,1099923437,37926810,None,None,None,2006943,GenderIdentity_Woman,907276,AoUDRC_NoneIndicated,0,Hispanic,31460237
7,1955206,41312805,1959,8,5,1959-08-05,1099923437,37926810,None,None,None,2161807,GenderIdentity_Man,907275,AoUDRC_NoneIndicated,0,Hispanic,31460237
8,2146445,41312805,1951,5,15,1951-05-15,66754,37926811,None,None,None,2447238,GenderIdentity_Man,907275,WhatRaceEthnicity_Black,4567549,Not Hispanic,31460238
9,2334201,1995432138,1965,7,16,1965-07-16,817420,826343,None,None,None,2727471,GenderIdentity_GeneralizedDiffGender,1233546570,PMI_Skip,67856,PMI_Skip,67856
10,5675534,41312805,1977,3,19,1977-03-19,66754,826343,None,None,None,68726763,GenderIdentity_GeneralizedDiffGender,907275,AoUDRC_NoneIndicated,0,Hispanic,31460237

In [73]:
import pandas as pd
csv_file_path = 'cohort/condition_occurrence.csv'  # Update this to the path of your CSV file
data = pd.read_csv(csv_file_path)

table_name = 'condition_occurrence'
# schema = 'cdmDatabaseSchema'

# Load the DataFrame into MySQL
data.to_sql(name=table_name, con=engine, if_exists='append', index=False)

print("Data has been successfully loaded into the database.")

query = text(f"SELECT * FROM {table_name}")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
result

2024-04-19 14:54:09,798 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 14:54:09,803 INFO sqlalchemy.engine.Engine DESCRIBE `cdm`.`condition_occurrence`
2024-04-19 14:54:09,804 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-19 14:54:09,812 INFO sqlalchemy.engine.Engine INSERT INTO condition_occurrence (condition_occurrence_id, person_id, condition_concept_id, condition_start_date, condition_start_datetime, condition_end_date, condition_end_datetime, condition_type_concept_id, condition_status_concept_id, stop_reason, provider_id, visit_occurrence_id, visit_detail_id, condition_source_value, condition_source_concept_id, condition_status_source_value) VALUES (%(condition_occurrence_id)s, %(person_id)s, %(condition_concept_id)s, %(condition_start_date)s, %(condition_start_datetime)s, %(condition_end_date)s, %(condition_end_datetime)s, %(condition_type_concept_id)s, %(condition_status_concept_id)s, %(stop_reason)s, %(provider_id)s, %(visit_occurrence_id)s, %(visit_detail_id)s, %(condition_source_value)s, %(condition_source_concept_id)s, %(condition_status_source_value)s)
2024-04-19 14:54:09,813 INFO sqlalchemy.engine.Engine [generated in 0.00094s] [{'condition_occurrence_id': 301436, 'person_id': 1372782, 'condition_concept_id': 4000609, 'condition_start_date': '2020-03-13', 'condition_start_datetime': '2020-03-13 21:32:00', 'condition_end_date': None, 'condition_end_datetime': None, 'condition_type_concept_id': 24498375, 'condition_status_concept_id': 3680479, 'stop_reason': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'condition_source_value': 'K40', 'condition_source_concept_id': 35201492, 'condition_status_source_value': 68094332}, {'condition_occurrence_id': 248088, 'person_id': 1372782, 'condition_concept_id': 196152, 'condition_start_date': '2020-03-13', 'condition_start_datetime': '2020-03-13 21:32:00', 'condition_end_date': None, 'condition_end_datetime': None, 'condition_type_concept_id': 24498375, 'condition_status_concept_id': 3680479, 'stop_reason': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'condition_source_value': 'K65.8', 'condition_source_concept_id': 35201569, 'condition_status_source_value': 68094332}, {'condition_occurrence_id': 306327, 'person_id': 1372782, 'condition_concept_id': 4281826, 'condition_start_date': '2020-03-13', 'condition_start_datetime': '2020-03-13 21:32:00', 'condition_end_date': None, 'condition_end_datetime': None, 'condition_type_concept_id': 24498375, 'condition_status_concept_id': 3680479, 'stop_reason': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'condition_source_value': 'D72.2', 'condition_source_concept_id': 45598626, 'condition_status_source_value': 68094332}, {'condition_occurrence_id': 289385, 'person_id': 1372782, 'condition_concept_id': 319835, 'condition_start_date': '2020-03-13', 'condition_start_datetime': '2020-03-13 21:32:00', 'condition_end_date': None, 'condition_end_datetime': None, 'condition_type_concept_id': 24498375, 'condition_status_concept_id': 3680479, 'stop_reason': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'condition_source_value': 'I50.21', 'condition_source_concept_id': 45536428, 'condition_status_source_value': 68094332}, {'condition_occurrence_id': 276646, 'person_id': 1372782, 'condition_concept_id': 37110250, 'condition_start_date': '2020-03-13', 'condition_start_datetime': '2020-03-13 21:32:00', 'condition_end_date': None, 'condition_end_datetime': None, 'condition_type_concept_id': 24498375, 'condition_status_concept_id': 3680479, 'stop_reason': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'condition_source_value': 'I70.3', 'condition_source_concept_id': 45541306, 'condition_status_source_value': 68094332}, {'condition_occurrence_id': 276647, 'person_id': 1372782, 'condition_concept_id': 317577, 'condition_start_date': '2020-03-13', 'condition_start_datetime': '2020-03-13 21:32:00', 'condition_end_date': None, 'condition_end_datetime': None, 'condition_type_concept_id': 24498375, 'condition_status_concept_id': 3680479, 'stop_reason': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'condition_source_value': 'I71.2', 'condition_source_concept_id': 45560456, 'condition_status_source_value': 68094332}, {'condition_occurrence_id': 318699, 'person_id': 1372782, 'condition_concept_id': 434004, 'condition_start_date': '2020-03-13', 'condition_start_datetime': '2020-03-13 21:32:00', 'condition_end_date': None, 'condition_end_datetime': None, 'condition_type_concept_id': 24498375, 'condition_status_concept_id': 3680479, 'stop_reason': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'condition_source_value': 'E85.7', 'condition_source_concept_id': 45569726, 'condition_status_source_value': 68094332}, {'condition_occurrence_id': 289289, 'person_id': 1372782, 'condition_concept_id': 197596, 'condition_start_date': '2020-03-13', 'condition_start_datetime': '2020-03-13 21:32:00', 'condition_end_date': None, 'condition_end_datetime': None, 'condition_type_concept_id': 24498375, 'condition_status_concept_id': 3680479, 'stop_reason': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'condition_source_value': 'K52', 'condition_source_concept_id': 35201517, 'condition_status_source_value': 68094332}  ... displaying 10 of 13 total bound parameter sets ...  {'condition_occurrence_id': 675654, 'person_id': 5675534, 'condition_concept_id': 319836, 'condition_start_date': '2018-09-05', 'condition_start_datetime': '2018-09-05 16:08:00', 'condition_end_date': None, 'condition_end_datetime': None, 'condition_type_concept_id': 24498375, 'condition_status_concept_id': 3680479, 'stop_reason': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'condition_source_value': 'I50.20', 'condition_source_concept_id': 35201517, 'condition_status_source_value': 68094332}, {'condition_occurrence_id': 645454, 'person_id': 5675534, 'condition_concept_id': 319837, 'condition_start_date': '2018-08-21', 'condition_start_datetime': '2018-08-21 9:52:00', 'condition_end_date': None, 'condition_end_datetime': None, 'condition_type_concept_id': 24498375, 'condition_status_concept_id': 3680479, 'stop_reason': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'condition_source_value': 'I50.20', 'condition_source_concept_id': 35201517, 'condition_status_source_value': 68094332}]
2024-04-19 14:54:09,815 INFO sqlalchemy.engine.Engine COMMIT
Data has been successfully loaded into the database.
2024-04-19 14:54:09,818 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 14:54:09,818 INFO sqlalchemy.engine.Engine SELECT * FROM condition_occurrence
2024-04-19 14:54:09,819 INFO sqlalchemy.engine.Engine [cached since 2.639e+04s ago] {}
2024-04-19 14:54:09,822 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:

,condition_occurrence_id,person_id,condition_concept_id,condition_start_date,condition_start_datetime,condition_end_date,condition_end_datetime,condition_type_concept_id,condition_status_concept_id,stop_reason,provider_id,visit_occurrence_id,visit_detail_id,condition_source_value,condition_source_concept_id,condition_status_source_value
0,66677,5675534,319835,2018-08-04,2018-08-04 10:43:00,None,None,24498375,3680479,None,None,66217400,None,I50.43,35201517,68094332
1,238140,1372782,4043371,2020-03-13,2020-03-13 21:32:00,None,None,24498375,3680479,None,None,66217400,None,K52,35201517,68094332
2,248088,1372782,196152,2020-03-13,2020-03-13 21:32:00,None,None,24498375,3680479,None,None,66217400,None,K65.8,35201569,68094332
3,276646,1372782,37110250,2020-03-13,2020-03-13 21:32:00,None,None,24498375,3680479,None,None,66217400,None,I70.3,45541306,68094332
4,276647,1372782,317577,2020-03-13,2020-03-13 21:32:00,None,None,24498375,3680479,None,None,66217400,None,I71.2,45560456,68094332
5,289289,1372782,197596,2020-03-13,2020-03-13 21:32:00,None,None,24498375,3680479,None,None,66217400,None,K52,35201517,68094332
6,289385,1372782,319835,2020-03-13,2020-03-13 21:32:00,None,None,24498375,3680479,None,None,66217400,None,I50.21,45536428,68094332
7,289387,1372782,193782,2020-03-13,2020-03-13 21:32:00,None,None,24498375,3680479,None,None,66217400,None,N19,45541899,68094332
8,301436,1372782,4000609,2020-03-13,2020-03-13 21:32:00,None,None,24498375,3680479,None,None,66217400,None,K40,35201492,68094332
9,306327,1372782,4281826,2020-03-13,2020-03-13 21:32:00,None,None,24498375,3680479,None,None,66217400,None,D72.2,45598626,68094332
10,318699,1372782,434004,2020-03-13,2020-03-13 21:32:00,None,None,24498375,3680479,None,None,66217400,None,E85.7,45569726,68094332
11,645454,5675534,319837,2018-08-21,2018-08-21 09:52:00,None,None,24498375,3680479,None,None,66217400,None,I50.20,35201517,68094332
12,675654,5675534,319836,2018-09-05,2018-09-05 16:08:00,None,None,24498375,3680479,None,None,66217400,None,I50.20,35201517,68094332

In [75]:
import pandas as pd
csv_file_path = 'cohort/visit_occurrence.csv'  # Update this to the path of your CSV file
data = pd.read_csv(csv_file_path)

table_name = 'visit_occurrence'
# schema = 'cdmDatabaseSchema'

# Load the DataFrame into MySQL
data.to_sql(name=table_name, con=engine, if_exists='append', index=False)

print("Data has been successfully loaded into the database.")

query = text(f"SELECT * FROM {table_name}")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
result

2024-04-19 14:54:30,675 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 14:54:30,690 INFO sqlalchemy.engine.Engine DESCRIBE `cdm`.`visit_occurrence`
2024-04-19 14:54:30,691 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-19 14:54:30,724 INFO sqlalchemy.engine.Engine INSERT INTO visit_occurrence (visit_occurrence_id, person_id, visit_concept_id, visit_start_date, visit_start_datetime, visit_end_date, visit_end_datetime, visit_type_concept_id, provider_id, care_site_id, visit_source_value, visit_source_concept_id, admitted_from_concept_id, admitted_from_source_value, discharged_to_concept_id, discharged_to_source_value, preceding_visit_occurrence_id) VALUES (%(visit_occurrence_id)s, %(person_id)s, %(visit_concept_id)s, %(visit_start_date)s, %(visit_start_datetime)s, %(visit_end_date)s, %(visit_end_datetime)s, %(visit_type_concept_id)s, %(provider_id)s, %(care_site_id)s, %(visit_source_value)s, %(visit_source_concept_id)s, %(admitted_from_concept_id)s, %(admitted_from_source_value)s, %(discharged_to_concept_id)s, %(discharged_to_source_value)s, %(preceding_visit_occurrence_id)s)
2024-04-19 14:54:30,725 INFO sqlalchemy.engine.Engine [generated in 0.00157s] [{'visit_occurrence_id': 66217400, 'person_id': 2746928, 'visit_concept_id': 262, 'visit_start_date': '2018-06-27', 'visit_start_datetime': '2018-06-26 16:48:00', 'visit_end_date': '2019-08-17', 'visit_end_datetime': '2019-08-16 16:48:00', 'visit_type_concept_id': 39371665, 'provider_id': None, 'care_site_id': None, 'visit_source_value': 15, 'visit_source_concept_id': 1933, 'admitted_from_concept_id': 6973, 'admitted_from_source_value': 5, 'discharged_to_concept_id': 44812663, 'discharged_to_source_value': 'Discharge Disposition-E', 'preceding_visit_occurrence_id': None}, {'visit_occurrence_id': 8790700, 'person_id': 3651691, 'visit_concept_id': 9202, 'visit_start_date': '2016-07-20', 'visit_start_datetime': '2016-07-19 16:48:00', 'visit_end_date': '2017-09-19', 'visit_end_datetime': '2017-09-18 16:48:00', 'visit_type_concept_id': 39371665, 'provider_id': None, 'care_site_id': None, 'visit_source_value': 15, 'visit_source_concept_id': 1933, 'admitted_from_concept_id': 6973, 'admitted_from_source_value': 5, 'discharged_to_concept_id': 6513, 'discharged_to_source_value': '7', 'preceding_visit_occurrence_id': None}, {'visit_occurrence_id': 43246200, 'person_id': 1667878, 'visit_concept_id': 9202, 'visit_start_date': '2016-03-29', 'visit_start_datetime': '2016-03-28 19:12:00', 'visit_end_date': '2017-06-29', 'visit_end_datetime': '2017-06-28 16:48:00', 'visit_type_concept_id': 39371665, 'provider_id': None, 'care_site_id': None, 'visit_source_value': 15, 'visit_source_concept_id': 1933, 'admitted_from_concept_id': 6973, 'admitted_from_source_value': 5, 'discharged_to_concept_id': 6513, 'discharged_to_source_value': '7', 'preceding_visit_occurrence_id': None}, {'visit_occurrence_id': 43037600, 'person_id': 3590868, 'visit_concept_id': 9202, 'visit_start_date': '2016-03-01', 'visit_start_datetime': '2016-02-29 16:48:00', 'visit_end_date': '2017-04-01', 'visit_end_datetime': '2017-03-31 16:48:00', 'visit_type_concept_id': 39371665, 'provider_id': None, 'care_site_id': None, 'visit_source_value': 15, 'visit_source_concept_id': 1933, 'admitted_from_concept_id': 6973, 'admitted_from_source_value': 5, 'discharged_to_concept_id': 6513, 'discharged_to_source_value': '7', 'preceding_visit_occurrence_id': None}, {'visit_occurrence_id': 9552000, 'person_id': 2333210, 'visit_concept_id': 9202, 'visit_start_date': '2015-11-06', 'visit_start_datetime': '2015-11-05 16:48:00', 'visit_end_date': '2017-03-06', 'visit_end_datetime': '2017-03-05 16:48:00', 'visit_type_concept_id': 39371665, 'provider_id': None, 'care_site_id': None, 'visit_source_value': 15, 'visit_source_concept_id': 1933, 'admitted_from_concept_id': 6973, 'admitted_from_source_value': 5, 'discharged_to_concept_id': 6513, 'discharged_to_source_value': '7', 'preceding_visit_occurrence_id': None}, {'visit_occurrence_id': 43140500, 'person_id': 3485274, 'visit_concept_id': 9202, 'visit_start_date': '2016-03-22', 'visit_start_datetime': '2016-03-21 19:12:00', 'visit_end_date': '2017-04-21', 'visit_end_datetime': '2017-04-20 16:48:00', 'visit_type_concept_id': 39371665, 'provider_id': None, 'care_site_id': None, 'visit_source_value': 15, 'visit_source_concept_id': 1933, 'admitted_from_concept_id': 6973, 'admitted_from_source_value': 5, 'discharged_to_concept_id': 6513, 'discharged_to_source_value': '7', 'preceding_visit_occurrence_id': None}, {'visit_occurrence_id': 40848600, 'person_id': 3924012, 'visit_concept_id': 9202, 'visit_start_date': '2015-08-08', 'visit_start_datetime': '2015-08-07 16:48:00', 'visit_end_date': '2016-09-08', 'visit_end_datetime': '2016-09-07 16:48:00', 'visit_type_concept_id': 39371665, 'provider_id': None, 'care_site_id': None, 'visit_source_value': 15, 'visit_source_concept_id': 1933, 'admitted_from_concept_id': 6973, 'admitted_from_source_value': 5, 'discharged_to_concept_id': 6513, 'discharged_to_source_value': '7', 'preceding_visit_occurrence_id': None}, {'visit_occurrence_id': 39627400, 'person_id': 2680855, 'visit_concept_id': 9202, 'visit_start_date': '2014-11-26', 'visit_start_datetime': '2014-11-25 16:48:00', 'visit_end_date': '2016-05-26', 'visit_end_datetime': '2016-05-25 16:48:00', 'visit_type_concept_id': 39371665, 'provider_id': None, 'care_site_id': None, 'visit_source_value': 15, 'visit_source_concept_id': 1933, 'admitted_from_concept_id': 6973, 'admitted_from_source_value': 5, 'discharged_to_concept_id': 6513, 'discharged_to_source_value': '7', 'preceding_visit_occurrence_id': None}, {'visit_occurrence_id': 42780100, 'person_id': 1503632, 'visit_concept_id': 9202, 'visit_start_date': '2015-08-13', 'visit_start_datetime': '2015-08-12 16:48:00', 'visit_end_date': '2016-10-13', 'visit_end_datetime': '2016-10-12 16:48:00', 'visit_type_concept_id': 39371665, 'provider_id': None, 'care_site_id': None, 'visit_source_value': 15, 'visit_source_concept_id': 1933, 'admitted_from_concept_id': 6973, 'admitted_from_source_value': 5, 'discharged_to_concept_id': 6513, 'discharged_to_source_value': '7', 'preceding_visit_occurrence_id': None}, {'visit_occurrence_id': 43552600, 'person_id': 3743446, 'visit_concept_id': 9202, 'visit_start_date': '2016-03-16', 'visit_start_datetime': '2016-03-15 16:48:00', 'visit_end_date': '2016-11-22', 'visit_end_datetime': '2016-11-21 16:48:00', 'visit_type_concept_id': 39371665, 'provider_id': None, 'care_site_id': None, 'visit_source_value': 15, 'visit_source_concept_id': 1933, 'admitted_from_concept_id': 6973, 'admitted_from_source_value': 5, 'discharged_to_concept_id': 6513, 'discharged_to_source_value': '7', 'preceding_visit_occurrence_id': None}]
2024-04-19 14:54:30,745 INFO sqlalchemy.engine.Engine COMMIT
Data has been successfully loaded into the database.
2024-04-19 14:54:30,749 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 14:54:30,750 INFO sqlalchemy.engine.Engine SELECT * FROM visit_occurrence
2024-04-19 14:54:30,751 INFO sqlalchemy.engine.Engine [generated in 0.00281s] {}
2024-04-19 14:54:30,761 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:

,visit_occurrence_id,person_id,visit_concept_id,visit_start_date,visit_start_datetime,visit_end_date,visit_end_datetime,visit_type_concept_id,provider_id,care_site_id,visit_source_value,visit_source_concept_id,admitted_from_concept_id,admitted_from_source_value,discharged_to_concept_id,discharged_to_source_value,preceding_visit_occurrence_id
0,8790700,3651691,9202,2016-07-20,2016-07-19 16:48:00,2017-09-19,2017-09-18 16:48:00,39371665,None,None,15,1933,6973,5,6513,7,None
1,9552000,2333210,9202,2015-11-06,2015-11-05 16:48:00,2017-03-06,2017-03-05 16:48:00,39371665,None,None,15,1933,6973,5,6513,7,None
2,39627400,2680855,9202,2014-11-26,2014-11-25 16:48:00,2016-05-26,2016-05-25 16:48:00,39371665,None,None,15,1933,6973,5,6513,7,None
3,40848600,3924012,9202,2015-08-08,2015-08-07 16:48:00,2016-09-08,2016-09-07 16:48:00,39371665,None,None,15,1933,6973,5,6513,7,None
4,42780100,1503632,9202,2015-08-13,2015-08-12 16:48:00,2016-10-13,2016-10-12 16:48:00,39371665,None,None,15,1933,6973,5,6513,7,None
5,43037600,3590868,9202,2016-03-01,2016-02-29 16:48:00,2017-04-01,2017-03-31 16:48:00,39371665,None,None,15,1933,6973,5,6513,7,None
6,43140500,3485274,9202,2016-03-22,2016-03-21 19:12:00,2017-04-21,2017-04-20 16:48:00,39371665,None,None,15,1933,6973,5,6513,7,None
7,43246200,1667878,9202,2016-03-29,2016-03-28 19:12:00,2017-06-29,2017-06-28 16:48:00,39371665,None,None,15,1933,6973,5,6513,7,None
8,43552600,3743446,9202,2016-03-16,2016-03-15 16:48:00,2016-11-22,2016-11-21 16:48:00,39371665,None,None,15,1933,6973,5,6513,7,None
9,66217400,2746928,262,2018-06-27,2018-06-26 16:48:00,2019-08-17,2019-08-16 16:48:00,39371665,None,None,15,1933,6973,5,44812663,Discharge Disposition-E,None

In [76]:
import pandas as pd
csv_file_path = 'cohort/drug_exposure.csv'  # Update this to the path of your CSV file
data = pd.read_csv(csv_file_path)

table_name = 'drug_exposure'
# schema = 'cdmDatabaseSchema'

# Load the DataFrame into MySQL
data.to_sql(name=table_name, con=engine, if_exists='append', index=False)

print("Data has been successfully loaded into the database.")

query = text(f"SELECT * FROM {table_name}")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
result

2024-04-19 14:54:33,499 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 14:54:33,501 INFO sqlalchemy.engine.Engine DESCRIBE `cdm`.`drug_exposure`
2024-04-19 14:54:33,502 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-19 14:54:33,507 INFO sqlalchemy.engine.Engine INSERT INTO drug_exposure (drug_exposure_id, person_id, drug_concept_id, drug_exposure_start_date, drug_exposure_start_datetime, drug_exposure_end_date, drug_exposure_end_datetime, verbatim_end_date, drug_type_concept_id, stop_reason, refills, quantity, days_supply, sig, route_concept_id, lot_number, provider_id, visit_occurrence_id, visit_detail_id, drug_source_value, drug_source_concept_id, route_source_value, dose_unit_source_value) VALUES (%(drug_exposure_id)s, %(person_id)s, %(drug_concept_id)s, %(drug_exposure_start_date)s, %(drug_exposure_start_datetime)s, %(drug_exposure_end_date)s, %(drug_exposure_end_datetime)s, %(verbatim_end_date)s, %(drug_type_concept_id)s, %(stop_reason)s, %(refills)s, %(quantity)s, %(days_supply)s, %(sig)s, %(route_concept_id)s, %(lot_number)s, %(provider_id)s, %(visit_occurrence_id)s, %(visit_detail_id)s, %(drug_source_value)s, %(drug_source_concept_id)s, %(route_source_value)s, %(dose_unit_source_value)s)
2024-04-19 14:54:33,508 INFO sqlalchemy.engine.Engine [generated in 0.00112s] [{'drug_exposure_id': 156940, 'person_id': 1372782, 'drug_concept_id': 42708201, 'drug_exposure_start_date': '2020-04-11', 'drug_exposure_start_datetime': '2020-04-11 0:00:00', 'drug_exposure_end_date': '2020-04-07', 'drug_exposure_end_datetime': '2020-06-06 9:36:00', 'verbatim_end_date': None, 'drug_type_concept_id': 16943435, 'stop_reason': None, 'refills': None, 'quantity': 2.0, 'days_supply': None, 'sig': None, 'route_concept_id': None, 'lot_number': None, 'provider_id': None, 'visit_occurrence_id': 66252165, 'visit_detail_id': None, 'drug_source_value': 1237679, 'drug_source_concept_id': 33312454, 'route_source_value': 11722356, 'dose_unit_source_value': None}, {'drug_exposure_id': 156742, 'person_id': 1372782, 'drug_concept_id': 19049106, 'drug_exposure_start_date': '2020-04-26', 'drug_exposure_start_datetime': '2020-04-26 0:00:00', 'drug_exposure_end_date': '2020-03-23', 'drug_exposure_end_datetime': '2020-06-22 19:12:00', 'verbatim_end_date': None, 'drug_type_concept_id': 16943435, 'stop_reason': None, 'refills': None, 'quantity': 2.0, 'days_supply': None, 'sig': None, 'route_concept_id': None, 'lot_number': None, 'provider_id': None, 'visit_occurrence_id': 66252165, 'visit_detail_id': None, 'drug_source_value': 191581, 'drug_source_concept_id': 14858360, 'route_source_value': 11722356, 'dose_unit_source_value': None}, {'drug_exposure_id': 156714, 'person_id': 1372782, 'drug_concept_id': 19072176, 'drug_exposure_start_date': '2020-01-23', 'drug_exposure_start_datetime': '2020-01-23 0:00:00', 'drug_exposure_end_date': '2021-06-17', 'drug_exposure_end_datetime': '2021-06-17 9:36:00', 'verbatim_end_date': None, 'drug_type_concept_id': 16943435, 'stop_reason': None, 'refills': None, 'quantity': 36.6, 'days_supply': None, 'sig': None, 'route_concept_id': None, 'lot_number': None, 'provider_id': None, 'visit_occurrence_id': 66252165, 'visit_detail_id': None, 'drug_source_value': 301140, 'drug_source_concept_id': 14876354, 'route_source_value': 11722356, 'dose_unit_source_value': None}, {'drug_exposure_id': 157016, 'person_id': 1372782, 'drug_concept_id': 1707348, 'drug_exposure_start_date': '2020-02-13', 'drug_exposure_start_datetime': '2020-02-13 0:00:00', 'drug_exposure_end_date': '2020-04-09', 'drug_exposure_end_datetime': '2020-04-09 9:36:00', 'verbatim_end_date': None, 'drug_type_concept_id': 16943435, 'stop_reason': None, 'refills': None, 'quantity': 28.0, 'days_supply': None, 'sig': None, 'route_concept_id': None, 'lot_number': None, 'provider_id': None, 'visit_occurrence_id': 66252165, 'visit_detail_id': None, 'drug_source_value': 305148, 'drug_source_concept_id': 1331788, 'route_source_value': 20954437, 'dose_unit_source_value': None}, {'drug_exposure_id': 156757, 'person_id': 1372782, 'drug_concept_id': 19127952, 'drug_exposure_start_date': '2020-05-27', 'drug_exposure_start_datetime': '2020-05-27 0:00:00', 'drug_exposure_end_date': '2020-03-23', 'drug_exposure_end_datetime': '2020-07-22 9:36:00', 'verbatim_end_date': None, 'drug_type_concept_id': 16943435, 'stop_reason': None, 'refills': None, 'quantity': 0.0, 'days_supply': None, 'sig': None, 'route_concept_id': None, 'lot_number': None, 'provider_id': None, 'visit_occurrence_id': 66252165, 'visit_detail_id': None, 'drug_source_value': 742671, 'drug_source_concept_id': 14919860, 'route_source_value': 11722356, 'dose_unit_source_value': None}, {'drug_exposure_id': 156828, 'person_id': 1372782, 'drug_concept_id': 40167259, 'drug_exposure_start_date': '2020-02-02', 'drug_exposure_start_datetime': '2020-02-02 0:00:00', 'drug_exposure_end_date': '2021-12-10', 'drug_exposure_end_datetime': '2021-12-10 9:36:00', 'verbatim_end_date': None, 'drug_type_concept_id': 16943435, 'stop_reason': None, 'refills': None, 'quantity': 7.0, 'days_supply': None, 'sig': None, 'route_concept_id': None, 'lot_number': None, 'provider_id': None, 'visit_occurrence_id': 66252165, 'visit_detail_id': None, 'drug_source_value': 869658, 'drug_source_concept_id': 31330519, 'route_source_value': 11722356, 'dose_unit_source_value': None}, {'drug_exposure_id': 156731, 'person_id': 1372782, 'drug_concept_id': 19079524, 'drug_exposure_start_date': '2020-01-24', 'drug_exposure_start_datetime': '2020-01-24 0:00:00', 'drug_exposure_end_date': '2020-04-11', 'drug_exposure_end_datetime': '2020-04-11 9:36:00', 'verbatim_end_date': None, 'drug_type_concept_id': 16943435, 'stop_reason': None, 'refills': None, 'quantity': 288.0, 'days_supply': None, 'sig': None, 'route_concept_id': None, 'lot_number': None, 'provider_id': None, 'visit_occurrence_id': 66252165, 'visit_detail_id': None, 'drug_source_value': 306467, 'drug_source_concept_id': 14882086, 'route_source_value': 20954437, 'dose_unit_source_value': None}, {'drug_exposure_id': 156881, 'person_id': 1372782, 'drug_concept_id': 19073526, 'drug_exposure_start_date': '2020-05-06', 'drug_exposure_start_datetime': '2020-05-06 0:00:00', 'drug_exposure_end_date': '2020-04-02', 'drug_exposure_end_datetime': '2020-07-01 9:36:00', 'verbatim_end_date': None, 'drug_type_concept_id': 16943435, 'stop_reason': None, 'refills': None, 'quantity': 67.0, 'days_supply': None, 'sig': None, 'route_concept_id': None, 'lot_number': None, 'provider_id': None, 'visit_occurrence_id': 66252165, 'visit_detail_id': None, 'drug_source_value': 301816, 'drug_source_concept_id': 14877407, 'route_source_value': 20954437, 'dose_unit_source_value': None}  ... displaying 10 of 13 total bound parameter sets ...  {'drug_exposure_id': 86043, 'person_id': 5675534, 'drug_concept_id': 36249642, 'drug_exposure_start_date': '2018-08-22', 'drug_exposure_start_datetime': '2018-08-22 06:46:00+00:00', 'drug_exposure_end_date': '2018-08-22', 'drug_exposure_end_datetime': '2018-08-22 06:46:00+00:00', 'verbatim_end_date': None, 'drug_type_concept_id': 16943435, 'stop_reason': None, 'refills': None, 'quantity': None, 'days_supply': None, 'sig': None, 'route_concept_id': None, 'lot_number': None, 'provider_id': None, 'visit_occurrence_id': 66252165, 'visit_detail_id': None, 'drug_source_value': 307247, 'drug_source_concept_id': 879455, 'route_source_value': 11722356, 'dose_unit_source_value': None}, {'drug_exposure_id': 3456, 'person_id': 5675534, 'drug_concept_id': 36249642, 'drug_exposure_start_date': '2018-08-04', 'drug_exposure_start_datetime': '2018-08-04 14:05:00+00:00', 'drug_exposure_end_date': '2018-08-04', 'drug_exposure_end_datetime': '2018-08-04 14:05:00+00:00', 'verbatim_end_date': None, 'drug_type_concept_id': 16943435, 'stop_reason': None, 'refills': None, 'quantity': None, 'days_supply': None, 'sig': None, 'route_concept_id': None, 'lot_number': None, 'provider_id': None, 'visit_occurrence_id': 66252165, 'visit_detail_id': None, 'drug_source_value': 307247, 'drug_source_concept_id': 879455, 'route_source_value': 11722356, 'dose_unit_source_value': None}]
2024-04-19 14:54:33,511 INFO sqlalchemy.engine.Engine COMMIT
Data has been successfully loaded into the database.
2024-04-19 14:54:33,514 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 14:54:33,515 INFO sqlalchemy.engine.Engine SELECT * FROM drug_exposure
2024-04-19 14:54:33,515 INFO sqlalchemy.engine.Engine [cached since 2.702e+04s ago] {}
2024-04-19 14:54:33,519 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:

,drug_exposure_id,person_id,drug_concept_id,drug_exposure_start_date,drug_exposure_start_datetime,drug_exposure_end_date,drug_exposure_end_datetime,verbatim_end_date,drug_type_concept_id,stop_reason,...,sig,route_concept_id,lot_number,provider_id,visit_occurrence_id,visit_detail_id,drug_source_value,drug_source_concept_id,route_source_value,dose_unit_source_value
0,3456,5675534,36249642,2018-08-04,2018-08-04 09:05:00,2018-08-04,2018-08-04 09:05:00,None,16943435,None,...,None,None,None,None,66252165,None,307247,879455,11722356,None
1,86043,5675534,36249642,2018-08-22,2018-08-22 01:46:00,2018-08-22,2018-08-22 01:46:00,None,16943435,None,...,None,None,None,None,66252165,None,307247,879455,11722356,None
2,94533,5675534,36249642,2018-08-04,2018-08-04 10:08:00,2018-08-04,2018-08-04 10:08:00,None,16943435,None,...,None,None,None,None,66252165,None,307247,879455,11722356,None
3,156714,1372782,19072176,2020-01-23,2020-01-23 00:00:00,2021-06-17,2021-06-17 09:36:00,None,16943435,None,...,None,None,None,None,66252165,None,301140,14876354,11722356,None
4,156731,1372782,19079524,2020-01-24,2020-01-24 00:00:00,2020-04-11,2020-04-11 09:36:00,None,16943435,None,...,None,None,None,None,66252165,None,306467,14882086,20954437,None
5,156742,1372782,19049106,2020-04-26,2020-04-26 00:00:00,2020-03-23,2020-06-22 19:12:00,None,16943435,None,...,None,None,None,None,66252165,None,191581,14858360,11722356,None
6,156757,1372782,19127952,2020-05-27,2020-05-27 00:00:00,2020-03-23,2020-07-22 09:36:00,None,16943435,None,...,None,None,None,None,66252165,None,742671,14919860,11722356,None
7,156766,1372782,19130823,2020-01-29,2020-01-29 00:00:00,2020-05-07,2020-05-07 09:36:00,None,16943435,None,...,None,None,None,None,66252165,None,793937,14922099,16824594,None
8,156786,1372782,1127433,2020-01-30,2020-01-30 00:00:00,2020-03-26,2020-03-26 09:36:00,None,16943435,None,...,None,None,None,None,66252165,None,307247,879455,11722356,None
9,156828,1372782,40167259,2020-02-02,2020-02-02 00:00:00,2021-12-10,2021-12-10 09:36:00,None,16943435,None,...,None,None,None,None,66252165,None,869658,31330519,11722356,None
10,156881,1372782,19073526,2020-05-06,2020-05-06 00:00:00,2020-04-02,2020-07-01 09:36:00,None,16943435,None,...,None,None,None,None,66252165,None,301816,14877407,20954437,None
11,156940,1372782,42708201,2020-04-11,2020-04-11 00:00:00,2020-04-07,2020-06-06 09:36:00,None,16943435,None,...,None,None,None,None,66252165,None,1237679,33312454,11722356,None
12,157016,1372782,1707348,2020-02-13,2020-02-13 00:00:00,2020-04-09,2020-04-09 09:36:00,None,16943435,None,...,None,None,None,None,66252165,None,305148,1331788,20954437,None

In [77]:
import pandas as pd
csv_file_path = 'cohort/device_exposure.csv'  # Update this to the path of your CSV file
data = pd.read_csv(csv_file_path)

table_name = 'device_exposure'
# schema = 'cdmDatabaseSchema'

# Load the DataFrame into MySQL
data.to_sql(name=table_name, con=engine, if_exists='append', index=False)

print("Data has been successfully loaded into the database.")

query = text(f"SELECT * FROM {table_name}")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
result

2024-04-19 14:54:36,471 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 14:54:36,474 INFO sqlalchemy.engine.Engine DESCRIBE `cdm`.`device_exposure`
2024-04-19 14:54:36,476 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-19 14:54:36,481 INFO sqlalchemy.engine.Engine INSERT INTO device_exposure (device_exposure_id, person_id, device_concept_id, device_exposure_start_date, device_exposure_start_datetime, device_exposure_end_date, device_exposure_end_datetime, device_type_concept_id, unique_device_id, quantity, provider_id, visit_occurrence_id, visit_detail_id, device_source_value, device_source_concept_id) VALUES (%(device_exposure_id)s, %(person_id)s, %(device_concept_id)s, %(device_exposure_start_date)s, %(device_exposure_start_datetime)s, %(device_exposure_end_date)s, %(device_exposure_end_datetime)s, %(device_type_concept_id)s, %(unique_device_id)s, %(quantity)s, %(provider_id)s, %(visit_occurrence_id)s, %(visit_detail_id)s, %(device_source_value)s, %(device_source_concept_id)s)
2024-04-19 14:54:36,482 INFO sqlalchemy.engine.Engine [generated in 0.00084s] [{'device_exposure_id': 12375, 'person_id': 2915590, 'device_concept_id': 44908056, 'device_exposure_start_date': '2017-04-24', 'device_exposure_start_datetime': '2017-04-24 05:34:20+00:00', 'device_exposure_end_date': '2017-07-22', 'device_exposure_end_datetime': '2017-07-22 05:34:45+00:00', 'device_type_concept_id': 0, 'unique_device_id': None, 'quantity': 100.0, 'provider_id': None, 'visit_occurrence_id': 32612.0, 'visit_detail_id': None, 'device_source_value': 118198900.0, 'device_source_concept_id': 38163321.0}, {'device_exposure_id': 467858, 'person_id': 2915590, 'device_concept_id': 44908056, 'device_exposure_start_date': '2017-04-24', 'device_exposure_start_datetime': '2017-04-24 19:15:24+00:00', 'device_exposure_end_date': '2017-07-22', 'device_exposure_end_datetime': '2017-07-22 19:15:34+00:00', 'device_type_concept_id': 0, 'unique_device_id': None, 'quantity': 100.0, 'provider_id': None, 'visit_occurrence_id': 5785612.0, 'visit_detail_id': None, 'device_source_value': 118198900.0, 'device_source_concept_id': 38163321.0}, {'device_exposure_id': 5675, 'person_id': 2915590, 'device_concept_id': 44844102, 'device_exposure_start_date': '2021-11-25', 'device_exposure_start_datetime': '2021-11-25 05:00:00+00:00', 'device_exposure_end_date': None, 'device_exposure_end_datetime': None, 'device_type_concept_id': 0, 'unique_device_id': None, 'quantity': 100.0, 'provider_id': None, 'visit_occurrence_id': None, 'visit_detail_id': None, 'device_source_value': 11841481096.0, 'device_source_concept_id': 38099367.0}, {'device_exposure_id': 28284, 'person_id': 493797, 'device_concept_id': 4224038, 'device_exposure_start_date': '2021-09-09', 'device_exposure_start_datetime': '2021-09-09 17:25:00+00:00', 'device_exposure_end_date': None, 'device_exposure_end_datetime': None, 'device_type_concept_id': 6785, 'unique_device_id': None, 'quantity': None, 'provider_id': None, 'visit_occurrence_id': None, 'visit_detail_id': None, 'device_source_value': 261090688.0, 'device_source_concept_id': 3549565.0}, {'device_exposure_id': 417, 'person_id': 493797, 'device_concept_id': 4097216, 'device_exposure_start_date': '2021-01-08', 'device_exposure_start_datetime': '2021-01-08 20:18:00+00:00', 'device_exposure_end_date': '2021-01-08', 'device_exposure_end_datetime': '2021-01-08 02:04:00+00:00', 'device_type_concept_id': 6785, 'unique_device_id': None, 'quantity': None, 'provider_id': None, 'visit_occurrence_id': 56788.0, 'visit_detail_id': None, 'device_source_value': None, 'device_source_concept_id': None}, {'device_exposure_id': 843098, 'person_id': 2915590, 'device_concept_id': 44844102, 'device_exposure_start_date': '2020-09-14', 'device_exposure_start_datetime': '2020-09-14 04:00:00+00:00', 'device_exposure_end_date': '2022-01-11', 'device_exposure_end_datetime': '2022-01-11 21:16:00+00:00', 'device_type_concept_id': 0, 'unique_device_id': None, 'quantity': None, 'provider_id': None, 'visit_occurrence_id': None, 'visit_detail_id': None, 'device_source_value': 11841481096.0, 'device_source_concept_id': 38099367.0}, {'device_exposure_id': 973871, 'person_id': 493797, 'device_concept_id': 4224038, 'device_exposure_start_date': '2021-01-09', 'device_exposure_start_datetime': '2021-01-09 09:00:00+00:00', 'device_exposure_end_date': '2021-01-14', 'device_exposure_end_datetime': '2021-01-14 23:39:00+00:00', 'device_type_concept_id': 6785, 'unique_device_id': None, 'quantity': None, 'provider_id': None, 'visit_occurrence_id': 3300546.0, 'visit_detail_id': None, 'device_source_value': 261090688.0, 'device_source_concept_id': 3549561.0}, {'device_exposure_id': 432678, 'person_id': 493797, 'device_concept_id': 4224038, 'device_exposure_start_date': '2021-09-09', 'device_exposure_start_datetime': '2021-09-09 18:20:00+00:00', 'device_exposure_end_date': '2023-07-02', 'device_exposure_end_datetime': '2023-07-02 08:45:00+00:00', 'device_type_concept_id': 6785, 'unique_device_id': None, 'quantity': None, 'provider_id': None, 'visit_occurrence_id': 654040.0, 'visit_detail_id': None, 'device_source_value': 261090688.0, 'device_source_concept_id': 3549561.0}]
2024-04-19 14:54:36,486 INFO sqlalchemy.engine.Engine COMMIT
Data has been successfully loaded into the database.
2024-04-19 14:54:36,492 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 14:54:36,493 INFO sqlalchemy.engine.Engine SELECT * FROM device_exposure
2024-04-19 14:54:36,494 INFO sqlalchemy.engine.Engine [cached since 2.677e+04s ago] {}
2024-04-19 14:54:36,501 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:

,device_exposure_id,person_id,device_concept_id,device_exposure_start_date,device_exposure_start_datetime,device_exposure_end_date,device_exposure_end_datetime,device_type_concept_id,unique_device_id,production_id,quantity,provider_id,visit_occurrence_id,visit_detail_id,device_source_value,device_source_concept_id,unit_concept_id,unit_source_value,unit_source_concept_id
0,417,493797,4097216,2021-01-08,2021-01-08 14:18:00,2021-01-08,2021-01-07 20:04:00,6785,None,None,NaN,None,56788.0,None,None,NaN,None,None,None
1,5675,2915590,44844102,2021-11-25,2021-11-24 23:00:00,None,NaT,0,None,None,100.0,None,NaN,None,11841481096.0,38099367.0,None,None,None
2,12375,2915590,44908056,2017-04-24,2017-04-24 00:34:20,2017-07-22,2017-07-22 00:34:45,0,None,None,100.0,None,32612.0,None,118198900.0,38163321.0,None,None,None
3,28284,493797,4224038,2021-09-09,2021-09-09 12:25:00,None,NaT,6785,None,None,NaN,None,NaN,None,261090688.0,3549565.0,None,None,None
4,432678,493797,4224038,2021-09-09,2021-09-09 13:20:00,2023-07-02,2023-07-02 03:45:00,6785,None,None,NaN,None,654040.0,None,261090688.0,3549561.0,None,None,None
5,467858,2915590,44908056,2017-04-24,2017-04-24 14:15:24,2017-07-22,2017-07-22 14:15:34,0,None,None,100.0,None,5785612.0,None,118198900.0,38163321.0,None,None,None
6,843098,2915590,44844102,2020-09-14,2020-09-13 23:00:00,2022-01-11,2022-01-11 15:16:00,0,None,None,NaN,None,NaN,None,11841481096.0,38099367.0,None,None,None
7,973871,493797,4224038,2021-01-09,2021-01-09 03:00:00,2021-01-14,2021-01-14 17:39:00,6785,None,None,NaN,None,3300546.0,None,261090688.0,3549561.0,None,None,None

In [103]:
import pandas as pd
csv_file_path = 'cohort/concept.csv'  # Update this to the path of your CSV file
data = pd.read_csv(csv_file_path)

table_name = 'concept'
# schema = 'cdmDatabaseSchema'

# Load the DataFrame into MySQL
data.to_sql(name=table_name, con=engine, if_exists='append', index=False)

print("Data has been successfully loaded into the database.")

query = text(f"SELECT * FROM {table_name}")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
result

2024-04-19 15:48:08,729 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 15:48:08,751 INFO sqlalchemy.engine.Engine DESCRIBE `cdm`.`concept`
2024-04-19 15:48:08,752 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-19 15:48:08,814 INFO sqlalchemy.engine.Engine INSERT INTO concept (concept_id, concept_name, domain_id, vocabulary_id, concept_class_id, standard_concept, concept_code, valid_start_date, valid_end_date, invalid_reason) VALUES (%(concept_id)s, %(concept_name)s, %(domain_id)s, %(vocabulary_id)s, %(concept_class_id)s, %(standard_concept)s, %(concept_code)s, %(valid_start_date)s, %(valid_end_date)s, %(invalid_reason)s)
2024-04-19 15:48:08,815 INFO sqlalchemy.engine.Engine [generated in 0.02736s] [{'concept_id': 8524, 'concept_name': 'Outpatient Visit', 'domain_id': 'Visit', 'vocabulary_id': 'Visit', 'concept_class_id': 'Visit', 'standard_concept': 'S', 'concept_code': 'OP', 'valid_start_date': '2015-07-26', 'valid_end_date': '2048-02-02', 'invalid_reason': None}, {'concept_id': 29895174, 'concept_name': 'budesonide 3 MG Delayed Release Oral Capsule', 'domain_id': 'Drug', 'vocabulary_id': 'RxNorm', 'concept_class_id': 'Clinical Drug', 'standard_concept': 'S', 'concept_code': '1244214', 'valid_start_date': '2018-11-29', 'valid_end_date': '2056-07-24', 'invalid_reason': None}, {'concept_id': 3056756, 'concept_name': 'Sodium [Moles/volume] in Venous blood', 'domain_id': 'Measurement', 'vocabulary_id': 'LOINC', 'concept_class_id': 'Lab Test', 'standard_concept': 'S', 'concept_code': '39791-9', 'valid_start_date': '2008-08-02', 'valid_end_date': '2039-12-15', 'invalid_reason': None}, {'concept_id': 2759786, 'concept_name': 'Not for resuscitation', 'domain_id': 'Observation', 'vocabulary_id': 'SNOMED', 'concept_class_id': 'Clinical Finding', 'standard_concept': 'S', 'concept_code': '304253006', 'valid_start_date': '2006-07-26', 'valid_end_date': '2034-04-18', 'invalid_reason': None}, {'concept_id': 678546, 'concept_name': 'PMI: Skip', 'domain_id': 'Observation', 'vocabulary_id': 'PPI', 'concept_class_id': 'Answer', 'standard_concept': 'S', 'concept_code': 'PMI_Skip', 'valid_start_date': '2022-02-05', 'valid_end_date': '2058-08-20', 'invalid_reason': None}, {'concept_id': 3027172, 'concept_name': 'Left ventricular Ejection fraction', 'domain_id': 'Measurement', 'vocabulary_id': 'LOINC', 'concept_class_id': 'Lab Test', 'standard_concept': 'S', 'concept_code': '39791-9', 'valid_start_date': '2008-08-02', 'valid_end_date': '2039-12-15', 'invalid_reason': None}, {'concept_id': 196152, 'concept_name': 'Peritonitis', 'domain_id': 'Condition', 'vocabulary_id': 'LOINC', 'concept_class_id': 'Lab Test', 'standard_concept': 'S', 'concept_code': '39791-10', 'valid_start_date': '2008-08-03', 'valid_end_date': '2039-12-16', 'invalid_reason': None}, {'concept_id': 4281826, 'concept_name': 'Lymphocytosis', 'domain_id': 'Condition', 'vocabulary_id': 'LOINC', 'concept_class_id': 'Lab Test', 'standard_concept': 'S', 'concept_code': '39791-11', 'valid_start_date': '2008-08-04', 'valid_end_date': '2039-12-17', 'invalid_reason': None}  ... displaying 10 of 51 total bound parameter sets ...  {'concept_id': 2732505, 'concept_name': 'Dilation of Left Anterior Tibial Artery, Percu...', 'domain_id': 'Procedure', 'vocabulary_id': 'ICD10PCS', 'concept_class_id': 'ICD10PCS', 'standard_concept': 'S', 'concept_code': '047Q3ZZ', 'valid_start_date': '2014-04-22', 'valid_end_date': '2099-12-31', 'invalid_reason': None}, {'concept_id': 2788717, 'concept_name': 'Transfusion of Nonautologous Red Blood Cells i...', 'domain_id': 'Procedure', 'vocabulary_id': 'ICD10PCS', 'concept_class_id': 'ICD10PCS', 'standard_concept': 'S', 'concept_code': '30233N1', 'valid_start_date': '2014-04-22', 'valid_end_date': '2099-12-31', 'invalid_reason': None}]
2024-04-19 15:48:08,832 INFO sqlalchemy.engine.Engine COMMIT
Data has been successfully loaded into the database.
2024-04-19 15:48:08,836 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 15:48:08,837 INFO sqlalchemy.engine.Engine SELECT * FROM concept
2024-04-19 15:48:08,837 INFO sqlalchemy.engine.Engine [cached since 2.992e+04s ago] {}
2024-04-19 15:48:08,841 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
0,262,Emergency Room and Inpatient Visit,Visit,Visit,Visit,S,ERIP,1970-01-01,2099-12-31,None
1,8516,White,race,R,x,s,1801294,2016-08-02,2100-01-01,None
2,8524,Outpatient Visit,Visit,Visit,Visit,S,OP,2015-07-26,2048-02-02,None
3,8717,Inpatient Hospital,Visit,CMS Place of Service,Visit,S,21,1970-01-01,2099-12-31,None
4,9202,Outpatient Visit,Visit,Visit,Visit,S,OP,1970-01-01,2099-12-31,None
5,32817,EHR,Type Concept,Type Concept,Type Concept,S,OMOP4976890,2020-08-20,2099-12-31,None
6,66754,Black Or African American,race,s,s,s,1801294,2016-08-03,2100-01-02,None
7,193782,End-stage renal disease,Condition,LOINC,Lab Test,S,39791-17,2008-08-10,2039-12-23,None
8,196152,Peritonitis,Condition,LOINC,Lab Test,S,39791-10,2008-08-03,2039-12-16,None
9,197596,Toxic gastroenteritis,Condition,LOINC,Lab Test,S,39791-16,2008-08-09,2039-12-22,None
10,317577,Arteriosclerotic gangrene,Condition,LOINC,Lab Test,S,39791-14,2008-08-07,2039-12-20,None
11,319835,Congestive heart failure,Condition,SNOMED,Clinical Finding,S,42343007,2002-01-31,2099-12-31,None
12,434004,Hypervolemia,Condition,LOINC,Lab Test,S,39791-15,2008-08-08,2039-12-21,None
13,678546,PMI: Skip,Observation,PPI,Answer,S,PMI_Skip,2022-02-05,2058-08-20,None
14,1127433,acetaminophen 325 MG Oral Tablet,Drug,LOINC,Lab Test,S,39791-26,2008-08-19,2040-01-01,None
15,1707348,100 ML metronidazole 5 MG/ML Injection,Drug,LOINC,Lab Test,S,39791-21,2008-08-14,2039-12-27,None
16,2732505,"Dilation of Left Anterior Tibial Artery, Percu...",Procedure,ICD10PCS,ICD10PCS,S,047Q3ZZ,2014-04-22,2099-12-31,None
17,2746520,"Excision of Upper Esophagus, Via Natural or Ar...",Procedure,ICD10PCS,ICD10PCS,S,0DB18ZX,2014-04-22,2099-12-31,None
18,2746773,"Excision of Stomach, Via Natural or Artificial...",Procedure,ICD10PCS,ICD10PCS,S,0DB68ZX,2014-04-22,2099-12-31,None
19,2746803,"Excision of Duodenum, Via Natural or Artificia...",Procedure,ICD10PCS,ICD10PCS,S,0DB98ZX,2014-04-22,2099-12-31,None
20,2747017,"Excision of Ileum, Via Natural or Artificial O...",Procedure,ICD10PCS,ICD10PCS,S,0DBB8ZX,2014-04-22,2099-12-31,None
21,2747274,"Excision of Ascending Colon, Via Natural or Ar...",Procedure,ICD10PCS,ICD10PCS,S,0DBK8ZX,2014-04-22,2099-12-31,None
22,2749338,"Inspection of Peritoneum, Percutaneous Endosco...",Procedure,ICD10PCS,ICD10PCS,S,0DJW4ZZ,2014-04-22,2099-12-31,None
23,2759786,Not for resuscitation,Observation,SNOMED,Clinical Finding,S,304253006,2006-07-26,2034-04-18,None
24,2788126,Fluoroscopy of Right Lower Extremity Arteries ...,Procedure,ICD10PCS,ICD10PCS,S,B41FYZZ,2014-04-22,2099-12-31,None
25,2788717,Transfusion of Nonautologous Red Blood Cells i...,Procedure,ICD10PCS,ICD10PCS,S,30233N1,2014-04-22,2099-12-31,None
26,3023103,Potassium [Moles/volume] in Serum or Plasma,Measurement,LOINC,Lab Test,S,2823-3,1970-01-01,2099-12-31,None
27,3027172,Left ventricular Ejection fraction,Measurement,LOINC,Lab Test,S,39791-9,2008-08-02,2039-12-15,None
28,3056756,Sodium [Moles/volume] in Venous blood,Measurement,LOINC,Lab Test,S,39791-9,2008-08-02,2039-12-15,None
29,4097216,Endotracheal tube,Device,SNOMED,Physical Object,S,26412008,2002-01-31,2099-12-31,None
30,4224038,Oxygen nasal cannula,Device,SNOMED,Physical Object,S,336623009,2002-01-31,2099-12-31,None
31,4281826,Lymphocytosis,Condition,LOINC,Lab Test,S,39791-11,2008-08-04,2039-12-17,None
32,4302381,Physical restraint,Procedure,SNOMED,Procedure,S,386423001,2003-01-31,2099-12-31,None
33,19049106,potassium chloride 20 MEQ Extended Release Ora...,Drug,LOINC,Lab Test,S,39791-19,2008-08-12,2039-12-25,None
34,19072176,acetaminophen 32 MG/ML Oral Solution,Drug,LOINC,Lab Test,S,39791-20,2008-08-13,2039-12-26,None
35,19073526,2.5 ML argatroban 100 MG/ML Injection,Drug,LOINC,Lab Test,S,39791-25,2008-08-18,2039-12-31,None
36,19079524,odium chloride 9 MG/ML Injectable Solution,Drug,LOINC,Lab Test,S,39791-24,2008-08-17,2039-12-30,None
37,19127952,sevelamer carbonate 800 MG Oral Tablet,Drug,LOINC,Lab Test,S,39791-22,2008-08-15,2039-12-28,None
38,29895174,budesonide 3 MG Delayed Release Oral Capsule,Drug,RxNorm,Clinical Drug,S,1244214,2018-11-29,2056-07-24,None
39,36249642,Microencapsulated potassium chloride 20 MEQ Ex...,Drug,RxNorm,Clinical Drug,S,1801294,2016-08-01,2099-12-31,None
40,37049300,Low osmolar contrast material,x,x,x,x,1,2016-08-05,2100-01-04,None
41,37110250,Atherosclerosis of artery of lower limb,Condition,LOINC,Lab Test,S,39791-13,2008-08-06,2039-12-19,None
42,40167259,polyethylene glycol 3350 17000 MG Powder for O...,Drug,LOINC,Lab Test,S,39791-23,2008-08-16,2039-12-29,None
43,41312805,male,person,x,x,x,39791-28,2008-08-21,2040-01-03,None
44,42708201,budesonide 3 MG Delayed Release Oral Capsule,Drug,LOINC,Lab Test,S,39791-18,2008-08-11,2039-12-24,None
45,44818518,Visit derived from EHR record,Type Concept,Visit Type,Visit Type,None,OMOP4822464,1970-01-01,2099-12-31,None
46,44844102,TRUEPLUS ULTRA THIN 30G LANCET,Device,NDC,Device,S,11917013417,2013-08-05,2099-12-31,None
47,44908056,CONTOUR NEXT STRIPS,Device,NDC,Device,S,193731221,2013-08-05,2099-12-31,None
48,45016441,NYSTATIN 150 MILLION UNITS PWD,Drug,NDC,11-digit NDC,None,39822090003,2013-08-05,2099-12-31,None
49,1099923437,Asian,race,s,s,s,1801294,2016-08-04,2100-01-03,None
50,1995432138,Female,person,x,x,x,39791-27,2008-08-20,2040-01-02,None

In [83]:
import pandas as pd
csv_file_path = 'cohort/measurement.csv'  # Update this to the path of your CSV file
data = pd.read_csv(csv_file_path)

table_name = 'measurement'
# schema = 'cdmDatabaseSchema'

# Load the DataFrame into MySQL
data.to_sql(name=table_name, con=engine, if_exists='append', index=False)

print("Data has been successfully loaded into the database.")

query = text(f"SELECT * FROM {table_name}")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
result

2024-04-19 15:03:49,123 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 15:03:49,161 INFO sqlalchemy.engine.Engine DESCRIBE `cdm`.`measurement`
2024-04-19 15:03:49,167 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-19 15:03:49,227 INFO sqlalchemy.engine.Engine INSERT INTO measurement (measurement_id, person_id, measurement_concept_id, measurement_date, measurement_datetime, measurement_time, measurement_type_concept_id, operator_concept_id, value_as_number, value_as_concept_id, unit_concept_id, range_low, range_high, provider_id, visit_occurrence_id, visit_detail_id, measurement_source_value, measurement_source_concept_id, unit_source_value, value_source_value) VALUES (%(measurement_id)s, %(person_id)s, %(measurement_concept_id)s, %(measurement_date)s, %(measurement_datetime)s, %(measurement_time)s, %(measurement_type_concept_id)s, %(operator_concept_id)s, %(value_as_number)s, %(value_as_concept_id)s, %(unit_concept_id)s, %(range_low)s, %(range_high)s, %(provider_id)s, %(visit_occurrence_id)s, %(visit_detail_id)s, %(measurement_source_value)s, %(measurement_source_concept_id)s, %(unit_source_value)s, %(value_source_value)s)
2024-04-19 15:03:49,228 INFO sqlalchemy.engine.Engine [generated in 0.00152s] [{'measurement_id': 9072310, 'person_id': 4155869, 'measurement_concept_id': 3027172, 'measurement_date': '2023-11-20', 'measurement_datetime': '2023-11-20 12:51:00', 'measurement_time': None, 'measurement_type_concept_id': 3026494, 'operator_concept_id': None, 'value_as_number': 65.0, 'value_as_concept_id': None, 'unit_concept_id': 2072, 'range_low': None, 'range_high': None, 'provider_id': None, 'visit_occurrence_id': 155558890, 'visit_detail_id': None, 'measurement_source_value': '2023-1', 'measurement_source_concept_id': 3026494, 'unit_source_value': '%', 'value_source_value': None}, {'measurement_id': 15946070, 'person_id': 4560103, 'measurement_concept_id': 3027172, 'measurement_date': '2022-03-02', 'measurement_datetime': '2022-03-02 11:50:00', 'measurement_time': None, 'measurement_type_concept_id': 3026494, 'operator_concept_id': None, 'value_as_number': 72.5, 'value_as_concept_id': None, 'unit_concept_id': 2072, 'range_low': None, 'range_high': None, 'provider_id': None, 'visit_occurrence_id': 122109290, 'visit_detail_id': None, 'measurement_source_value': '2023-1', 'measurement_source_concept_id': 3026494, 'unit_source_value': '%', 'value_source_value': None}, {'measurement_id': 612700, 'person_id': 11549211, 'measurement_concept_id': 3027172, 'measurement_date': '2020-12-15', 'measurement_datetime': '2020-12-15 13:55:00', 'measurement_time': None, 'measurement_type_concept_id': 44818024, 'operator_concept_id': 0.0, 'value_as_number': 56.0, 'value_as_concept_id': None, 'unit_concept_id': 2072, 'range_low': None, 'range_high': None, 'provider_id': None, 'visit_occurrence_id': 284959, 'visit_detail_id': None, 'measurement_source_value': '2023-1', 'measurement_source_concept_id': 3026494, 'unit_source_value': '%', 'value_source_value': None}, {'measurement_id': 16767460, 'person_id': 3226358, 'measurement_concept_id': 3027172, 'measurement_date': '2021-12-21', 'measurement_datetime': '2022-01-21 16:33:00', 'measurement_time': None, 'measurement_type_concept_id': 3026494, 'operator_concept_id': None, 'value_as_number': 66.5, 'value_as_concept_id': None, 'unit_concept_id': 2072, 'range_low': None, 'range_high': None, 'provider_id': None, 'visit_occurrence_id': 100051320, 'visit_detail_id': None, 'measurement_source_value': '2023-1', 'measurement_source_concept_id': 3026494, 'unit_source_value': '%', 'value_source_value': None}, {'measurement_id': 7765980, 'person_id': 1996097, 'measurement_concept_id': 3027172, 'measurement_date': '2023-02-05', 'measurement_datetime': '2023-03-06 18:54:00', 'measurement_time': None, 'measurement_type_concept_id': 44818024, 'operator_concept_id': 4172703.0, 'value_as_number': 35.0, 'value_as_concept_id': None, 'unit_concept_id': 2072, 'range_low': None, 'range_high': None, 'provider_id': None, 'visit_occurrence_id': 154203030, 'visit_detail_id': None, 'measurement_source_value': '2023-1', 'measurement_source_concept_id': 3026494, 'unit_source_value': '%', 'value_source_value': None}, {'measurement_id': 459800, 'person_id': 2217111, 'measurement_concept_id': 3027172, 'measurement_date': '2022-04-07', 'measurement_datetime': '2022-04-07 13:32:00', 'measurement_time': None, 'measurement_type_concept_id': 3026494, 'operator_concept_id': None, 'value_as_number': 14.0, 'value_as_concept_id': None, 'unit_concept_id': 2072, 'range_low': None, 'range_high': None, 'provider_id': None, 'visit_occurrence_id': 144636930, 'visit_detail_id': None, 'measurement_source_value': '2023-1', 'measurement_source_concept_id': 3026494, 'unit_source_value': '%', 'value_source_value': None}, {'measurement_id': 11178500, 'person_id': 5609338, 'measurement_concept_id': 3027172, 'measurement_date': '2022-10-22', 'measurement_datetime': '2022-10-22 15:05:00', 'measurement_time': None, 'measurement_type_concept_id': 3026494, 'operator_concept_id': None, 'value_as_number': 0.0, 'value_as_concept_id': None, 'unit_concept_id': 2072, 'range_low': None, 'range_high': None, 'provider_id': None, 'visit_occurrence_id': 149597720, 'visit_detail_id': None, 'measurement_source_value': '2023-1', 'measurement_source_concept_id': 3026494, 'unit_source_value': '%', 'value_source_value': None}, {'measurement_id': 7298130, 'person_id': 1874170, 'measurement_concept_id': 3027172, 'measurement_date': '2019-12-21', 'measurement_datetime': '2019-12-22 14:09:05', 'measurement_time': None, 'measurement_type_concept_id': 3026494, 'operator_concept_id': None, 'value_as_number': 63.2, 'value_as_concept_id': None, 'unit_concept_id': 2072, 'range_low': None, 'range_high': None, 'provider_id': None, 'visit_occurrence_id': 5263240, 'visit_detail_id': None, 'measurement_source_value': '2023-1', 'measurement_source_concept_id': 3026494, 'unit_source_value': '%', 'value_source_value': None}  ... displaying 10 of 16 total bound parameter sets ...  {'measurement_id': 435677, 'person_id': 5675534, 'measurement_concept_id': 3023103, 'measurement_date': '2018-08-22', 'measurement_datetime': '2018-08-22 07:27:00+00:00', 'measurement_time': None, 'measurement_type_concept_id': 44818702, 'operator_concept_id': 4172703.0, 'value_as_number': 4.4, 'value_as_concept_id': None, 'unit_concept_id': 8753, 'range_low': 3.5, 'range_high': 5.1, 'provider_id': None, 'visit_occurrence_id': 22357735, 'visit_detail_id': None, 'measurement_source_value': '2823-3', 'measurement_source_concept_id': 3023103, 'unit_source_value': 'mmol/L', 'value_source_value': None}, {'measurement_id': 6435436, 'person_id': 5675534, 'measurement_concept_id': 3023103, 'measurement_date': '2018-08-21', 'measurement_datetime': '2018-08-21 10:59:00+00:00', 'measurement_time': None, 'measurement_type_concept_id': 32489, 'operator_concept_id': 4172703.0, 'value_as_number': 3.8, 'value_as_concept_id': None, 'unit_concept_id': 8753, 'range_low': 3.5, 'range_high': 5.1, 'provider_id': None, 'visit_occurrence_id': 15517735, 'visit_detail_id': None, 'measurement_source_value': '2823-3', 'measurement_source_concept_id': 3023103, 'unit_source_value': 'mmol/L', 'value_source_value': None}]
2024-04-19 15:03:49,249 INFO sqlalchemy.engine.Engine COMMIT
Data has been successfully loaded into the database.
2024-04-19 15:03:49,260 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 15:03:49,263 INFO sqlalchemy.engine.Engine SELECT * FROM measurement
2024-04-19 15:03:49,266 INFO sqlalchemy.engine.Engine [cached since 2.712e+04s ago] {}
2024-04-19 15:03:49,289 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:

,measurement_id,person_id,measurement_concept_id,measurement_date,measurement_datetime,measurement_time,measurement_type_concept_id,operator_concept_id,value_as_number,value_as_concept_id,...,provider_id,visit_occurrence_id,visit_detail_id,measurement_source_value,measurement_source_concept_id,unit_source_value,unit_source_concept_id,value_source_value,measurement_event_id,meas_event_field_concept_id
0,58776,5675534,3023103,2017-01-01,2016-12-31 20:40:00,None,44818702,4172703.0,4.0,None,...,None,12504473,None,2823-3,3023103,mmol/L,None,None,None,None
1,74577,5675534,3023103,2018-08-07,2018-08-07 02:38:00,None,44818702,4172703.0,4.2,None,...,None,68704051,None,2823-3,3023103,mmol/L,None,None,None,None
2,435677,5675534,3023103,2018-08-22,2018-08-22 02:27:00,None,44818702,4172703.0,4.4,None,...,None,22357735,None,2823-3,3023103,mmol/L,None,None,None,None
3,459800,2217111,3027172,2022-04-07,2022-04-07 13:32:00,None,3026494,NaN,14.0,None,...,None,144636930,None,2023-1,3026494,%,None,None,None,None
4,612700,11549211,3027172,2020-12-15,2020-12-15 13:55:00,None,44818024,0.0,56.0,None,...,None,284959,None,2023-1,3026494,%,None,None,None,None
5,3475780,5675534,3023103,2018-08-20,2018-08-20 03:36:00,None,44818702,4172703.0,3.8,None,...,None,56640292,None,2823-3,3023103,mmol/L,None,None,None,None
6,5688646,5675534,3023103,2018-08-04,2018-08-04 07:06:00,None,32489,4172703.0,3.1,None,...,None,704051,None,2823-3,3023103,mmol/L,None,None,None,None
7,6151470,1749910,3027172,2023-09-17,2023-09-17 13:22:00,None,3026494,NaN,0.0,None,...,None,146059710,None,2023-1,3026494,%,None,None,None,None
8,6435436,5675534,3023103,2018-08-21,2018-08-21 05:59:00,None,32489,4172703.0,3.8,None,...,None,15517735,None,2823-3,3023103,mmol/L,None,None,None,None
9,7298130,1874170,3027172,2019-12-21,2019-12-22 14:09:05,None,3026494,NaN,63.2,None,...,None,5263240,None,2023-1,3026494,%,None,None,None,None
10,7765980,1996097,3027172,2023-02-05,2023-03-06 18:54:00,None,44818024,4172703.0,35.0,None,...,None,154203030,None,2023-1,3026494,%,None,None,None,None
11,9072310,4155869,3027172,2023-11-20,2023-11-20 12:51:00,None,3026494,NaN,65.0,None,...,None,155558890,None,2023-1,3026494,%,None,None,None,None
12,11178500,5609338,3027172,2022-10-22,2022-10-22 15:05:00,None,3026494,NaN,0.0,None,...,None,149597720,None,2023-1,3026494,%,None,None,None,None
13,14547850,2725534,3027172,2022-06-29,2023-07-01 21:58:00,None,3026494,NaN,48.5,None,...,None,119279820,None,2023-1,3026494,%,None,None,None,None
14,15946070,4560103,3027172,2022-03-02,2022-03-02 11:50:00,None,3026494,NaN,72.5,None,...,None,122109290,None,2023-1,3026494,%,None,None,None,None
15,16767460,3226358,3027172,2021-12-21,2022-01-21 16:33:00,None,3026494,NaN,66.5,None,...,None,100051320,None,2023-1,3026494,%,None,None,None,None

In [106]:
import pandas as pd
csv_file_path = 'cohort/procedure_occurrence.csv'  # Update this to the path of your CSV file
data = pd.read_csv(csv_file_path)

table_name = 'procedure_occurrence'
# schema = 'cdmDatabaseSchema'

# Load the DataFrame into MySQL
data.to_sql(name=table_name, con=engine, if_exists='append', index=False)

print("Data has been successfully loaded into the database.")

query = text(f"SELECT * FROM {table_name}")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
result

2024-04-19 15:55:48,152 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 15:55:48,171 INFO sqlalchemy.engine.Engine DESCRIBE `cdm`.`procedure_occurrence`
2024-04-19 15:55:48,172 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-19 15:55:48,223 INFO sqlalchemy.engine.Engine INSERT INTO procedure_occurrence (procedure_occurrence_id, person_id, procedure_concept_id, procedure_date, procedure_datetime, procedure_type_concept_id, modifier_concept_id, quantity, provider_id, visit_occurrence_id, visit_detail_id, procedure_source_value, procedure_source_concept_id, modifier_source_value) VALUES (%(procedure_occurrence_id)s, %(person_id)s, %(procedure_concept_id)s, %(procedure_date)s, %(procedure_datetime)s, %(procedure_type_concept_id)s, %(modifier_concept_id)s, %(quantity)s, %(provider_id)s, %(visit_occurrence_id)s, %(visit_detail_id)s, %(procedure_source_value)s, %(procedure_source_concept_id)s, %(modifier_source_value)s)
2024-04-19 15:55:48,225 INFO sqlalchemy.engine.Engine [generated in 0.00162s] [{'procedure_occurrence_id': 26955, 'person_id': 1861428, 'procedure_concept_id': 2747274, 'procedure_date': '2020-02-27', 'procedure_datetime': '2020-02-27 0:00:00', 'procedure_type_concept_id': 36429305, 'modifier_concept_id': 0, 'quantity': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'procedure_source_value': '0DBK8ZX', 'procedure_source_concept_id': 2747274, 'modifier_source_value': 'No matching concept'}, {'procedure_occurrence_id': 84354, 'person_id': 1861428, 'procedure_concept_id': 2747017, 'procedure_date': '2020-02-27', 'procedure_datetime': '2020-02-27 0:00:00', 'procedure_type_concept_id': 36429305, 'modifier_concept_id': 0, 'quantity': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'procedure_source_value': '0DBB8ZX', 'procedure_source_concept_id': 2747017, 'modifier_source_value': 'No matching concept'}, {'procedure_occurrence_id': 30589, 'person_id': 1861428, 'procedure_concept_id': 2732505, 'procedure_date': '2020-03-09', 'procedure_datetime': '2020-03-09 0:00:00', 'procedure_type_concept_id': 36429305, 'modifier_concept_id': 0, 'quantity': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'procedure_source_value': '047Q3ZZ', 'procedure_source_concept_id': 2732505, 'modifier_source_value': 'No matching concept'}, {'procedure_occurrence_id': 43885, 'person_id': 1861428, 'procedure_concept_id': 2788717, 'procedure_date': '2020-03-11', 'procedure_datetime': '2020-03-11 0:00:00', 'procedure_type_concept_id': 36429305, 'modifier_concept_id': 0, 'quantity': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'procedure_source_value': '30233N1', 'procedure_source_concept_id': 2788717, 'modifier_source_value': 'No matching concept'}, {'procedure_occurrence_id': 58054, 'person_id': 1861428, 'procedure_concept_id': 2749338, 'procedure_date': '2020-03-14', 'procedure_datetime': '2020-03-14 0:00:00', 'procedure_type_concept_id': 36429305, 'modifier_concept_id': 0, 'quantity': None, 'provider_id': None, 'visit_occurrence_id': 8790700, 'visit_detail_id': None, 'procedure_source_value': '0DJW4ZZ', 'procedure_source_concept_id': 2749338, 'modifier_source_value': 'No matching concept'}, {'procedure_occurrence_id': 38182, 'person_id': 1861428, 'procedure_concept_id': 2788126, 'procedure_date': '2020-03-09', 'procedure_datetime': '2020-03-09 0:00:00', 'procedure_type_concept_id': 36429305, 'modifier_concept_id': 0, 'quantity': None, 'provider_id': None, 'visit_occurrence_id': 8790700, 'visit_detail_id': None, 'procedure_source_value': 'B41FYZZ', 'procedure_source_concept_id': 2788126, 'modifier_source_value': 'No matching concept'}, {'procedure_occurrence_id': 11289, 'person_id': 1861428, 'procedure_concept_id': 2746520, 'procedure_date': '2020-02-27', 'procedure_datetime': '2020-02-27 0:00:00', 'procedure_type_concept_id': 36429305, 'modifier_concept_id': 0, 'quantity': None, 'provider_id': None, 'visit_occurrence_id': 8790700, 'visit_detail_id': None, 'procedure_source_value': '0DB18ZX', 'procedure_source_concept_id': 2746520, 'modifier_source_value': 'No matching concept'}, {'procedure_occurrence_id': 11443, 'person_id': 1861428, 'procedure_concept_id': 2746773, 'procedure_date': '2020-02-27', 'procedure_datetime': '2020-02-27 0:00:00', 'procedure_type_concept_id': 36429305, 'modifier_concept_id': 0, 'quantity': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'procedure_source_value': '0DB68ZX', 'procedure_source_concept_id': 2746773, 'modifier_source_value': 'No matching concept'}, {'procedure_occurrence_id': 34474, 'person_id': 1861428, 'procedure_concept_id': 2746803, 'procedure_date': '2020-02-27', 'procedure_datetime': '2020-02-27 0:00:00', 'procedure_type_concept_id': 36429305, 'modifier_concept_id': 0, 'quantity': None, 'provider_id': None, 'visit_occurrence_id': 66217400, 'visit_detail_id': None, 'procedure_source_value': '0DB98ZX', 'procedure_source_concept_id': 2746803, 'modifier_source_value': 'No matching concept'}]
2024-04-19 15:55:48,244 INFO sqlalchemy.engine.Engine COMMIT
Data has been successfully loaded into the database.
2024-04-19 15:55:48,250 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 15:55:48,252 INFO sqlalchemy.engine.Engine SELECT * FROM procedure_occurrence
2024-04-19 15:55:48,255 INFO sqlalchemy.engine.Engine [cached since 3.009e+04s ago] {}
2024-04-19 15:55:48,272 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:

,procedure_occurrence_id,person_id,procedure_concept_id,procedure_date,procedure_datetime,procedure_end_date,procedure_end_datetime,procedure_type_concept_id,modifier_concept_id,quantity,provider_id,visit_occurrence_id,visit_detail_id,procedure_source_value,procedure_source_concept_id,modifier_source_value
0,11289,1861428,2746520,2020-02-27,2020-02-27,None,None,36429305,0,None,None,8790700,None,0DB18ZX,2746520,No matching concept
1,11443,1861428,2746773,2020-02-27,2020-02-27,None,None,36429305,0,None,None,66217400,None,0DB68ZX,2746773,No matching concept
2,26955,1861428,2747274,2020-02-27,2020-02-27,None,None,36429305,0,None,None,66217400,None,0DBK8ZX,2747274,No matching concept
3,30589,1861428,2732505,2020-03-09,2020-03-09,None,None,36429305,0,None,None,66217400,None,047Q3ZZ,2732505,No matching concept
4,34474,1861428,2746803,2020-02-27,2020-02-27,None,None,36429305,0,None,None,66217400,None,0DB98ZX,2746803,No matching concept
5,38182,1861428,2788126,2020-03-09,2020-03-09,None,None,36429305,0,None,None,8790700,None,B41FYZZ,2788126,No matching concept
6,43885,1861428,2788717,2020-03-11,2020-03-11,None,None,36429305,0,None,None,66217400,None,30233N1,2788717,No matching concept
7,58054,1861428,2749338,2020-03-14,2020-03-14,None,None,36429305,0,None,None,8790700,None,0DJW4ZZ,2749338,No matching concept
8,84354,1861428,2747017,2020-02-27,2020-02-27,None,None,36429305,0,None,None,66217400,None,0DBB8ZX,2747017,No matching concept

In [62]:
## Insert all the data

import pandas as pd
from sqlalchemy import create_engine, exc
import os
directory_path = './cohort/'
csv_files = [f for f in os.listdir(directory_path) if f.endswith('.csv')]
print(csv_files)
# Loop through the CSV files and load each one into the corresponding MySQL table
for file_name in csv_files:
    table_name = file_name[:-4]  # Remove the '.csv' part to get the table name
    csv_file_path = os.path.join(directory_path, file_name)
    
    try:
        print(f'Loading data from {table_name}')
        # Read the CSV file into a DataFrame
        data = pd.read_csv(csv_file_path)

        # Convert NaT in datetime columns to None (if applicable)
        datetime_columns = data.select_dtypes(include=['datetime']).columns
        data[datetime_columns] = data[datetime_columns].where(data[datetime_columns].notna(), None)

        # Load the DataFrame into MySQL
        data.to_sql(name=table_name, con=engine, if_exists='append', index=False)
        print(f"Data from {file_name} has been successfully loaded into the {table_name} table in the database.")
    
    except exc.IntegrityError as e:
        print(f"IntegrityError: {e}. Skipping duplicate entries for {table_name}.")
    except Exception as e:
        print(f"An error occurred with {table_name}: {e}")

print("All data has been loaded into the database.")

['drug_exposure.csv', 'device_exposure.csv', 'concept.csv', 'measurement.csv', 'condition_occurrence.csv', 'visit_occurrence.csv', 'person.csv', 'observation.csv', 'procedure_occurrence.csv']
Loading data from drug_exposure
2024-04-19 14:51:13,171 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 14:51:13,215 INFO sqlalchemy.engine.Engine DESCRIBE `cdm`.`drug_exposure`
2024-04-19 14:51:13,217 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-19 14:51:13,305 INFO sqlalchemy.engine.Engine INSERT INTO drug_exposure (drug_exposure_id, person_id, drug_concept_id, drug_exposure_start_date, drug_exposure_start_datetime, drug_exposure_end_date, drug_exposure_end_datetime, verbatim_end_date, drug_type_concept_id, stop_reason, refills, quantity, days_supply, sig, route_concept_id, lot_number, provider_id, visit_occurrence_id, visit_detail_id, drug_source_value, drug_source_concept_id, route_source_value, dose_unit_source_value) VALUES (%(drug_exposure_id)s, %(person_id)s, %(drug_concept_id)s, %(drug_exposure_start_date)s, %(drug_exposure_start_datetime)s, %(drug_exposure_end_date)s, %(drug_exposure_end_datetime)s, %(verbatim_end_date)s, %(drug_type_concept_id)s, %(stop_reason)s, %(refills)s, %(quantity)s, %(days_supply)s, %(sig)s, %(route_concept_id)s, %(lot_number)s, %(provider_id)s, %(visit_occurrence_id)s, %(visit_detail_id)s, %(drug_source_value)s, %(drug_source_concept_id)s, %(route_source_value)s, %(dose_unit_source_value)s)
2024-04-19 14:51:13,306 INFO sqlalchemy.engine.Engine [generated in 0.00185s] [{'drug_exposure_id': 156940, 'person_id': 1372782, 'drug_concept_id': 42708201, 'drug_exposure_start_date': '2020-04-11', 'drug_exposure_start_datetime': '2020-04-11 0:00:00', 'drug_exposure_end_date': '2020-04-07', 'drug_exposure_end_datetime': '2020-06-06 9:36:00', 'verbatim_end_date': None, 'drug_type_concept_id': 16943435, 'stop_reason': None, 'refills': None, 'quantity': 2.0, 'days_supply': None, 'sig': None, 'route_concept_id': None, 'lot_number': None, 'provider_id': None, 'visit_occurrence_id': 66252165, 'visit_detail_id': None, 'drug_source_value': 1237679, 'drug_source_concept_id': 33312454, 'route_source_value': 11722356, 'dose_unit_source_value': None}, {'drug_exposure_id': 156742, 'person_id': 1372782, 'drug_concept_id': 19049106, 'drug_exposure_start_date': '2020-04-26', 'drug_exposure_start_datetime': '2020-04-26 0:00:00', 'drug_exposure_end_date': '2020-03-23', 'drug_exposure_end_datetime': '2020-06-22 19:12:00', 'verbatim_end_date': None, 'drug_type_concept_id': 16943435, 'stop_reason': None, 'refills': None, 'quantity': 2.0, 'days_supply': None, 'sig': None, 'route_concept_id': None, 'lot_number': None, 'provider_id': None, 'visit_occurrence_id': 66252165, 'visit_detail_id': None, 'drug_source_value': 191581, 'drug_source_concept_id': 14858360, 'route_source_value': 11722356, 'dose_unit_source_value': None}, {'drug_exposure_id': 156714, 'person_id': 1372782, 'drug_concept_id': 19072176, 'drug_exposure_start_date': '2020-01-23', 'drug_exposure_start_datetime': '2020-01-23 0:00:00', 'drug_exposure_end_date': '2021-06-17', 'drug_exposure_end_datetime': '2021-06-17 9:36:00', 'verbatim_end_date': None, 'drug_type_concept_id': 16943435, 'stop_reason': None, 'refills': None, 'quantity': 36.6, 'days_supply': None, 'sig': None, 'route_concept_id': None, 'lot_number': None, 'provider_id': None, 'visit_occurrence_id': 66252165, 'visit_detail_id': None, 'drug_source_value': 301140, 'drug_source_concept_id': 14876354, 'route_source_value': 11722356, 'dose_unit_source_value': None}, {'drug_exposure_id': 157016, 'person_id': 1372782, 'drug_concept_id': 1707348, 'drug_exposure_start_date': '2020-02-13', 'drug_exposure_start_datetime': '2020-02-13 0:00:00', 'drug_exposure_end_date': '2020-04-09', 'drug_exposure_end_datetime': '2020-04-09 9:36:00', 'verbatim_end_date': None, 'drug_type_concept_id': 16943435, 'stop_reason': None, 'refills': None, 'quantity': 28.0, 'days_supply': None, 'sig': None, 'route_concept_id': None, 'lot_number': None, 'provider_id': None, 'visit_occurrence_id': 66252165, 'visit_detail_id': None, 'drug_source_value': 305148, 'drug_source_concept_id': 1331788, 'route_source_value': 20954437, 'dose_unit_source_value': None}, {'drug_exposure_id': 156757, 'person_id': 1372782, 'drug_concept_id': 19127952, 'drug_exposure_start_date': '2020-05-27', 'drug_exposure_start_datetime': '2020-05-27 0:00:00', 'drug_exposure_end_date': '2020-03-23', 'drug_exposure_end_datetime': '2020-07-22 9:36:00', 'verbatim_end_date': None, 'drug_type_concept_id': 16943435, 'stop_reason': None, 'refills': None, 'quantity': 0.0, 'days_supply': None, 'sig': None, 'route_concept_id': None, 'lot_number': None, 'provider_id': None, 'visit_occurrence_id': 66252165, 'visit_detail_id': None, 'drug_source_value': 742671, 'drug_source_concept_id': 14919860, 'route_source_value': 11722356, 'dose_unit_source_value': None}, {'drug_exposure_id': 156828, 'person_id': 1372782, 'drug_concept_id': 40167259, 'drug_exposure_start_date': '2020-02-02', 'drug_exposure_start_datetime': '2020-02-02 0:00:00', 'drug_exposure_end_date': '2021-12-10', 'drug_exposure_end_datetime': '2021-12-10 9:36:00', 'verbatim_end_date': None, 'drug_type_concept_id': 16943435, 'stop_reason': None, 'refills': None, 'quantity': 7.0, 'days_supply': None, 'sig': None, 'route_concept_id': None, 'lot_number': None, 'provider_id': None, 'visit_occurrence_id': 66252165, 'visit_detail_id': None, 'drug_source_value': 869658, 'drug_source_concept_id': 31330519, 'route_source_value': 11722356, 'dose_unit_source_value': None}, {'drug_exposure_id': 156731, 'person_id': 1372782, 'drug_concept_id': 19079524, 'drug_exposure_start_date': '2020-01-24', 'drug_exposure_start_datetime': '2020-01-24 0:00:00', 'drug_exposure_end_date': '2020-04-11', 'drug_exposure_end_datetime': '2020-04-11 9:36:00', 'verbatim_end_date': None, 'drug_type_concept_id': 16943435, 'stop_reason': None, 'refills': None, 'quantity': 288.0, 'days_supply': None, 'sig': None, 'route_concept_id': None, 'lot_number': None, 'provider_id': None, 'visit_occurrence_id': 66252165, 'visit_detail_id': None, 'drug_source_value': 306467, 'drug_source_concept_id': 14882086, 'route_source_value': 20954437, 'dose_unit_source_value': None}, {'drug_exposure_id': 156881, 'person_id': 1372782, 'drug_concept_id': 19073526, 'drug_exposure_start_date': '2020-05-06', 'drug_exposure_start_datetime': '2020-05-06 0:00:00', 'drug_exposure_end_date': '2020-04-02', 'drug_exposure_end_datetime': '2020-07-01 9:36:00', 'verbatim_end_date': None, 'drug_type_concept_id': 16943435, 'stop_reason': None, 'refills': None, 'quantity': 67.0, 'days_supply': None, 'sig': None, 'route_concept_id': None, 'lot_number': None, 'provider_id': None, 'visit_occurrence_id': 66252165, 'visit_detail_id': None, 'drug_source_value': 301816, 'drug_source_concept_id': 14877407, 'route_source_value': 20954437, 'dose_unit_source_value': None}  ... displaying 10 of 13 total bound parameter sets ...  {'drug_exposure_id': 86043, 'person_id': 5675534, 'drug_concept_id': 36249642, 'drug_exposure_start_date': '2018-08-22', 'drug_exposure_start_datetime': '2018-08-22 06:46:00+00:00', 'drug_exposure_end_date': '2018-08-22', 'drug_exposure_end_datetime': '2018-08-22 06:46:00+00:00', 'verbatim_end_date': None, 'drug_type_concept_id': 16943435, 'stop_reason': None, 'refills': None, 'quantity': None, 'days_supply': None, 'sig': None, 'route_concept_id': None, 'lot_number': None, 'provider_id': None, 'visit_occurrence_id': 66252165, 'visit_detail_id': None, 'drug_source_value': 307247, 'drug_source_concept_id': 879455, 'route_source_value': 11722356, 'dose_unit_source_value': None}, {'drug_exposure_id': 3456, 'person_id': 5675534, 'drug_concept_id': 36249642, 'drug_exposure_start_date': '2018-08-04', 'drug_exposure_start_datetime': '2018-08-04 14:05:00+00:00', 'drug_exposure_end_date': '2018-08-04', 'drug_exposure_end_datetime': '2018-08-04 14:05:00+00:00', 'verbatim_end_date': None, 'drug_type_concept_id': 16943435, 'stop_reason': None, 'refills': None, 'quantity': None, 'days_supply': None, 'sig': None, 'route_concept_id': None, 'lot_number': None, 'provider_id': None, 'visit_occurrence_id': 66252165, 'visit_detail_id': None, 'drug_source_value': 307247, 'drug_source_concept_id': 879455, 'route_source_value': 11722356, 'dose_unit_source_value': None}]
2024-04-19 14:51:13,326 INFO sqlalchemy.engine.Engine COMMIT
Data from drug_exposure.csv has been successfully loaded into the drug_exposure table in the database.
Loading data from device_exposure
2024-04-19 14:51:13,342 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 14:51:13,347 INFO sqlalchemy.engine.Engine DESCRIBE `cdm`.`device_exposure`
2024-04-19 14:51:13,348 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-19 14:51:13,357 INFO sqlalchemy.engine.Engine INSERT INTO device_exposure (device_exposure_id, person_id, device_concept_id, device_exposure_start_date, device_exposure_start_datetime, device_exposure_end_date, device_exposure_end_datetime, device_type_concept_id, unique_device_id, quantity, provider_id, visit_occurrence_id, visit_detail_id, device_source_value, device_source_concept_id) VALUES (%(device_exposure_id)s, %(person_id)s, %(device_concept_id)s, %(device_exposure_start_date)s, %(device_exposure_start_datetime)s, %(device_exposure_end_date)s, %(device_exposure_end_datetime)s, %(device_type_concept_id)s, %(unique_device_id)s, %(quantity)s, %(provider_id)s, %(visit_occurrence_id)s, %(visit_detail_id)s, %(device_source_value)s, %(device_source_concept_id)s)
2024-04-19 14:51:13,358 INFO sqlalchemy.engine.Engine [generated in 0.00117s] [{'device_exposure_id': 12375, 'person_id': 2915590, 'device_concept_id': 44908056, 'device_exposure_start_date': '2017-04-24', 'device_exposure_start_datetime': '2017-04-24 05:34:20+00:00', 'device_exposure_end_date': '2017-07-22', 'device_exposure_end_datetime': '2017-07-22 05:34:45+00:00', 'device_type_concept_id': 0, 'unique_device_id': None, 'quantity': 100.0, 'provider_id': None, 'visit_occurrence_id': 32612.0, 'visit_detail_id': None, 'device_source_value': 118198900.0, 'device_source_concept_id': 38163321.0}, {'device_exposure_id': 467858, 'person_id': 2915590, 'device_concept_id': 44908056, 'device_exposure_start_date': '2017-04-24', 'device_exposure_start_datetime': '2017-04-24 19:15:24+00:00', 'device_exposure_end_date': '2017-07-22', 'device_exposure_end_datetime': '2017-07-22 19:15:34+00:00', 'device_type_concept_id': 0, 'unique_device_id': None, 'quantity': 100.0, 'provider_id': None, 'visit_occurrence_id': 5785612.0, 'visit_detail_id': None, 'device_source_value': 118198900.0, 'device_source_concept_id': 38163321.0}, {'device_exposure_id': 5675, 'person_id': 2915590, 'device_concept_id': 44844102, 'device_exposure_start_date': '2021-11-25', 'device_exposure_start_datetime': '2021-11-25 05:00:00+00:00', 'device_exposure_end_date': None, 'device_exposure_end_datetime': None, 'device_type_concept_id': 0, 'unique_device_id': None, 'quantity': 100.0, 'provider_id': None, 'visit_occurrence_id': None, 'visit_detail_id': None, 'device_source_value': 11841481096.0, 'device_source_concept_id': 38099367.0}, {'device_exposure_id': 28284, 'person_id': 493797, 'device_concept_id': 4224038, 'device_exposure_start_date': '2021-09-09', 'device_exposure_start_datetime': '2021-09-09 17:25:00+00:00', 'device_exposure_end_date': None, 'device_exposure_end_datetime': None, 'device_type_concept_id': 6785, 'unique_device_id': None, 'quantity': None, 'provider_id': None, 'visit_occurrence_id': None, 'visit_detail_id': None, 'device_source_value': 261090688.0, 'device_source_concept_id': 3549565.0}, {'device_exposure_id': 417, 'person_id': 493797, 'device_concept_id': 4097216, 'device_exposure_start_date': '2021-01-08', 'device_exposure_start_datetime': '2021-01-08 20:18:00+00:00', 'device_exposure_end_date': '2021-01-08', 'device_exposure_end_datetime': '2021-01-08 02:04:00+00:00', 'device_type_concept_id': 6785, 'unique_device_id': None, 'quantity': None, 'provider_id': None, 'visit_occurrence_id': 56788.0, 'visit_detail_id': None, 'device_source_value': None, 'device_source_concept_id': None}, {'device_exposure_id': 843098, 'person_id': 2915590, 'device_concept_id': 44844102, 'device_exposure_start_date': '2020-09-14', 'device_exposure_start_datetime': '2020-09-14 04:00:00+00:00', 'device_exposure_end_date': '2022-01-11', 'device_exposure_end_datetime': '2022-01-11 21:16:00+00:00', 'device_type_concept_id': 0, 'unique_device_id': None, 'quantity': None, 'provider_id': None, 'visit_occurrence_id': None, 'visit_detail_id': None, 'device_source_value': 11841481096.0, 'device_source_concept_id': 38099367.0}, {'device_exposure_id': 973871, 'person_id': 493797, 'device_concept_id': 4224038, 'device_exposure_start_date': '2021-01-09', 'device_exposure_start_datetime': '2021-01-09 09:00:00+00:00', 'device_exposure_end_date': '2021-01-14', 'device_exposure_end_datetime': '2021-01-14 23:39:00+00:00', 'device_type_concept_id': 6785, 'unique_device_id': None, 'quantity': None, 'provider_id': None, 'visit_occurrence_id': 3300546.0, 'visit_detail_id': None, 'device_source_value': 261090688.0, 'device_source_concept_id': 3549561.0}, {'device_exposure_id': 432678, 'person_id': 493797, 'device_concept_id': 4224038, 'device_exposure_start_date': '2021-09-09', 'device_exposure_start_datetime': '2021-09-09 18:20:00+00:00', 'device_exposure_end_date': '2023-07-02', 'device_exposure_end_datetime': '2023-07-02 08:45:00+00:00', 'device_type_concept_id': 6785, 'unique_device_id': None, 'quantity': None, 'provider_id': None, 'visit_occurrence_id': 654040.0, 'visit_detail_id': None, 'device_source_value': 261090688.0, 'device_source_concept_id': 3549561.0}]
2024-04-19 14:51:13,363 INFO sqlalchemy.engine.Engine COMMIT
Data from device_exposure.csv has been successfully loaded into the device_exposure table in the database.
Loading data from concept
2024-04-19 14:51:13,370 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 14:51:13,373 INFO sqlalchemy.engine.Engine DESCRIBE `cdm`.`concept`
2024-04-19 14:51:13,376 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-04-19 14:51:13,387 INFO sqlalchemy.engine.Engine INSERT INTO concept (concept_id, concept_name, domain_id, vocabulary_id, concept_class_id, standard_concept, concept_code, valid_start_date, valid_end_date, invalid_reason) VALUES (%(concept_id)s, %(concept_name)s, %(domain_id)s, %(vocabulary_id)s, %(concept_class_id)s, %(standard_concept)s, %(concept_code)s, %(valid_start_date)s, %(valid_end_date)s, %(invalid_reason)s)
2024-04-19 14:51:13,388 INFO sqlalchemy.engine.Engine [generated in 0.00205s] [{'concept_id': 8524, 'concept_name': 'Outpatient Visit', 'domain_id': 'Visit', 'vocabulary_id': 'Visit', 'concept_class_id': 'Visit', 'standard_concept': 'S', 'concept_code': 'OP', 'valid_start_date': '2015-07-26', 'valid_end_date': '2048-02-02', 'invalid_reason': None}, {'concept_id': 29895174, 'concept_name': 'budesonide 3 MG Delayed Release Oral Capsule', 'domain_id': 'Drug', 'vocabulary_id': 'RxNorm', 'concept_class_id': 'Clinical Drug', 'standard_concept': 'S', 'concept_code': '1244214', 'valid_start_date': '2018-11-29', 'valid_end_date': '2056-07-24', 'invalid_reason': None}, {'concept_id': 3056756, 'concept_name': 'Sodium [Moles/volume] in Venous blood', 'domain_id': 'Measurement', 'vocabulary_id': 'LOINC', 'concept_class_id': 'Lab Test', 'standard_concept': 'S', 'concept_code': '39791-9', 'valid_start_date': '2008-08-02', 'valid_end_date': '2039-12-15', 'invalid_reason': None}, {'concept_id': 2759786, 'concept_name': 'Not for resuscitation', 'domain_id': 'Observation', 'vocabulary_id': 'SNOMED', 'concept_class_id': 'Clinical Finding', 'standard_concept': 'S', 'concept_code': '304253006', 'valid_start_date': '2006-07-26', 'valid_end_date': '2034-04-18', 'invalid_reason': None}, {'concept_id': 37049300, 'concept_name': 'CONTOUR NEXT STRIPS', 'domain_id': 'Device', 'vocabulary_id': 'NDC', 'concept_class_id': 'Device', 'standard_concept': 'S', 'concept_code': '193731221', 'valid_start_date': '2007-06-12', 'valid_end_date': '2047-11-06', 'invalid_reason': None}, {'concept_id': 678546, 'concept_name': 'PMI: Skip', 'domain_id': 'Observation', 'vocabulary_id': 'PPI', 'concept_class_id': 'Answer', 'standard_concept': 'S', 'concept_code': 'PMI_Skip', 'valid_start_date': '2022-02-05', 'valid_end_date': '2058-08-20', 'invalid_reason': None}, {'concept_id': 3027172, 'concept_name': 'Left ventricular Ejection fraction', 'domain_id': 'Measurement', 'vocabulary_id': 'LOINC', 'concept_class_id': 'Lab Test', 'standard_concept': 'S', 'concept_code': '39791-9', 'valid_start_date': '2008-08-02', 'valid_end_date': '2039-12-15', 'invalid_reason': None}, {'concept_id': 196152, 'concept_name': 'Peritonitis', 'domain_id': 'Condition', 'vocabulary_id': 'LOINC', 'concept_class_id': 'Lab Test', 'standard_concept': 'S', 'concept_code': '39791-10', 'valid_start_date': '2008-08-03', 'valid_end_date': '2039-12-16', 'invalid_reason': None}  ... displaying 10 of 42 total bound parameter sets ...  {'concept_id': 4097216, 'concept_name': 'Endotracheal tube', 'domain_id': 'Device', 'vocabulary_id': 'SNOMED', 'concept_class_id': 'Physical Object', 'standard_concept': 'S', 'concept_code': '26412008', 'valid_start_date': '2002-01-31', 'valid_end_date': '2099-12-31', 'invalid_reason': None}, {'concept_id': 4224038, 'concept_name': 'Oxygen nasal cannula', 'domain_id': 'Device', 'vocabulary_id': 'SNOMED', 'concept_class_id': 'Physical Object', 'standard_concept': 'S', 'concept_code': '336623009', 'valid_start_date': '2002-01-31', 'valid_end_date': '2099-12-31', 'invalid_reason': None}]
2024-04-19 14:51:13,402 INFO sqlalchemy.engine.Engine COMMIT
IntegrityError: (mysql.connector.errors.IntegrityError) 1062 (23000): Duplicate entry '319835' for key 'concept.PRIMARY'
[SQL: INSERT INTO concept (concept_id, concept_name, domain_id, vocabulary_id, concept_class_id, standard_concept, concept_code, valid_start_date, valid_end_date, invalid_reason) VALUES (%(concept_id)s, %(concept_name)s, %(domain_id)s, %(vocabulary_id)s, %(concept_class_id)s, %(standard_concept)s, %(concept_code)s, %(valid_start_date)s, %(valid_end_date)s, %(invalid_reason)s)]

In [ ]:
import pandas
import os
sql = """SELECT c.person_id,
       c.condition_occurrence_id,
       c.condition_concept_id,
       c.condition_start_date,
       c.condition_end_date,
       d.drug_exposure_id,
       d.drug_concept_id,
       d.drug_exposure_start_date,
       d.drug_exposure_end_date
FROM CONDITION_OCCURRENCE c
INNER JOIN PERSON p ON c.person_id = p.person_id
INNER JOIN DRUG_EXPOSURE d ON p.person_id = d.person_id"""#LVEF
df = pandas.read_gbq(
    sql,
    dialect="standard",
    # use_bqstorage_api=("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type="tqdm_notebook")
df.head(10)

In [87]:
table_name = 'PERSON'
query = text(f"SELECT * FROM {table_name}")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
result

2024-04-19 15:05:30,083 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 15:05:30,084 INFO sqlalchemy.engine.Engine SELECT * FROM PERSON
2024-04-19 15:05:30,085 INFO sqlalchemy.engine.Engine [generated in 0.00323s] {}
2024-04-19 15:05:30,110 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:

,person_id,gender_concept_id,year_of_birth,month_of_birth,day_of_birth,birth_datetime,race_concept_id,ethnicity_concept_id,location_id,provider_id,care_site_id,person_source_value,gender_source_value,gender_source_concept_id,race_source_value,race_source_concept_id,ethnicity_source_value,ethnicity_source_concept_id
0,680331,41310599,1946,2,27,1946-02-27,66754,37926811,None,None,None,259008,GenderIdentity_Woman,907276,WhatRaceEthnicity_White,4567549,Not Hispanic,31460238
1,711599,1995432138,1978,4,6,1978-04-06,817420,826343,None,None,None,305678,GenderIdentity_GeneralizedDiffGender,1233546570,PMI_Skip,67856,PMI_Skip,67856
2,872883,41312805,1989,11,20,1989-11-20,66754,37926811,None,None,None,546399,GenderIdentity_Man,907275,WhatRaceEthnicity_Black,4567549,Not Hispanic,31460238
3,1021059,41310599,1969,1,20,1969-01-20,66754,37926811,None,None,None,767558,GenderIdentity_Woman,907276,WhatRaceEthnicity_Black,4567549,Not Hispanic,31460238
4,1372782,1995432138,1976,6,1,1976-06-01,1099923437,37926810,None,None,None,367286,GenderIdentity_GeneralizedDiffGender,1233546570,AoUDRC_NoneIndicated,0,Hispanic,31460237
5,1543037,1995432138,1968,9,3,1968-09-03,817420,826343,None,None,None,1546630,GenderIdentity_GeneralizedDiffGender,1233546570,PMI_Skip,67856,PMI_Skip,67856
6,1851447,41310599,1964,12,10,1964-12-10,1099923437,37926810,None,None,None,2006943,GenderIdentity_Woman,907276,AoUDRC_NoneIndicated,0,Hispanic,31460237
7,1955206,41312805,1959,8,5,1959-08-05,1099923437,37926810,None,None,None,2161807,GenderIdentity_Man,907275,AoUDRC_NoneIndicated,0,Hispanic,31460237
8,2146445,41312805,1951,5,15,1951-05-15,66754,37926811,None,None,None,2447238,GenderIdentity_Man,907275,WhatRaceEthnicity_Black,4567549,Not Hispanic,31460238
9,2334201,1995432138,1965,7,16,1965-07-16,817420,826343,None,None,None,2727471,GenderIdentity_GeneralizedDiffGender,1233546570,PMI_Skip,67856,PMI_Skip,67856
10,5675534,41312805,1977,3,19,1977-03-19,66754,826343,None,None,None,68726763,GenderIdentity_GeneralizedDiffGender,907275,AoUDRC_NoneIndicated,0,Hispanic,31460237

In [89]:
import pandas
query = text("""SELECT p.person_id,
       p.gender_concept_id,
       p.year_of_birth,
       p.month_of_birth,
       p.day_of_birth,
       p.race_concept_id,
       p.ethnicity_concept_id,
       d.drug_exposure_id,
       d.drug_concept_id,
       d.drug_exposure_start_date,
       d.drug_exposure_end_date,
       c.condition_occurrence_id,
       c.condition_concept_id,
       c.condition_start_date,
       c.condition_end_date,
       cc.concept_name AS condition_name,
       dc.concept_name AS drug_name
FROM DRUG_EXPOSURE d
INNER JOIN PERSON p ON d.person_id = p.person_id
LEFT JOIN CONDITION_OCCURRENCE c ON d.person_id = c.person_id
LEFT JOIN CONCEPT cc ON c.condition_concept_id = cc.concept_id
LEFT JOIN CONCEPT dc ON d.drug_concept_id = dc.concept_id;""")

result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
type(result)

2024-04-19 15:05:47,434 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 15:05:47,434 INFO sqlalchemy.engine.Engine SELECT p.person_id,
       p.gender_concept_id,
       p.year_of_birth,
       p.month_of_birth,
       p.day_of_birth,
       p.race_concept_id,
       p.ethnicity_concept_id,
       d.drug_exposure_id,
       d.drug_concept_id,
       d.drug_exposure_start_date,
       d.drug_exposure_end_date,
       c.condition_occurrence_id,
       c.condition_concept_id,
       c.condition_start_date,
       c.condition_end_date,
       cc.concept_name AS condition_name,
       dc.concept_name AS drug_name
FROM DRUG_EXPOSURE d
INNER JOIN PERSON p ON d.person_id = p.person_id
LEFT JOIN CONDITION_OCCURRENCE c ON d.person_id = c.person_id
LEFT JOIN CONCEPT cc ON c.condition_concept_id = cc.concept_id
LEFT JOIN CONCEPT dc ON d.drug_concept_id = dc.concept_id;
2024-04-19 15:05:47,435 INFO sqlalchemy.engine.Engine [cached since 1.709e+04s ago] {}
2024-04-19 15:05:47,443 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:

pandas.core.frame.DataFrame

In [90]:
result.to_csv('person_drug.csv')

In [ ]:
create_table_command = """
                    CREATE TABLE con_drug AS
                    SELECT p.person_id,
                        p.birth_datetime,
                        c2.concept_name AS gender,
                        c1.concept_name AS race,
                        cc.concept_name AS condition_name,
                        c.condition_start_date,
                        c.condition_end_date,
                        dc.concept_name AS drug_name,
                        d.drug_exposure_start_date,
                        d.drug_exposure_end_date
                    FROM DRUG_EXPOSURE d
                    INNER JOIN PERSON p ON d.person_id = p.person_id
                    LEFT JOIN CONDITION_OCCURRENCE c ON d.person_id = c.person_id
                    LEFT JOIN CONCEPT c1 ON p.race_concept_id = c1.concept_id
                    LEFT JOIN CONCEPT c2 ON p.gender_concept_id = c2.concept_id
                    LEFT JOIN CONCEPT cc ON c.condition_concept_id = cc.concept_id
                    LEFT JOIN CONCEPT dc ON d.drug_concept_id = dc.concept_id;
                    """
# Execute the create table command
with engine.begin() as conn:
    conn.execute(text(create_table_command))

In [ ]:
create_table_command = """CREATE TABLE combined_person_measurement AS
SELECT p.person_id, c1.concept_name AS gender, p.birth_datetime, c2.concept_name AS race, m.measurement_id,
    m.person_id AS measurement_person_id, mc.concept_name AS measurement_concept_name, m.measurement_datetime,
    m.value_as_number, m.range_low, m.range_high, m.unit_source_value
FROM
    PERSON p
JOIN
    MEASUREMENT m ON p.person_id = m.person_id
LEFT JOIN
    CONCEPT c1 ON p.gender_concept_id = c1.concept_id
LEFT JOIN
    CONCEPT c2 ON p.race_concept_id = c2.concept_id
LEFT JOIN
    CONCEPT mc ON m.measurement_concept_id = mc.concept_id;"""
with engine.begin() as conn:
    conn.execute(text(create_table_command))

In [ ]:
create_table_command = """CREATE TABLE combined_procedure_visit AS
SELECT vo.visit_occurrence_id, c1.concept_name AS visit_concept_name, vo.visit_start_date, 
    vo.visit_end_date, vo.care_site_id, p.person_id, p.procedure_occurrence_id,
    c2.concept_name AS pocedure_name, p.procedure_date, p.procedure_source_value
FROM
    VISIT_OCCURRENCE vo
JOIN
    PROCEDURE_OCCURRENCE p ON vo.visit_occurrence_id = p.visit_occurrence_id
JOIN
    CONCEPT c1 ON vo.visit_concept_id = c1.concept_id
JOIN
    CONCEPT c2 ON p.procedure_concept_id = c2.concept_id;
"""
with engine.begin() as conn:
    conn.execute(text(create_table_command))

In [91]:
table_name = 'con_drug'
query = text(f"SELECT * FROM {table_name}")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
result

2024-04-19 15:05:57,345 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 15:05:57,347 INFO sqlalchemy.engine.Engine SELECT * FROM con_drug
2024-04-19 15:05:57,348 INFO sqlalchemy.engine.Engine [cached since 1.377e+04s ago] {}
2024-04-19 15:05:57,380 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:

,person_id,gender_concept_id,birth_datetime,gender,drug_exposure_start_date,drug_concept_name,condition_start_date,condition_concept_name
0,1372782,1995432138,1976-06-01,Female,2020-02-13,100 ML metronidazole 5 MG/ML Injection,2020-03-13,Peritonitis
1,1372782,1995432138,1976-06-01,Female,2020-02-11,budesonide 3 MG Delayed Release Oral Capsule,2020-03-13,Peritonitis
2,1372782,1995432138,1976-06-01,Female,2020-02-06,2.5 ML argatroban 100 MG/ML Injection,2020-03-13,Peritonitis
3,1372782,1995432138,1976-06-01,Female,2020-02-02,polyethylene glycol 3350 17000 MG Powder for O...,2020-03-13,Peritonitis
4,1372782,1995432138,1976-06-01,Female,2020-01-30,acetaminophen 325 MG Oral Tablet,2020-03-13,Peritonitis
...,...,...,...,...,...,...,...,...
67,1372782,1995432138,1976-06-01,Female,2020-01-30,acetaminophen 325 MG Oral Tablet,2020-03-13,Hypervolemia
68,1372782,1995432138,1976-06-01,Female,2020-01-27,sevelamer carbonate 800 MG Oral Tablet,2020-03-13,Hypervolemia
69,1372782,1995432138,1976-06-01,Female,2020-01-26,potassium chloride 20 MEQ Extended Release Ora...,2020-03-13,Hypervolemia
70,1372782,1995432138,1976-06-01,Female,2020-01-24,odium chloride 9 MG/ML Injectable Solution,2020-03-13,Hypervolemia
71,1372782,1995432138,1976-06-01,Female,2020-01-23,acetaminophen 32 MG/ML Oral Solution,2020-03-13,Hypervolemia

And further if we combine with concept id we can know the actual name of drug or other things:
CREATE TABLE con_drug AS    
SELECT p.person_id,
    p.birth_datetime,
    c2.concept_name as gender,
    c1.concept_name as race,
    cc.concept_name AS condition_name,
    c.condition_start_date,
    c.condition_end_date,
    dc.concept_name AS drug_name,
    d.drug_exposure_start_date,
    d.drug_exposure_end_date
FROM DRUG_EXPOSURE d
INNER JOIN PERSON p ON d.person_id = p.person_id
LEFT JOIN CONDITION_OCCURRENCE c ON d.person_id = c.person_id
LEFT JOIN CONCEPT c1 ON p.race_concept_id = c1.concept_id
LEFT JOIN CONCEPT c2 ON p.gender_concept_id = c2.concept_id
LEFT JOIN CONCEPT cc ON c.condition_concept_id = cc.concept_id
LEFT JOIN CONCEPT dc ON d.drug_concept_id = dc.concept_id;

post condition drugs:
SELECT *
FROM con_drug cd
WHERE
    cd.drug_exposure_start_date > cd.condition_start_date;

In [142]:
query = text("""SELECT p.person_id,
    p.birth_datetime,
    cc.concept_name AS condition_name,
    c.condition_start_date,
    dc.concept_name AS drug_name,
    d.drug_exposure_start_date
FROM DRUG_EXPOSURE d
INNER JOIN PERSON p ON d.person_id = p.person_id
LEFT JOIN CONDITION_OCCURRENCE c ON d.person_id = c.person_id
LEFT JOIN CONCEPT cc ON c.condition_concept_id = cc.concept_id
LEFT JOIN CONCEPT dc ON d.drug_concept_id = dc.concept_id;""")

con_drug_df = pd.read_sql(query, con=engine)
con_drug_df

2024-04-19 18:19:38,594 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 18:19:38,599 INFO sqlalchemy.engine.Engine SELECT p.person_id,
    p.birth_datetime,
    cc.concept_name AS condition_name,
    c.condition_start_date,
    dc.concept_name AS drug_name,
    d.drug_exposure_start_date
FROM DRUG_EXPOSURE d
INNER JOIN PERSON p ON d.person_id = p.person_id
LEFT JOIN CONDITION_OCCURRENCE c ON d.person_id = c.person_id
LEFT JOIN CONCEPT cc ON c.condition_concept_id = cc.concept_id
LEFT JOIN CONCEPT dc ON d.drug_concept_id = dc.concept_id;
2024-04-19 18:19:38,599 INFO sqlalchemy.engine.Engine [generated in 0.01354s] {}
2024-04-19 18:19:38,655 INFO sqlalchemy.engine.Engine ROLLBACK

,person_id,birth_datetime,condition_name,condition_start_date,drug_name,drug_exposure_start_date
0,5675534,1977-03-19,None,2018-09-05,Microencapsulated potassium chloride 20 MEQ Ex...,2018-08-04
1,5675534,1977-03-19,None,2018-08-21,Microencapsulated potassium chloride 20 MEQ Ex...,2018-08-04
2,5675534,1977-03-19,Congestive heart failure,2018-08-04,Microencapsulated potassium chloride 20 MEQ Ex...,2018-08-04
3,5675534,1977-03-19,None,2018-09-05,Microencapsulated potassium chloride 20 MEQ Ex...,2018-08-22
4,5675534,1977-03-19,None,2018-08-21,Microencapsulated potassium chloride 20 MEQ Ex...,2018-08-22
...,...,...,...,...,...,...
104,1372782,1976-06-01,Toxic gastroenteritis,2020-03-13,100 ML metronidazole 5 MG/ML Injection,2020-02-13
105,1372782,1976-06-01,Arteriosclerotic gangrene,2020-03-13,100 ML metronidazole 5 MG/ML Injection,2020-02-13
106,1372782,1976-06-01,Atherosclerosis of artery of lower limb,2020-03-13,100 ML metronidazole 5 MG/ML Injection,2020-02-13
107,1372782,1976-06-01,Peritonitis,2020-03-13,100 ML metronidazole 5 MG/ML Injection,2020-02-13
108,1372782,1976-06-01,None,2020-03-13,100 ML metronidazole 5 MG/ML Injection,2020-02-13

In [128]:
import pandas
query = text("""SELECT p.person_id,
    p.birth_datetime,
    c2.concept_name as gender,
    c1.concept_name as race,
    cc.concept_name AS condition_name,
    c.condition_start_date,
    c.condition_end_date,
    dc.concept_name AS drug_name,
    d.drug_exposure_start_date,
    d.drug_exposure_end_date
FROM DRUG_EXPOSURE d
INNER JOIN PERSON p ON d.person_id = p.person_id
LEFT JOIN CONDITION_OCCURRENCE c ON d.person_id = c.person_id
LEFT JOIN CONCEPT c1 ON p.race_concept_id = c1.concept_id
LEFT JOIN CONCEPT c2 ON p.gender_concept_id = c2.concept_id
LEFT JOIN CONCEPT cc ON c.condition_concept_id = cc.concept_id
LEFT JOIN CONCEPT dc ON d.drug_concept_id = dc.concept_id;""")

con_drug_df = pd.read_sql(query, con=engine)
con_drug_df

2024-04-19 16:35:12,185 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 16:35:12,186 INFO sqlalchemy.engine.Engine SELECT p.person_id,
    p.birth_datetime,
    c2.concept_name as gender,
    c1.concept_name as race,
    cc.concept_name AS condition_name,
    c.condition_start_date,
    c.condition_end_date,
    dc.concept_name AS drug_name,
    d.drug_exposure_start_date,
    d.drug_exposure_end_date
FROM DRUG_EXPOSURE d
INNER JOIN PERSON p ON d.person_id = p.person_id
LEFT JOIN CONDITION_OCCURRENCE c ON d.person_id = c.person_id
LEFT JOIN CONCEPT c1 ON p.race_concept_id = c1.concept_id
LEFT JOIN CONCEPT c2 ON p.gender_concept_id = c2.concept_id
LEFT JOIN CONCEPT cc ON c.condition_concept_id = cc.concept_id
LEFT JOIN CONCEPT dc ON d.drug_concept_id = dc.concept_id;
2024-04-19 16:35:12,187 INFO sqlalchemy.engine.Engine [generated in 0.00548s] {}
2024-04-19 16:35:12,257 INFO sqlalchemy.engine.Engine ROLLBACK

,person_id,birth_datetime,gender,race,condition_name,condition_start_date,condition_end_date,drug_name,drug_exposure_start_date,drug_exposure_end_date
0,5675534,1977-03-19,male,Black Or African American,None,2018-09-05,None,Microencapsulated potassium chloride 20 MEQ Ex...,2018-08-04,2018-08-04
1,5675534,1977-03-19,male,Black Or African American,None,2018-08-21,None,Microencapsulated potassium chloride 20 MEQ Ex...,2018-08-04,2018-08-04
2,5675534,1977-03-19,male,Black Or African American,Congestive heart failure,2018-08-04,None,Microencapsulated potassium chloride 20 MEQ Ex...,2018-08-04,2018-08-04
3,5675534,1977-03-19,male,Black Or African American,None,2018-09-05,None,Microencapsulated potassium chloride 20 MEQ Ex...,2018-08-22,2018-08-22
4,5675534,1977-03-19,male,Black Or African American,None,2018-08-21,None,Microencapsulated potassium chloride 20 MEQ Ex...,2018-08-22,2018-08-22
...,...,...,...,...,...,...,...,...,...,...
104,1372782,1976-06-01,Female,Asian,Toxic gastroenteritis,2020-03-13,None,100 ML metronidazole 5 MG/ML Injection,2020-02-13,2020-04-09
105,1372782,1976-06-01,Female,Asian,Arteriosclerotic gangrene,2020-03-13,None,100 ML metronidazole 5 MG/ML Injection,2020-02-13,2020-04-09
106,1372782,1976-06-01,Female,Asian,Atherosclerosis of artery of lower limb,2020-03-13,None,100 ML metronidazole 5 MG/ML Injection,2020-02-13,2020-04-09
107,1372782,1976-06-01,Female,Asian,Peritonitis,2020-03-13,None,100 ML metronidazole 5 MG/ML Injection,2020-02-13,2020-04-09
108,1372782,1976-06-01,Female,Asian,None,2020-03-13,None,100 ML metronidazole 5 MG/ML Injection,2020-02-13,2020-04-09

In [117]:
table_name = 'CONDITION_OCCURRENCE'
query = text(f"SELECT * FROM {table_name}")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
result

2024-04-19 16:12:16,753 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 16:12:16,906 INFO sqlalchemy.engine.Engine SELECT * FROM CONDITION_OCCURRENCE

2024-04-19 16:12:16,913 INFO sqlalchemy.engine.Engine [cached since 1.702e+04s ago] {}
2024-04-19 16:12:16,976 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:

,condition_occurrence_id,person_id,condition_concept_id,condition_start_date,condition_start_datetime,condition_end_date,condition_end_datetime,condition_type_concept_id,condition_status_concept_id,stop_reason,provider_id,visit_occurrence_id,visit_detail_id,condition_source_value,condition_source_concept_id,condition_status_source_value
0,66677,5675534,319835,2018-08-04,2018-08-04 10:43:00,None,None,24498375,3680479,None,None,66217400,None,I50.43,35201517,68094332
1,238140,1372782,4043371,2020-03-13,2020-03-13 21:32:00,None,None,24498375,3680479,None,None,66217400,None,K52,35201517,68094332
2,248088,1372782,196152,2020-03-13,2020-03-13 21:32:00,None,None,24498375,3680479,None,None,66217400,None,K65.8,35201569,68094332
3,276646,1372782,37110250,2020-03-13,2020-03-13 21:32:00,None,None,24498375,3680479,None,None,66217400,None,I70.3,45541306,68094332
4,276647,1372782,317577,2020-03-13,2020-03-13 21:32:00,None,None,24498375,3680479,None,None,66217400,None,I71.2,45560456,68094332
5,289289,1372782,197596,2020-03-13,2020-03-13 21:32:00,None,None,24498375,3680479,None,None,66217400,None,K52,35201517,68094332
6,289385,1372782,319835,2020-03-13,2020-03-13 21:32:00,None,None,24498375,3680479,None,None,66217400,None,I50.21,45536428,68094332
7,289387,1372782,193782,2020-03-13,2020-03-13 21:32:00,None,None,24498375,3680479,None,None,66217400,None,N19,45541899,68094332
8,301436,1372782,4000609,2020-03-13,2020-03-13 21:32:00,None,None,24498375,3680479,None,None,66217400,None,K40,35201492,68094332
9,306327,1372782,4281826,2020-03-13,2020-03-13 21:32:00,None,None,24498375,3680479,None,None,66217400,None,D72.2,45598626,68094332
10,318699,1372782,434004,2020-03-13,2020-03-13 21:32:00,None,None,24498375,3680479,None,None,66217400,None,E85.7,45569726,68094332
11,645454,5675534,319837,2018-08-21,2018-08-21 09:52:00,None,None,24498375,3680479,None,None,66217400,None,I50.20,35201517,68094332
12,675654,5675534,319836,2018-09-05,2018-09-05 16:08:00,None,None,24498375,3680479,None,None,66217400,None,I50.20,35201517,68094332

In [121]:
table_name = 'con_drug'
query = text(f"SELECT * FROM {table_name}")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
result

2024-04-19 16:23:49,039 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 16:23:49,040 INFO sqlalchemy.engine.Engine SELECT * FROM con_drug
2024-04-19 16:23:49,040 INFO sqlalchemy.engine.Engine [cached since 1.845e+04s ago] {}
2024-04-19 16:23:49,070 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:

,person_id,gender_concept_id,year_of_birth,month_of_birth,day_of_birth,race_concept_id,ethnicity_concept_id,drug_exposure_id,drug_concept_id,drug_exposure_start_date,drug_exposure_end_date,condition_occurrence_id,condition_concept_id,condition_start_date,condition_end_date,condition_name,drug_name
0,5675534,41312805,1977,3,19,66754,826343,3456,36249642,2018-08-04,2018-08-04,675654,319836,2018-09-05,None,None,Microencapsulated potassium chloride 20 MEQ Ex...
1,5675534,41312805,1977,3,19,66754,826343,3456,36249642,2018-08-04,2018-08-04,645454,319837,2018-08-21,None,None,Microencapsulated potassium chloride 20 MEQ Ex...
2,5675534,41312805,1977,3,19,66754,826343,3456,36249642,2018-08-04,2018-08-04,66677,319835,2018-08-04,None,Congestive heart failure,Microencapsulated potassium chloride 20 MEQ Ex...
3,5675534,41312805,1977,3,19,66754,826343,86043,36249642,2018-08-22,2018-08-22,675654,319836,2018-09-05,None,None,Microencapsulated potassium chloride 20 MEQ Ex...
4,5675534,41312805,1977,3,19,66754,826343,86043,36249642,2018-08-22,2018-08-22,645454,319837,2018-08-21,None,None,Microencapsulated potassium chloride 20 MEQ Ex...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,1372782,1995432138,1976,6,1,1099923437,37926810,157016,1707348,2020-02-13,2020-04-09,289289,197596,2020-03-13,None,Toxic gastroenteritis,100 ML metronidazole 5 MG/ML Injection
105,1372782,1995432138,1976,6,1,1099923437,37926810,157016,1707348,2020-02-13,2020-04-09,276647,317577,2020-03-13,None,Arteriosclerotic gangrene,100 ML metronidazole 5 MG/ML Injection
106,1372782,1995432138,1976,6,1,1099923437,37926810,157016,1707348,2020-02-13,2020-04-09,276646,37110250,2020-03-13,None,Atherosclerosis of artery of lower limb,100 ML metronidazole 5 MG/ML Injection
107,1372782,1995432138,1976,6,1,1099923437,37926810,157016,1707348,2020-02-13,2020-04-09,248088,196152,2020-03-13,None,Peritonitis,100 ML metronidazole 5 MG/ML Injection
108,1372782,1995432138,1976,6,1,1099923437,37926810,157016,1707348,2020-02-13,2020-04-09,238140,4043371,2020-03-13,None,None,100 ML metronidazole 5 MG/ML Injection

In [109]:
table_name = 'combined_person_measurement'
query = text(f"SELECT * FROM {table_name}")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
result

2024-04-19 15:59:13,714 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 15:59:13,716 INFO sqlalchemy.engine.Engine SELECT * FROM combined_person_measurement
2024-04-19 15:59:13,716 INFO sqlalchemy.engine.Engine [cached since 3123s ago] {}
2024-04-19 15:59:13,773 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:

,person_id,gender,birth_datetime,race,measurement_id,measurement_person_id,measurement_concept_name,measurement_datetime,value_as_number,range_low,range_high,unit_source_value
0,5675534,male,1977-03-19,Black Or African American,58776,5675534,Potassium [Moles/volume] in Serum or Plasma,2016-12-31 20:40:00,4.0,3.5,5.1,mmol/L
1,5675534,male,1977-03-19,Black Or African American,74577,5675534,Potassium [Moles/volume] in Serum or Plasma,2018-08-07 02:38:00,4.2,3.5,5.1,mmol/L
2,5675534,male,1977-03-19,Black Or African American,435677,5675534,Potassium [Moles/volume] in Serum or Plasma,2018-08-22 02:27:00,4.4,3.5,5.1,mmol/L
3,5675534,male,1977-03-19,Black Or African American,3475780,5675534,Potassium [Moles/volume] in Serum or Plasma,2018-08-20 03:36:00,3.8,3.5,5.1,mmol/L
4,5675534,male,1977-03-19,Black Or African American,5688646,5675534,Potassium [Moles/volume] in Serum or Plasma,2018-08-04 07:06:00,3.1,3.5,5.1,mmol/L
5,5675534,male,1977-03-19,Black Or African American,6435436,5675534,Potassium [Moles/volume] in Serum or Plasma,2018-08-21 05:59:00,3.8,3.5,5.1,mmol/L

In [101]:
table_name = 'PROCEDURE_OCCURRENCE'
query = text(f"SELECT * FROM {table_name}")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
result

2024-04-19 15:43:19,995 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 15:43:19,997 INFO sqlalchemy.engine.Engine SELECT * FROM PROCEDURE_OCCURRENCE
2024-04-19 15:43:19,997 INFO sqlalchemy.engine.Engine [cached since 172s ago] {}
2024-04-19 15:43:20,037 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:

,procedure_occurrence_id,person_id,procedure_concept_id,procedure_date,procedure_datetime,procedure_end_date,procedure_end_datetime,procedure_type_concept_id,modifier_concept_id,quantity,provider_id,visit_occurrence_id,visit_detail_id,procedure_source_value,procedure_source_concept_id,modifier_source_value
0,11289,1861428,2681195,2020-02-27,2020-02-27 00:00:00,None,None,36429305,0,None,None,8790700,None,0DB18ZX,2181888,No matching concept
1,11443,1861428,2681448,2020-02-27,2020-02-27 00:00:00,None,None,36429305,0,None,None,66217400,None,0DB68ZX,2182141,No matching concept
2,26955,1861428,2681949,2020-02-27,2020-02-27 00:00:00,None,None,36429305,0,None,None,66217400,None,0DBK8ZX,2182642,No matching concept
3,30589,1861428,2667180,2020-03-09,2020-03-09 00:00:00,None,None,36429305,0,None,None,66217400,None,047Q3ZZ,2167873,No matching concept
4,34443,1861428,4237056,2020-03-14,2020-03-14 21:32:00,None,None,38350029,0,None,None,66217400,None,Z78.1,45016441,No matching concept
5,34474,1861428,2681478,2020-02-27,2020-02-27 00:00:00,None,None,36429305,0,None,None,66217400,None,0DB98ZX,2182171,No matching concept
6,38182,1861428,2722801,2020-03-09,2020-03-09 00:00:00,None,None,36429305,0,None,None,8790700,None,B41FYZZ,2223494,No matching concept
7,43885,1861428,2723392,2020-03-11,2020-03-11 00:00:00,None,None,36429305,0,None,None,66217400,None,30233N1,2224085,No matching concept
8,58054,1861428,2684013,2020-03-14,2020-03-14 00:00:00,None,None,36429305,0,None,None,8790700,None,0DJW4ZZ,2184706,No matching concept
9,84354,1861428,2681692,2020-02-27,2020-02-27 00:00:00,None,None,36429305,0,None,None,66217400,None,0DBB8ZX,2182385,No matching concept

In [107]:
table_name = 'procedure_occurrence'
query = text(f"SELECT * FROM {table_name}")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
result

2024-04-19 15:55:57,448 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 15:55:57,449 INFO sqlalchemy.engine.Engine SELECT * FROM procedure_occurrence
2024-04-19 15:55:57,449 INFO sqlalchemy.engine.Engine [cached since 3.01e+04s ago] {}
2024-04-19 15:55:57,466 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:

,procedure_occurrence_id,person_id,procedure_concept_id,procedure_date,procedure_datetime,procedure_end_date,procedure_end_datetime,procedure_type_concept_id,modifier_concept_id,quantity,provider_id,visit_occurrence_id,visit_detail_id,procedure_source_value,procedure_source_concept_id,modifier_source_value
0,11289,1861428,2746520,2020-02-27,2020-02-27,None,None,36429305,0,None,None,8790700,None,0DB18ZX,2746520,No matching concept
1,11443,1861428,2746773,2020-02-27,2020-02-27,None,None,36429305,0,None,None,66217400,None,0DB68ZX,2746773,No matching concept
2,26955,1861428,2747274,2020-02-27,2020-02-27,None,None,36429305,0,None,None,66217400,None,0DBK8ZX,2747274,No matching concept
3,30589,1861428,2732505,2020-03-09,2020-03-09,None,None,36429305,0,None,None,66217400,None,047Q3ZZ,2732505,No matching concept
4,34474,1861428,2746803,2020-02-27,2020-02-27,None,None,36429305,0,None,None,66217400,None,0DB98ZX,2746803,No matching concept
5,38182,1861428,2788126,2020-03-09,2020-03-09,None,None,36429305,0,None,None,8790700,None,B41FYZZ,2788126,No matching concept
6,43885,1861428,2788717,2020-03-11,2020-03-11,None,None,36429305,0,None,None,66217400,None,30233N1,2788717,No matching concept
7,58054,1861428,2749338,2020-03-14,2020-03-14,None,None,36429305,0,None,None,8790700,None,0DJW4ZZ,2749338,No matching concept
8,84354,1861428,2747017,2020-02-27,2020-02-27,None,None,36429305,0,None,None,66217400,None,0DBB8ZX,2747017,No matching concept

In [108]:
table_name = 'combined_procedure_visit'
query = text(f"SELECT * FROM {table_name}")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
result

2024-04-19 15:57:28,836 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 15:57:28,837 INFO sqlalchemy.engine.Engine SELECT * FROM combined_procedure_visit
2024-04-19 15:57:28,837 INFO sqlalchemy.engine.Engine [cached since 653.1s ago] {}
2024-04-19 15:57:28,864 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:

,visit_occurrence_id,visit_concept_name,visit_start_date,visit_end_date,care_site_id,person_id,procedure_occurrence_id,pocedure_name,procedure_date,procedure_source_value
0,8790700,Outpatient Visit,2016-07-20,2017-09-19,None,1861428,11289,"Excision of Upper Esophagus, Via Natural or Ar...",2020-02-27,0DB18ZX
1,66217400,Emergency Room and Inpatient Visit,2018-06-27,2019-08-17,None,1861428,11443,"Excision of Stomach, Via Natural or Artificial...",2020-02-27,0DB68ZX
2,66217400,Emergency Room and Inpatient Visit,2018-06-27,2019-08-17,None,1861428,26955,"Excision of Ascending Colon, Via Natural or Ar...",2020-02-27,0DBK8ZX
3,66217400,Emergency Room and Inpatient Visit,2018-06-27,2019-08-17,None,1861428,30589,"Dilation of Left Anterior Tibial Artery, Percu...",2020-03-09,047Q3ZZ
4,66217400,Emergency Room and Inpatient Visit,2018-06-27,2019-08-17,None,1861428,34474,"Excision of Duodenum, Via Natural or Artificia...",2020-02-27,0DB98ZX
5,8790700,Outpatient Visit,2016-07-20,2017-09-19,None,1861428,38182,Fluoroscopy of Right Lower Extremity Arteries ...,2020-03-09,B41FYZZ
6,66217400,Emergency Room and Inpatient Visit,2018-06-27,2019-08-17,None,1861428,43885,Transfusion of Nonautologous Red Blood Cells i...,2020-03-11,30233N1
7,8790700,Outpatient Visit,2016-07-20,2017-09-19,None,1861428,58054,"Inspection of Peritoneum, Percutaneous Endosco...",2020-03-14,0DJW4ZZ
8,66217400,Emergency Room and Inpatient Visit,2018-06-27,2019-08-17,None,1861428,84354,"Excision of Ileum, Via Natural or Artificial O...",2020-02-27,0DBB8ZX

In [131]:
table_name = 'con_drug'
query = text(f"SELECT * FROM {table_name} cd WHERE cd.drug_exposure_start_date > cd.condition_start_date;")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
result

2024-04-19 16:38:10,782 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 16:38:10,783 INFO sqlalchemy.engine.Engine SELECT * FROM con_drug cd WHERE cd.drug_exposure_start_date > cd.condition_start_date;
2024-04-19 16:38:10,783 INFO sqlalchemy.engine.Engine [cached since 957.4s ago] {}
2024-04-19 16:38:10,843 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:

,person_id,birth_datetime,gender,race,condition_name,condition_start_date,condition_end_date,drug_name,drug_exposure_start_date,drug_exposure_end_date
0,5675534,1977-03-19,male,Black Or African American,None,2018-08-21,None,Microencapsulated potassium chloride 20 MEQ Ex...,2018-08-22,2018-08-22
1,5675534,1977-03-19,male,Black Or African American,Congestive heart failure,2018-08-04,None,Microencapsulated potassium chloride 20 MEQ Ex...,2018-08-22,2018-08-22
2,1372782,1976-06-01,Female,Asian,Hypervolemia,2020-03-13,None,potassium chloride 20 MEQ Extended Release Ora...,2020-04-26,2020-03-23
3,1372782,1976-06-01,Female,Asian,Lymphocytosis,2020-03-13,None,potassium chloride 20 MEQ Extended Release Ora...,2020-04-26,2020-03-23
4,1372782,1976-06-01,Female,Asian,None,2020-03-13,None,potassium chloride 20 MEQ Extended Release Ora...,2020-04-26,2020-03-23
5,1372782,1976-06-01,Female,Asian,End-stage renal disease,2020-03-13,None,potassium chloride 20 MEQ Extended Release Ora...,2020-04-26,2020-03-23
6,1372782,1976-06-01,Female,Asian,Congestive heart failure,2020-03-13,None,potassium chloride 20 MEQ Extended Release Ora...,2020-04-26,2020-03-23
7,1372782,1976-06-01,Female,Asian,Toxic gastroenteritis,2020-03-13,None,potassium chloride 20 MEQ Extended Release Ora...,2020-04-26,2020-03-23
8,1372782,1976-06-01,Female,Asian,Arteriosclerotic gangrene,2020-03-13,None,potassium chloride 20 MEQ Extended Release Ora...,2020-04-26,2020-03-23
9,1372782,1976-06-01,Female,Asian,Atherosclerosis of artery of lower limb,2020-03-13,None,potassium chloride 20 MEQ Extended Release Ora...,2020-04-26,2020-03-23
10,1372782,1976-06-01,Female,Asian,Peritonitis,2020-03-13,None,potassium chloride 20 MEQ Extended Release Ora...,2020-04-26,2020-03-23
11,1372782,1976-06-01,Female,Asian,None,2020-03-13,None,potassium chloride 20 MEQ Extended Release Ora...,2020-04-26,2020-03-23
12,1372782,1976-06-01,Female,Asian,Hypervolemia,2020-03-13,None,sevelamer carbonate 800 MG Oral Tablet,2020-05-27,2020-03-23
13,1372782,1976-06-01,Female,Asian,Lymphocytosis,2020-03-13,None,sevelamer carbonate 800 MG Oral Tablet,2020-05-27,2020-03-23
14,1372782,1976-06-01,Female,Asian,None,2020-03-13,None,sevelamer carbonate 800 MG Oral Tablet,2020-05-27,2020-03-23
15,1372782,1976-06-01,Female,Asian,End-stage renal disease,2020-03-13,None,sevelamer carbonate 800 MG Oral Tablet,2020-05-27,2020-03-23
16,1372782,1976-06-01,Female,Asian,Congestive heart failure,2020-03-13,None,sevelamer carbonate 800 MG Oral Tablet,2020-05-27,2020-03-23
17,1372782,1976-06-01,Female,Asian,Toxic gastroenteritis,2020-03-13,None,sevelamer carbonate 800 MG Oral Tablet,2020-05-27,2020-03-23
18,1372782,1976-06-01,Female,Asian,Arteriosclerotic gangrene,2020-03-13,None,sevelamer carbonate 800 MG Oral Tablet,2020-05-27,2020-03-23
19,1372782,1976-06-01,Female,Asian,Atherosclerosis of artery of lower limb,2020-03-13,None,sevelamer carbonate 800 MG Oral Tablet,2020-05-27,2020-03-23
20,1372782,1976-06-01,Female,Asian,Peritonitis,2020-03-13,None,sevelamer carbonate 800 MG Oral Tablet,2020-05-27,2020-03-23
21,1372782,1976-06-01,Female,Asian,None,2020-03-13,None,sevelamer carbonate 800 MG Oral Tablet,2020-05-27,2020-03-23
22,1372782,1976-06-01,Female,Asian,Hypervolemia,2020-03-13,None,2.5 ML argatroban 100 MG/ML Injection,2020-05-06,2020-04-02
23,1372782,1976-06-01,Female,Asian,Lymphocytosis,2020-03-13,None,2.5 ML argatroban 100 MG/ML Injection,2020-05-06,2020-04-02
24,1372782,1976-06-01,Female,Asian,None,2020-03-13,None,2.5 ML argatroban 100 MG/ML Injection,2020-05-06,2020-04-02
25,1372782,1976-06-01,Female,Asian,End-stage renal disease,2020-03-13,None,2.5 ML argatroban 100 MG/ML Injection,2020-05-06,2020-04-02
26,1372782,1976-06-01,Female,Asian,Congestive heart failure,2020-03-13,None,2.5 ML argatroban 100 MG/ML Injection,2020-05-06,2020-04-02
27,1372782,1976-06-01,Female,Asian,Toxic gastroenteritis,2020-03-13,None,2.5 ML argatroban 100 MG/ML Injection,2020-05-06,2020-04-02
28,1372782,1976-06-01,Female,Asian,Arteriosclerotic gangrene,2020-03-13,None,2.5 ML argatroban 100 MG/ML Injection,2020-05-06,2020-04-02
29,1372782,1976-06-01,Female,Asian,Atherosclerosis of artery of lower limb,2020-03-13,None,2.5 ML argatroban 100 MG/ML Injection,2020-05-06,2020-04-02
30,1372782,1976-06-01,Female,Asian,Peritonitis,2020-03-13,None,2.5 ML argatroban 100 MG/ML Injection,2020-05-06,2020-04-02
31,1372782,1976-06-01,Female,Asian,None,2020-03-13,None,2.5 ML argatroban 100 MG/ML Injection,2020-05-06,2020-04-02
32,1372782,1976-06-01,Female,Asian,Hypervolemia,2020-03-13,None,budesonide 3 MG Delayed Release Oral Capsule,2020-04-11,2020-04-07
33,1372782,1976-06-01,Female,Asian,Lymphocytosis,2020-03-13,None,budesonide 3 MG Delayed Release Oral Capsule,2020-04-11,2020-04-07
34,1372782,1976-06-01,Female,Asian,None,2020-03-13,None,budesonide 3 MG Delayed Release Oral Capsule,2020-04-11,2020-04-07
35,1372782,1976-06-01,Female,Asian,End-stage renal disease,2020-03-13,None,budesonide 3 MG Delayed Release Oral Capsule,2020-04-11,2020-04-07
36,1372782,1976-06-01,Female,Asian,Congestive heart failure,2020-03-13,None,budesonide 3 MG Delayed Release Oral Capsule,2020-04-11,2020-04-07
37,1372782,1976-06-01,Female,Asian,Toxic gastroenteritis,2020-03-13,None,budesonide 3 MG Delayed Release Oral Capsule,2020-04-11,2020-04-07
38,1372782,1976-06-01,Female,Asian,Arteriosclerotic gangrene,2020-03-13,None,budesonide 3 MG Delayed Release Oral Capsule,2020-04-11,2020-04-07
39,1372782,1976-06-01,Female,Asian,Atherosclerosis of artery of lower limb,2020-03-13,None,budesonide 3 MG Delayed Release Oral Capsule,2020-04-11,2020-04-07
40,1372782,1976-06-01,Female,Asian,Peritonitis,2020-03-13,None,budesonide 3 MG Delayed Release Oral Capsule,2020-04-11,2020-04-07
41,1372782,1976-06-01,Female,Asian,None,2020-03-13,None,budesonide 3 MG Delayed Release Oral Capsule,2020-04-11,2020-04-07

In [136]:
table_name = 'PERSON'
query = text(f"""SELECT
    p.person_id, c1.concept_name as measurement_before_drug_name, m1.measurement_datetime AS measurement_before_drug_datetime,
    m1.value_as_number AS measurement_before_drug_value, c2.concept_name as measurement_after_drug_name,
    m2.measurement_datetime AS measurement_after_drug_datetime, m2.value_as_number AS measurement_after_drug_value
FROM
    {table_name} p
JOIN
    CONDITION_OCCURRENCE co ON p.person_id = co.person_id
JOIN
    MEASUREMENT m1 ON p.person_id = m1.person_id AND m1.measurement_datetime > co.condition_start_date
JOIN
    DRUG_EXPOSURE de ON p.person_id = de.person_id AND de.drug_exposure_start_date > co.condition_start_date
JOIN
    MEASUREMENT m2 ON p.person_id = m2.person_id AND m2.measurement_datetime > de.drug_exposure_start_date

LEFT JOIN CONCEPT c1 ON m1.measurement_concept_id = c1.concept_id
LEFT JOIN CONCEPT c2 ON m2.measurement_concept_id = c2.concept_id

WHERE
    co.condition_concept_id = 319835;""")
result = pd.read_sql(query, con=engine)
print("Data retrieved from the database:")
result

2024-04-19 17:04:53,914 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-04-19 17:04:53,916 INFO sqlalchemy.engine.Engine SELECT
    p.person_id,
    c1.concept_name as measurement_before_drug_name,
    m1.measurement_datetime AS measurement_before_drug_datetime,
    m1.value_as_number AS measurement_before_drug_value,
    c2.concept_name as measurement_after_drug_name,
    m2.measurement_datetime AS measurement_after_drug_datetime,
    m2.value_as_number AS measurement_after_drug_value
FROM
    PERSON p
JOIN
    CONDITION_OCCURRENCE co ON p.person_id = co.person_id
JOIN
    MEASUREMENT m1 ON p.person_id = m1.person_id AND m1.measurement_datetime > co.condition_start_date
JOIN
    DRUG_EXPOSURE de ON p.person_id = de.person_id AND de.drug_exposure_start_date > co.condition_start_date
JOIN
    MEASUREMENT m2 ON p.person_id = m2.person_id AND m2.measurement_datetime > de.drug_exposure_start_date

LEFT JOIN CONCEPT c1 ON m1.measurement_concept_id = c1.concept_id
LEFT JOIN CONCEPT c2 ON m2.measurement_concept_id = c2.concept_id

WHERE
    co.condition_concept_id = 319835;
2024-04-19 17:04:53,918 INFO sqlalchemy.engine.Engine [generated in 0.01744s] {}
2024-04-19 17:04:54,056 INFO sqlalchemy.engine.Engine ROLLBACK
Data retrieved from the database:

,person_id,measurement_before_drug_name,measurement_before_drug_datetime,measurement_before_drug_value,measurement_after_drug_name,measurement_after_drug_datetime,measurement_after_drug_value
0,5675534,Potassium [Moles/volume] in Serum or Plasma,2018-08-21 05:59:00,3.8,Potassium [Moles/volume] in Serum or Plasma,2018-08-22 02:27:00,4.4
1,5675534,Potassium [Moles/volume] in Serum or Plasma,2018-08-04 07:06:00,3.1,Potassium [Moles/volume] in Serum or Plasma,2018-08-22 02:27:00,4.4
2,5675534,Potassium [Moles/volume] in Serum or Plasma,2018-08-20 03:36:00,3.8,Potassium [Moles/volume] in Serum or Plasma,2018-08-22 02:27:00,4.4
3,5675534,Potassium [Moles/volume] in Serum or Plasma,2018-08-22 02:27:00,4.4,Potassium [Moles/volume] in Serum or Plasma,2018-08-22 02:27:00,4.4
4,5675534,Potassium [Moles/volume] in Serum or Plasma,2018-08-07 02:38:00,4.2,Potassium [Moles/volume] in Serum or Plasma,2018-08-22 02:27:00,4.4